.custom-box input[type="checkbox"] {
    display:none;
}

.custom-box input[type="checkbox"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
    font-size:14px;
    width: 15px;
}

.custom-box input[type="checkbox"] + label span {
    display:inline-block;
    width:18px;
    height:16px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

.custom-box input[type="checkbox"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -19px top no-repeat;
}

.edit-avl-chk {
    margin: 17px 0 0;
    float:right;
}