/*media quiries for custom sections*/

@media only screen and (min-width:245px) and (max-width:479px){
    body {padding:0px;}
    footer, #footer-credits {margin-left: 0px;margin-right: 0px;padding-left: 0px;padding-right: 0px;}
    #single-team .team-img {margin: 0 auto 20px !important;max-width: 50%;float:none;}
    #single-team .team-img img {max-height: 150px;min-height: 150px;}
    .user-pro-url-adjust{margin-bottom: 15px;}
    .btn-connect {right: -1px;}
    #single-team .team-name h2{float:none;}
    #single-team .team-name h3{float:none;}
    #single-team .team-name p{float:none;}

    div.radio{float:none;}
    .green-badge{display: table; margin: 0 auto !important;}
    .grey-badge{display: table; margin: 0 auto !important;}
    header, #navigation-mobile, #intro-box, #latest-work, #title-page, #twitter-feed, footer, #footer-credits { margin-left: 0px; margin-right: 0px;padding-left: 0px;padding-right: 0px;}
    .video-container{height:auto;margin: 0 auto;width: 96%;}

    .embed-video-ico-support {margin-top: 0; }
    .user-pro-url-adjust > .btn-group{margin: 0 auto; display: table;}
    .video-embed-url-field{width: 98% !important;;margin-left: 1% !important;}
    .video-section-embed-url-btn{right:1% !important;top:-0.5px;}
    .latest-work-disp{width: 100%; padding: 0;}
    .user-port-work-ops{margin-left: auto; margin-right:auto;}
    .user-port-work-ops li{margin: 0 10px 0 16px;}
    #latest-work{margin: 0 auto !important;padding: 0 2% !important;position: relative;width: 94%;}
    .btn-add-skills{right: 2px !important; width: auto;}
    .btn-recommend-request{right: 2px !important; width: auto;}
    .offset-custom-1 {margin-left: 8px;}
    .navbar-inner{padding-left: 8px;padding-right: 8px;}
    .navbar .nav.pull-right{margin-top: 1px;}
    .button-main + .button-main { margin-left: 6px;}
    .button-main.button-small {font-size: 14px;}
    .nav-fixed-top {padding-bottom: 3px;padding-top: 11px;}
    .edit-avl-chk{float:none !important; margin: 0 auto; display: table;}
    .button-main.button-large {font-size: 16px;padding: 18px 30px;}
    .user-port-dp-ops li a{width: 50px; height: 50px; line-height: 50px;}

    header{padding: 0 20px; width: auto;}
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .content{box-shadow: none;}
    #single-team .team-img {margin: 0 auto 20px !important;max-width: 50%;float:none;}
    #single-team .team-img img {max-height: 210px;min-height: 150px;}
    .user-pro-url-adjust{margin-bottom: 15px;}
    .btn-connect {right: -1px;}

    div.radio{float:none;}
    .green-badge{display: table; margin: 0 auto !important;}
    .grey-badge{display: table; margin: 0 auto !important;}
    header, #navigation-mobile, #intro-box, #latest-work, #title-page, #twitter-feed, footer, #footer-credits { margin-left: 0px; margin-right: 0px;padding-left: 0px;padding-right: 0px;}
    .video-container{height:auto;margin: 0 auto;width: 96%;}

    .embed-video-ico-support {margin-top: 0; }
    .user-pro-url-adjust > .btn-group{margin: 0 auto; display: table;}
    .video-embed-url-field{width: 98% !important;;margin-left: 1% !important;}
    .video-section-embed-url-btn{right:1% !important;}
    .latest-work-disp{width: 100%; padding: 0;}
    .user-port-work-ops{margin: 0 auto;}
    .user-port-work-ops li{margin: 0 10px 0 21px;}
    #latest-work{margin: 0 auto !important;padding: 0 2% !important;position: relative;width: 94%;}
    .btn-add-skills{right: 2px !important;}
    .btn-recommend-request{right: 2px !important;}
    .gallery-best-container{padding-bottom: 0% !important;}
    #gallery-box{padding: 0; margin-bottom: 0 !important;}
}
@media only screen and (min-width: 768px) and (max-width: 1004px){
    .content{margin-left: -1px; margin-bottom: 0;}
    .visible-phone {display: block !important;}
    .display{background: #fff; box-shadow: 2px 3px 3px 1px #818183;border-left: 1px solid #DAE3E9; z-index: 99999;}
    #menu-toggler{display: none;}

    #dashboard-menu li a span { visibility: visible;}
    #single-team .team-img {margin: 0 auto 20px !important;max-width: 100%;float:none;}
    #single-team .team-img img {max-height: 150px;min-height: 150px;}
    .profile-url-tab input{float: right !important; width:88% !important;}
    .user-pro-url-adjust{margin-bottom: 15px;}
    .btn-connect {right: -20px;}

    div.radio{float:right; margin-top: 30px !important;}
    .green-badge{display: table; margin: 0 auto !important;}
    .grey-badge{display: table; margin: 0 auto !important;}
    header, #navigation-mobile, #intro-box, #latest-work, #title-page, #twitter-feed, footer, #footer-credits { margin-left: 0px; margin-right: 0px;padding-left: 0px;padding-right: 0px;}
    .video-container{height:auto;margin: 0 auto;width: 96%; padding-bottom: 0;}

    .embed-video-ico-support {margin-top: 0; }
    .user-pro-url-adjust > .btn-group{margin: 0 auto; display: table;}
    .video-embed-url-field{width: 98% !important;;margin-left: 1% !important;}
    .video-section-embed-url-btn{right:-100px !important;}
    .latest-work-disp{width: 100%; padding: 0;}
    .user-port-work-ops{margin: 0 auto;}
    .user-port-work-ops li{margin: 0 10px 0 21px;}
    #latest-work{margin: 0 auto !important;padding: 0 2% !important;position: relative;width: 94%;}
    .btn-add-skills{right: 2px !important;}
    .btn-recommend-request{right: 2px !important;}
    .gallery-best-container{padding-bottom: 0% !important;}
    #gallery-box{padding: 0; margin-bottom: 0 !important;}
    .profile-main-img-editor{width: 106%;}
    .user-port-dp-ops li a{width: 40px; height: 40px; line-height: 40px;}

}

/*media quiries for custom sections*/