@media screen and (-webkit-min-device-pixel-ratio:0) {
body:first-of-type .btn-connect{position: absolute; right: -20px; top: -0.5px;}
body:first-of-type .btn-add-skills{position: absolute; right: -20px; top: -0.5px;}
body:first-of-type .btn-recommend-request{position: absolute; right: -20px; top: -0.5px;}
body:first-of-type .btn-theme-anb { padding: 18px 30px !important; }
body:first-of-type .network-btn-support{margin-top: 1px;}

body:first-of-type [contenteditable]:focus { outline: 0px solid transparent; }
body:first-of-type [contenteditable="true"]:active, body:first-of-type [contenteditable="true"]:focus{ border:none; outline:none;}
}

 /*chrome hacks ends here*/


[contenteditable]:focus { outline: 0px solid transparent; }
[contenteditable="true"]:active, [contenteditable="true"]:focus{ border:none; outline:none;}



.loader-save{margin: 0; padding: 0; position: fixed; z-index: 9999; width: 100%; height: 100%; background:url("../img/ajax-loader.gif") center center no-repeat; display: block; }
.loader-save-holder{margin: 0; padding: 0; position: fixed; z-index: 999; width: 100%; height: 100%; background:url("../img/transp.png") top left repeat; display: block; top: 0; }
/* Custom navbar stuff */

/* search input */

.navbar{transition:all ease-in-out 0.3s}

.navbar-inverse input.search {
    background: url("../img/lens.png") #0f1217 no-repeat 95%;
    border: 1px solid #0f1217;
    position: relative;
    border-radius: 4px;
    top: 9px;
    padding: 3px 6px;
    color: #000;
    font-size: 13px;
    margin-right: 40px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;

}
.navbar-inverse input.search:focus {
    background-color: #fff;
}
/* navbar settings and logout icons */
.navbar-inverse .settings i {
    color: #9ba3ad;
    font-size: 21px;
}


/* notification menu with custom dropdowns */
.navbar-inverse .notification-dropdown {
    position: relative;
}
.navbar-inverse .notification-dropdown > a:hover,
.navbar-inverse .notification-dropdown > a.active {
    background: #254261 !important;
    box-shadow: inset 1px 0px 1px 0px rgb(62, 90, 121);
}
.navbar-inverse .notification-dropdown i {
    font-size: 17px;
    color: #9ba3ad;
}
.navbar-inverse .notification-dropdown .count {
    position: absolute;
    top: 1px;
    left: 58%;
    background: rgb(53, 186, 196);
    padding: 0px 5px;
    border-radius: 30px;
    color: #fff;
    line-height: 16px;
    z-index: 9999;
    text-align: center;
    font-size: 11px;
}

/* navbar popup dialog */
.navbar-inverse .pop-dialog {
    left: -10px;
    position: absolute;
    top: 50px;
}
.navbar-inverse .pop-dialog.is-visible {
    display: block;
}
.navbar-inverse .pop-dialog .body {
    box-shadow: 0px 1px 9px 1px #c2c2c2;
}
.navbar-inverse .pop-dialog .close-icon {
    float: right;
    text-decoration: none;
    z-index: 9999;
    position: relative;
    color: #333;
    font-size: 14px;
    margin: 0 5px 0 0;
}
.navbar-inverse  .pop-dialog .footer {
    border-top: 1px solid #e6e8e9;
    background-color: #eff4f7;
    margin: 15px 0px -10px 0px;
    border-radius: 0px 0px 5px 5px;
    padding: 12px 20px;
    text-align: center;
}
.navbar-inverse  .pop-dialog .footer a {
    font-weight: 600;
    color: #7d91a8;
}

/* navar popup dialog for notifications */
.navbar-inverse  .pop-dialog .notifications {
    margin: 10px 0 0;
}
.navbar-inverse  .pop-dialog .notifications h3 {
    font-size: 13px;
    color: #404951;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.navbar-inverse  .pop-dialog .notifications .item {
    display: block;
    padding: 10px 0px 8px 20px;
    border-top: 1px solid #e7e8ea;
    color: rgb(54, 54, 54);
    text-decoration: none;
    padding-left: 44px;
    position: relative;
    font-weight: 300;
    font-size: 13px;
}
.navbar-inverse  .pop-dialog .notifications .item:hover {
    background: rgb(240, 246, 255);
}
.navbar-inverse  .pop-dialog .notifications .item > i {
    color: rgb(252, 130, 123);
    position: absolute;
    left: 19px;
    font-size: 18px;
    top: 13px;
}
.navbar-inverse  .pop-dialog .notifications .item > i.icon-user {
    left: 18px;
}
.navbar-inverse  .pop-dialog .notifications .item .time {
    float: right;
    color: #82a3c1;
    font-style: italic;
    font-weight: 600;
    font-size: 11px;
    min-width: 60px;
    margin-right: 5px;
}
.navbar-inverse  .pop-dialog .notifications .item .time i {
    font-size: 13px;
    color: #cfcfcf;
    margin-right: 1px;
}

/* navar popup dialog for messages */
.navbar-inverse .pop-dialog .messages {
    width: 330px;
    margin: 10px -10px 0px -10px;
}
.navbar-inverse  .pop-dialog .messages .item {
    display: block;
    padding: 10px 20px 15px 20px;
    height: 54px;
    border-bottom: 1px solid #e7e8ea;
    color: rgb(54, 54, 54);
    text-decoration: none;
    position: relative;
    transition: all .25s linear;
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
}
.navbar-inverse  .pop-dialog .messages .item.last {
    border-bottom: 0px;
}
.navbar-inverse  .pop-dialog .messages .item:hover {
    background: rgb(240, 246, 255);
}
.navbar-inverse  .pop-dialog .messages .item .display {
    float: left;
    border-radius: 50px;
    margin-right: 15px;
}
.navbar-inverse  .pop-dialog .messages .item .name {
    font-size: 12px;
    color: #404951;
    font-weight: bold;
}
.navbar-inverse  .pop-dialog .messages .item .msg {
    font-size: 11px;
    color: rgb(117, 118, 119);
    font-weight: 600;
    line-height: 13px;
    position: relative;
    top: -1px;
}
.navbar-inverse  .pop-dialog .messages .item .time {
    position: absolute;
    right: 0px;
    bottom: 6px;
    color: #82a3c1;
    font-style: italic;
    font-weight: 600;
    font-size: 11px;
    min-width: 60px;
    margin-right: 5px;
}
.navbar-inverse  .pop-dialog .messages .item .time i {
    font-size: 13px;
    color: #cfcfcf;
    margin-right: 1px;
}
.navbar-inverse  .pop-dialog .messages .footer {
    margin-top: 6px;
}

.logo-main
{
    max-width: 60%;
}


/* Sidebar */
#sidebar-nav {
    position: absolute;
    width: 180px;
    float: left;
    margin: 0em;
    padding-top: 5.8em;
    font-size: 12px;
}
#dashboard-menu {
    list-style: none;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
    margin-left: 20px;
}
#dashboard-menu > li > a {
    display: block;
    margin-right: -15px;
    margin-left: -15px;
    padding: 19px 14px 15px 14px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dae1e8;
    box-shadow: 0 2px 1px -1px #FFFFFF;
    color: rgb(110, 130, 155);
    outline: 0px;
    width: 88%;
}
#dashboard-menu > li {
    position: relative;
}
/* font awesome icon */
#dashboard-menu > li .icon-group {
    font-size: 22px;
}
#dashboard-menu > li i {
    font-size: 23px;
    top: 17px;
}
#dashboard-menu .pointer {
    position: absolute;
    right: 7px;
    top: 20px;
}
#dashboard-menu .pointer .arrow,
#dashboard-menu .pointer .arrow_border {
    border-color: transparent #fff transparent transparent;
    border-width: 11px;
    border-style: solid;
    font-size: 0;
    left: 50%;
    line-height: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1002;
    left: 0;
    margin-left: 45%;
}
#dashboard-menu .pointer .arrow_border {
    border-color: transparent rgb(192, 210, 221) transparent transparent;
    border-width: 11px;
    margin-left: -1px;
    border-style: solid;
    z-index: 1001;
    top: 0px;
}
#dashboard-menu a span {
    margin-left: 35px;
    transition: color .1s linear;
    -moz-transition: color .1s linear;
    -webkit-transition: color .1s linear;
    -o-transition: color .1s linear;
    font-weight: lighter;
}
#dashboard-menu a.ui-elements span {
    margin-left: 25px;
}
#dashboard-menu a i {
    position: absolute;
    left: 0;
    height: 24px;
    width: 24px;
    opacity: 0.7;
    transition: opacity .1s ease;
    -moz-transition: opacity .1s ease;
    -webkit-transition: opacity .1s ease;
    -o-transition: opacity .1s ease;
}
#dashboard-menu a i.icon-chevron-down {
    position: relative;
    float: right;
    top: 5px;
    font-size: 11px;
    color: rgb(104, 104, 104);
    width: initial;
    height: initial;
}
#dashboard-menu > li:hover i{
    opacity: 1;
}


#dashboard-menu > li.active > a,
#dashboard-menu > li > a:hover {
    color: rgba(51, 69, 90, 1);
    text-decoration: none;
}
#dashboard-menu > li.active a {
    font-weight: 600;
    text-shadow: 1px 1px 1px #fff;
}
#dashboard-menu > li.active i{
    opacity: 1;
}

/* sidebar submenus */
#dashboard-menu > li.active .dropdown-toggle {
    border-bottom: 0px;
    box-shadow: none;
}
#dashboard-menu ul.submenu {
    list-style-type: none;
    display: none;
    margin-top: 7px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: -15px;
    padding-left: 15px;
    border-bottom: 1px solid #dae1e8;
    box-shadow: 0 2px 1px -1px #FFFFFF;
    padding-bottom: 10px;
}
#dashboard-menu ul.submenu.active {
    display: block;
}
#dashboard-menu ul.submenu a {
    font-weight: normal;
    font-size: 13px;
    color: rgb(76, 83, 90);
    text-decoration: none;
    display: block;
    margin-bottom: 7px;
}
#dashboard-menu ul.submenu a:hover {
    text-decoration: underline;
}
#dashboard-menu ul.submenu a.active {
    font-weight: bold;
    text-shadow: none;
}
#pad-wrapper {
    padding: 0px 25px;
    margin-top: 55px;
}
#pad-wrapper h4 {
    margin: 0px 0px 12px 4px;
    color: #696d73;
    font-style: italic;
}
.content {
    min-width: 400px;
    min-height: 620px;
    /*margin-bottom: 100px;*/
   /* padding-bottom: 50px;*/
    overflow: hidden;
    position: relative;
    background: #fff;
    margin-left: 177px;
    border-left: 1px solid #dae3e9;
    /*border-bottom: 1px solid #dae3e9;*/
    box-shadow: -3px 3px 3px -2px #f1f1f3;
    border-radius: 0px 0px 0px 5px;
    transition:all 0.3s ease-in-out 0s;
}
.content.wide-content {
    margin-left: 0;
    border-radius: 0;
}

/*on off trigger alignment*/

.email-notifications li .slider-frame {
    margin: 21px 0 0 !important;
    vertical-align: middle;
}

/*on off trigger alignment*/

/*account detail on off trigger*/

.linked-accounts-list li .slider-frame{margin: 32px 0 0 0;}

/*account detail on off trigger*/

/* starts skins changer */
.content .skins-nav {
    opacity: 1;
    -webkit-transition: right .3s;
    -moz-transition: right .3s;
    -ms-transition: right .3s;
    -o-transition: right .3s;
    transition: right .3s;

    position: fixed;
    right: -85px;
    top: 135px;
    font-size: 13px;
    z-index: 9999;
}
.content .skins-nav:hover {
    right: 0;
}
.content .skins-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    height: 37px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    margin-bottom: 3px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.content .skins-nav a.first_nav {
    background: rgba(95, 175, 228, 0.8);
}
.content .skins-nav a.second_nav {
    background: rgba(36, 43, 77, 0.8);
}
.content .skins-nav a.first_nav:hover {
    background: rgba(95, 175, 228, 1);
}
.content .skins-nav a.second_nav:hover {
    background: rgba(36, 43, 77, 1);
}
.content .skins-nav a .icon {
    float: left;
    width: 9px;
    height: 10px;
    background: url('../img/skin-nav-bullets.png') 0 0 no-repeat;
    margin: 15px 15px 0 5px;
}
.content .skins-nav a.selected .icon {
    background-position: 0 -9px;
}
.content .skins-nav a .text {
    padding-right: 12px;
    white-space: nowrap;
    display: block;
    width: 100px;
    position: relative;
    top: 9px;
    -webkit-transition: width .2s;
    -moz-transition: width .2s;
    -ms-transition: width .2s;
    -o-transition: width .2s;
    transition: width .2s;
}
/* end skin changer*/



/* responsive */
@media (max-width: 1024px) {
    .content {
        margin-left: 65px;
    }
    #dashboard-menu {
        margin-left: 5px;
    }
    #dashboard-menu .pointer {
        display: none;
    }
    #dashboard-menu li a span {
        visibility: hidden;
    }
}
@media (max-width: 600px) {
    .content {
        margin-left: 0em;
        border-left-width: 0px;
    }
}
@media (max-width: 822px) {
    .navbar-inverse input.search {display: none;}
}
@media (max-width: 767px) {
    #pad-wrapper {
        padding: 0px 10px;
    }
    .content {
        min-width: 0px;
        margin:0;
    }
    #main-stats .stat{
        width: 50%;
        float: left;
    }

    #sidebar-nav {
        left: -200px;
        position: fixed;
        z-index: 9999;
        background-color: #f7f7f7;
        padding-top: 0px;
        border-right: 1px solid #ccc;
        width: 165px;
        box-shadow: 1px 1px 4px 1px rgb(233, 233, 233);

        -webkit-transition: left .25s ease;
        -moz-transition: left .25s ease;
        -o-transition: left .25s ease;
        -ms-transition: left .25s ease;
        transition: left .25s ease;
    }
    #sidebar-nav #dashboard-menu {
        margin-left: 10px;
    }
    #sidebar-nav #dashboard-menu li a span {
        visibility: visible;
    }
    #sidebar-nav #dashboard-menu li:last-child a {
        border-bottom: 0px;
        box-shadow: none;
    }
    #sidebar-nav.display {
        position: absolute;
        left: 0;
        height: 100%;
    }
}


.custom-hide{display: none;}
#sidebar-nav .btn-navbar {
    /*background-color: #0E0E0E;
        background-image: linear-gradient(to bottom, #151515, #040404);
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        color: #FFFFFF;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
    background: none;
    border: 0;
}
#sidebar-nav .btn-navbar {
    /*float: left;
    margin-top: 10px;*/
    margin: 0 0 0 30px;
}

#sidebar-nav .btn-navbar .icon-bar {
    background-color: #F5F5F5;
    border-radius: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
}

.change .content{margin-left: 65px;}
.change #dashboard-menu{margin-left: 0px;}
.change #dashboard-menu li a span {visibility: hidden;}
.change #sidebar-nav .btn-navbar{margin-left:12px;}
.change #dashboard-menu .pointer .arrow, .change #dashboard-menu .pointer .arrow_border{left:-111px;}
/*.change #dashboard-menu .pointer .arrow_border{margin-left: -1px;}*/


@media (min-width: 220px) and (max-width: 480px) {
    .bth-hide{display: none !important;}
}

.layer1 {
    position: relative !important;
}

/*.new-nav-btn1 {
    background: none repeat scroll 0 0 #323A45 !important;
    border: 0 none;
    border-radius: 0;
}*/

.new-nav-btn1 span {
    color: #FFFFFF;
}

.offset-custom-1 {
    margin-left: 10px;
}
/*.new-nav-btn1 {
    background: none repeat scroll 0 0 #323A45 !important;
    border: 0 none;
    border-radius: 0;
}*/

.offset-custom-2 {
    margin-left: 10px;
}

.new-nav-btn1-color {
    background: none repeat scroll 0 0 #96C134 !important;
}


.navbar-inverse .pop-dialog .close-icon {
    color: #333333;
    float: right;
    font-size: 14px;
    margin: 0 5px 0 0;
    position: relative;
    text-decoration: none;
    z-index: 9999;
}

/*.add-key-button {
    float: left;
    font-size: 20px !important;
    font-weight: bold !important;
    margin: 15px 0 0 0;
    padding: 20px 2%;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}*/


.latest-work-holder{position: relative; z-index: 9; float: none;  margin: 0 auto;}
.latest-work-disp{cursor:pointer;margin: 0; padding: 0 0 0 12%; width: 88.0%; height: 100%; float: left; position: absolute; z-index: 99; top: 0;background: url("../img/ltwrk-trans.png")top left repeat; overflow-y: auto;}
.latest-work-disp h4{margin: 10% 0 10px 0;}
.latest-work-disp .ltwrk-disp{margin:0 0 10px 0; font-size: 14px; line-height: 22px;}
.latest-work-disp .ltwrk-tools{margin:20px 0 0 0; font-size: 14px; line-height: 22px; font-style: italic;}

.latest-work-holder > .latest-work-disp{opacity:0;transition: opacity .25s ease-in-out;-moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out;}
.latest-work-holder:hover > .latest-work-disp{opacity:1;/*transform: rotate(0deg) scale(1.05);-webkit-transform: rotate(0deg) scale(1.05);-moz-transform: rotate(0deg) scale(1.05);-o-transform: rotate(0deg) scale(1.05);*/ z-index: 1;}
.latest-work-holder:hover > img{/*transform: rotate(0deg) scale(1.05);-webkit-transform: rotate(0deg) scale(1.05);-moz-transform: rotate(0deg) scale(1.05);-o-transform: rotate(0deg) scale(1.05);*/ z-index: 1; transition:all 0.2s ease-in-out 0s !important;}
.user-port-work-ops{padding: 0; float: none; display: table; margin:34% 0 0 10.5%;}
.user-port-work-ops li{margin: 0 10px 0 26px; padding: 0; display: inline; float:left;}
.user-port-work-ops li a{border-radius: 4px;height: 70px;transition: all 0.35s ease-in-out 0s; width: 70px; background: #f97e76; float: left; font-size: 22px; text-align: center; color: #fff; text-decoration: none; line-height: 70px;}
.done-completed{margin: 12px 0 0 0;}
.ico-adjust-right {
    margin-right: 10px;
    margin-top: 8px;
}
.btn-apply-changes {
    color: #FFFFFF !important;
}

.schemaholder {
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    padding: 5px 2%;
    display: none;
    overflow-x: hidden;
    width: 96%;
}
.color-swatch {
    border-radius: 2px;
    box-shadow: 0 0 5px #999999;
    display: block;
    float: left;
    height: 50px;
    margin: 10px 12px 10px 0;
    padding: 2px;
    position: relative;
    width: 50px;
    z-index: 9;
}
.color-swatch input.black {
    background: none repeat scroll 0 0 #000000 !important;
    border: 0 none;
    display: block;
    float: left;
    height: 50px;
    text-indent: -999em;
    width: 50px;
}
.swatch-caret {
    border-radius: 0;
    bottom: 2px;
    height: 19px;
    padding: 0 4px;
    position: absolute;
    right: 2px;
    width: 16px;
    z-index: 99;
}

.font-italic{font-style: italic;}

#single-team .row{/*margin-bottom: 50px;*/
    margin-top: 60px;}
#single-team .team-img {
    /*margin: 10px 0 0;
    max-width: 68%;*/
    position: relative;
    margin: 10px 0 0;
    width: 85%;
}

#social-connected-profile ul.public-social-list {
    margin: 0;
    text-align: center;
    border-top: 1px solid #E6E6E6;
    padding: 25px 0;
}

#social-connected-profile ul.public-social-list li {
    cursor: pointer;
    display: inline-block;
    list-style: none;
    margin: 0 ;
    padding: 10px 20px 0 0;
    width: auto;
    position: relative;
}

#social-connected-profile ul.public-social-list li:hover span{display: block;}

#social-connected-profile ul.public-social-list li span{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    display:none;
}

#social-connected-profile ul.public-social-list li a {
    background-color: transparent;
    /*-webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;*/
    display: block;
    /*height: 70px;
    width: 70px;*/

    -webkit-transition: background 0.35s ease-in-out 0s;
    -moz-transition: background 0.35s ease-in-out 0s;
    -o-transition: background 0.35s ease-in-out 0s;
    transition: background 0.35s ease-in-out 0s;
}

#social-connected-profile ul.public-social-list li a i {
    color: #D0DBE2;
    display: inline-block;
    font-size: 32px;
    /*line-height: 70px;*/
    margin: 0;

    -webkit-transition: color 0.15s ease-in-out 0s;
    -moz-transition: color 0.15s ease-in-out 0s;
    -o-transition: color 0.15s ease-in-out 0s;
    transition: color 0.15s ease-in-out 0s;
}

#social-connected-profile ul.public-social-list li:hover a {
}

#social-connected-profile ul.public-social-list li a:hover i {
    color: #F97E76;
}

.btn-ani{padding: 9px 12px; background: #f97e76; border: 0; border-radius: 2px}
.btn-ani i {font-size: 28px; color: #fff;}
.btn-ani:hover , .btn-ani:active , .btn-ani:focus{background: #f97e76;}

.btn-ani-embed{padding: 9px 12px; background: #e8eff5; border: 0; border-radius: 2px}
.btn-ani-embed i {font-size: 28px; color: #323a45;}
/*.btn-ani-embed:hover , .btn-ani:active , .btn-ani:focus{background: #e8eff5;}*/
/*.btn-ani-embed:hover i, .btn-ani:active i, .btn-ani:focus i{color: #F97E76;}*/

.btn-anbs{background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E9F0F4;
    border-radius: 2px;
    padding: 13.7px 20px;
}

.btn-anbs:hover , .btn-anbs:active , .btn-anbs:focus{background: #FFFFFF;}

.btn-anbs i.caret{
border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-top: 6px solid #D0DBE2;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
}

.default-margin-left{margin-left:0 !important; }
.profile-url-tab{position: relative;}
.btn-connect{position: absolute; right: -20px;}

.info-seperator{margin-bottom: 30px;}

.btn-theme-anb{/*padding: 16.5px 30px !important; font-weight: bold !important; font-size: 15 !important;*/background: #3B8ACD;}

.network-url-container{margin-bottom: 40px; margin-top: 40px;}

.btn-anb-new{background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E9F0F4;
    border-radius: 2px;
    box-shadow: none;
    color: #BCBCC4;
    font-size: 16px;
    height: auto;
    margin: 0;
    padding: 16px 24px;
    resize: none;
    transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;}

.btn-anb-new:hover, .btn-anb-new:focus {
    border-color: #D0DBE2;
    box-shadow: none;
    color: #323A45;
    background: none repeat scroll 0 0 #FFFFFF;
}

.edit-availability{font-weight: bold; color:#cfdce5; font-size: 24px; margin-top: 30px;}

.availability-options{margin-top: 45px;}

.green-badge{margin: 0; padding: 12px 24px; background: #59b958; border-radius: 2px; text-transform: uppercase; color:#fff; font-weight: 500;}

.grey-badge{margin: 0; padding: 12px 24px; background: #323a45; border-radius: 2px; text-transform: uppercase; color:#fff; font-weight: 500;}

.availability-ops{padding-bottom: 35px; border-bottom:1px solid #E6E6E6; margin-bottom: 45px;}

.avail-soon{margin-left: 71px;}

.area-darker{background:#2b333e;}

.embed-video-ico-support{color: #fff; font-size: 120px; margin-bottom:10px;}
.embed-image-ico-support{color: #2b333e; font-size: 90px; margin-top: 0px;}
.embed-title{font-size: 26px !important; color:#fff !important; margin-bottom: 20px !important;}
.embed-note{color:#ffffff;}
.dont-own-note{margin: 15px 0 35px 0; padding: 0; width: 100%; float:left; text-decoration: underline; color:#323A45; font-weight:lighter; text-align: center;}
.dont-own-note:hover{color:#323A45;}

.key-skills li a{position: relative; z-index: 9;}
.key-skills li a i{position: absolute; top:0; right:0; z-index: 999; color:#fff; display:none;}
.key-skills li a:hover i{display: block;}
.btn-drag{margin: 50px auto 5px auto; display: block;}
.text-grey{color:#AFAFAF;}

.add-skill-adjust{margin-top: 30px;}
.request-sent-container{margin-top: 30px;}

.request-sent-container .request-left-area h2{font-size: 30px; font-weight: 300; padding-left: 15px; margin-bottom:0;}
.request-sent-container .request-left-area span{font-size: 13px;  font-weight: lighter; padding-left: 15px; margin: 0; color: #f97e76; font-weight: bold;}

.request-sent-container .request-right-area i{margin-top: 12px; margin-right: 25px;font-size: 22px; cursor: pointer;}

.request-pending-container{margin-top: 50px;}

.request-pending-container .pending-left-area h2{font-size: 16px; font-weight: bold; padding-left: 15px; margin-bottom:0; text-transform: uppercase;}

.request-pending-container .pending-right-area i{margin-top: 12px; margin-right: 25px;font-size: 22px; cursor: pointer;}

.recomm-company{padding-left: 15px; clear: both;}
.recomm-dept{padding-left: 15px; clear: both;}
.recomm-dtl{padding-left: 15px; clear: both; margin-top: 15px; font-style: italic;}

.approve-btn{background: #97c040 !important;}

.edit-avail-ops {color: #CFDCE5 !important;margin-top: 30px ;}

.edit-avail-ops:hover{color:#fff !important;}

.btn-new-anb {
    color: #323A45 !important;
    font-size: 18px  !important;
    font-weight: 600  !important;
    margin-top:30px !important;

    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #E9F0F4 !important;
    border-radius: 2px !important;
    box-shadow: none !important;
    height: auto !important;
    margin-bottom:22px;
    padding: 15px !important;
    resize: none !important;
    transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s !important;
}

.btn-new-anb i{font-weight: 300 !important;}

.btn-new-anb:hover {color:#323A45 !important; background: #F97E76 !important;border-radius: 2px !important;}

.mdl-prf .field-box{margin-bottom: 20px;}
.mdl-prf .field-box input#extra_stuff {width: 79%;display: block;float: none; margin: 0 auto;}
.mdl-prf .field-box:last-child{margin-bottom:0px;}

.chart-top-holder {
    margin: 0;
    padding: 0px;
}

.round-chart-top {
    height: 250px;
    width: 329px;
    overflow: hidden;
}

.padding-default-left{padding: 0 !important;}

/*bootstrap center div*/

.col-center{margin: 0 auto; float:none;}

.ul-center{display: table; float:none; margin: 0 auto;}
.video-plugin-location img {
    width: 100%;
}

/*bootstrap center div*/


.image-disp-container{padding-right: 15px; margin: 0 0 0 -15px;}
.image-disp-container textarea{margin: 12px 0;}

.btn-dis{opacity:0.4;}
.btn-load-more-portfolio{display: table; float:none; margin: 0 auto;}

.nav-fixed-top{padding-top:2px; padding-bottom:2px; }

.work-exp-container .accordion-heading{margin-top:25px; margin-bottom: 15px;}
.edu-container .accordion-heading{margin-top:25px; margin-bottom: 15px;}
.awards-container .accordion-heading{margin-top:25px; margin-bottom: 15px;}


.profile-main-img-editor{margin: 0; padding: 0; width: 100%; height: 100%; float: left; position: absolute; z-index: 99; top: 0;background: url("../img/profile-trans.png")top left repeat;}
.pro-ops-holder{/*position: absolute; left: 50%;width: 100%;*/ display: table; width: 100%; height: 100%; min-height: 100%;}
.user-port-dp-ops{padding: 0; float: none; /*display: table; position: relative; left: -50%;*/ display: table; vertical-align: middle; margin: 0 auto; height: 100%;}
.user-port-dp-ops li{margin:0; padding: 0 12px; display: table-cell; vertical-align: middle;}
.user-port-dp-ops li a{border-radius: 4px;height: 70px;transition: all 0.35s ease-in-out 0s; width: 70px; background: #f97e76; float: left; font-size: 22px; text-align: center; color: #fff; text-decoration: none; line-height: 70px;}

.team-img > .profile-main-img-editor{opacity:0;transition: opacity .25s ease-in-out;-moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out;}
.team-img:hover > .profile-main-img-editor{opacity:1;}

#intro-box img {
    width: 100%;
}

.chk-av-current{margin-top: 35px; margin-bottom: 35px;}


.complete-mark{color: #96BF48; font-size: 36px;}
.uncomplete-mark{color: #c2c2c2;font-size: 36px;}
.inner{height: 50px;}