.navigationTabs {
	height: 23px;
	line-height: 23px;
	border-bottom: 1px solid #ccc;
}
.navigationTabs li {
	float: left;
	height: 23px;
	line-height: 23px;
	padding-right: 3px;
}
.navigationTabs li a{
	float: left;
	dispaly: block;
	height: 23px;
	line-height: 23px;
	padding: 0 10px;
	overflow: hidden;
	color: #52697E;
	background-color: #eee;
	position: relative;
	text-decoration: none;
}
.navigationTabs li a:hover {
	background-color: #f0f0f0;
}
.navigationTabs li a.active {
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom: 0px solid;
}
.tabsContent {
	border: 1px solid #ccc;
	border-top: 0px solid;
	width: 698px;
	overflow: hidden;
}
.tab {
	padding: 16px;
	display: none;
}
.tab h2 {
	font-weight: bold;
	font-size: 16px;
}
.tab h3 {
	font-weight: bold;
	font-size: 14px;
	margin-top: 20px;
}
.tab p {
	margin-top: 16px;
	clear: both;
}
.tab ul {
	margin-top: 16px;
	list-style: disc;
}
.tab li {
	margin: 10px 0 0 35px;
}
.tab a {
	color: #8FB0CF;
}
.tab strong {
	font-weight: bold;
}
.tab pre {
	font-size: 11px;
	margin-top: 20px;
	width: 668px;
	overflow: auto;
	clear: both;
}
.tab table {
	width: 100%;
}
.tab table td {
	padding: 6px 10px 6px 0;
	vertical-align: top;
}
.tab dt {
	margin-top: 16px;
}

#colorSelector {
	position: relative;
	width: 50px;
	height: 50px;
	background:none;
}
#colorSelector div {
	position: absolute;
	top: 0px;
	left:0px;
	width: 50px;
	height: 50px;
	background: none;
}
.customWidget {
	position: relative;
	height: 36px;
}

.custom_profile_editor:hover{
    background: #fff;
    border: 1px solid #ddd;
    padding: 0 2px;
}

#myModal_social_link, #myModal_availability{
    width: 830px;height: 423px;
    left: 40%;
}

#portfolio-image-column .portfolio_latestwork_id{
    width:48%;
    margin: 10px 1%;
    float: left;
}

@media only screen and (max-width: 767px) and (min-width: 150px){
#portfolio-image-column .portfolio_latestwork_id {
        width: 100%;
    }
}