/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Jan, 2015, 11:38:34 PM
    Author     : mayur
*/

.myModal_delete_my_account {
    width: 500px;
    left: 30%;
    background-color: #fff;
    max-height: 100px;
}

.myModal_delete_my_account .delete-message-1{
    font-size: 20px;
    font-weight: 300;
}


.myModal_delete_my_account .btn-flat{
    font-size: 16px;
    margin-right: 8px;
}

.myModal_delete_my_account_1{
    width: 700px;
    left: 25%;
    background-color: #fff;
}

.myModal_delete_my_account_1 .modal-body{
     padding: 15px;
}

.myModal_delete_my_account_1 .modal-header{
    padding: 15px;
}

.myModal_delete_my_account_1 .modal-header .modal-title{
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}


.myModal_delete_my_account_1 .modal-body .icon-warning-sign{
    font-size: 35px;
    float: left;
}

.myModal_delete_my_account_1 .modal-body .confirmation-text{
    float: left;
    width: 90%;
    line-height: 25px;
}

.myModal_delete_my_account_1 .modal-body .confirmation-text .l1{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.myModal_delete_my_account_1 .modal-body .confirmation-text .l2{
    color: #838383;
    font-size: 13px;
    font-weight: 500;
}

.myModal_delete_my_account_1 .modal-body .confirmation-text .note{
    color: #838383;
    font-size: 13px;
    font-weight: 500;
    display: none;
}




.myModal_delete_my_account_1 .delete-message-2{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.myModal_delete_my_account_1 .btn-glow{
    font-size: 14px;
    margin-right: 8px;
    padding: 3px 14px 3px 14px;
}

.myModal_delete_my_account_1 .btn-delete-studio{
    font-size: 14px;
    margin-right: 8px;
    padding: 3px 14px 3px 14px;
    color: #fff;
    font-weight: 600;
}

.myModal_delete_my_account_1 .delete-confirm-text{
    resize: none;
    width: 98%;
    height: 25px;
}

.delete-studio-error-message{
    display: none;
    color: red;
    font-size: 15px;
    font-weight: 300;
}