
.name{
font-size: 16px;
}

#user-search{
padding:0 20px;
}
	
#user{
border-top:1px solid #edf2f7; 
}

#info.row-fluid{
margin-top:10px;   
}

.users, .artwork{
padding:20px 0; 
}

#user:hover{
background-color: #edf2f7;
}

/* responsive */

@media (max-width: 480px) {
    
	#user{
        text-align:center; 
        }
	#art {
	float:left;
	width:33%;
	margin:-30px 0 10px 0;
	}
	.span6.artwork {
	margin:-10px;
	}
	.art-phone{
	margin: -5px 0px;
	}
	#user-search{
	padding:0px;
}
}

@media (max-width: 767px) {
#user{
        text-align:center; 
        }
	#art {
	float:left;
	width:33%;
	margin:-30px 0 10px 0;
	}
	.span6.artwork {
	margin:-10px;
	}
	.art-phone{
	margin: -5px 0px;
	}
	#user-search{
	padding:0px;
}
	
}

@media (min-width: 768px) and (max-width: 979px) { 

}

@media (max-width: 979px) {
}

@media (min-width: 980px) {
}

@media (min-width: 1200px) {
	
	#user{
	max-width:980px;
	margin:auto;
	}	
	.header    {
	max-width:980px;
	margin:auto;
	}	
	

	

}