/* 
    Document   : admin_studio_listing
    Created on : 15 Jan, 2015, 12:21:50 PM
    Author     : mobi38
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.myModal_delete_studio_1 {
    width: 500px;
    left: 30%;
    background-color: #fff;
}

.myModal_delete_studio_1 .delete-message-1{
    font-size: 20px;
    font-weight: 300;
}


.myModal_delete_studio_1 .btn-flat{
    font-size: 16px;
    margin-right: 8px;
}

.myModal_delete_studio_2{
    width: 700px;
    left: 25%;
    background-color: #fff;
}

.myModal_delete_studio_2 .modal-body{
     padding: 15px;
}

.myModal_delete_studio_2 .modal-header{
    padding: 15px;
}

.myModal_delete_studio_2 .modal-header .modal-title{
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}


.myModal_delete_studio_2 .modal-body .icon-warning-sign{
    font-size: 35px;
    float: left;
}

.myModal_delete_studio_2 .modal-body .confirmation-text{
    float: left;
    width: 90%;
    line-height: 25px;
}

.myModal_delete_studio_2 .modal-body .confirmation-text .l1{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.myModal_delete_studio_2 .modal-body .confirmation-text .l2{
    color: #838383;
    font-size: 13px;
    font-weight: 500;
}

.myModal_delete_studio_2 .modal-body .confirmation-text .note{
    color: #838383;
    font-size: 13px;
    font-weight: 500;
    display: none;
}




.myModal_delete_studio_2 .delete-message-2{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.myModal_delete_studio_2 .btn-glow{
    font-size: 14px;
    margin-right: 8px;
    padding: 3px 14px 3px 14px;
}

.myModal_delete_studio_2 .btn-delete-studio{
    font-size: 14px;
    margin-right: 8px;
    padding: 3px 14px 3px 14px;
    color: #fff;
    font-weight: 600;
}

.myModal_delete_studio_2 .delete-confirm-text{
    resize: none;
    width: 98%;
    height: 25px;
}

.delete-studio-error-message{
    display: none;
    color: red;
    font-size: 15px;
    font-weight: 300;
}