/* 
    Document   : company_acc_details
    Created on : 16 Dec, 2014, 1:58:58 PM
    Author     : mobi38
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.form-wrapper .field-box{
  margin-bottom: 30px !important;
}

.company-locations{
    list-style: none;
    margin: 0px;
    padding: 0px
}

.company-locations .company-locations-placeholder{
    float: left;
    min-width: 10px;
    padding: 5px;
    background-color: #718DA7;
    color: #fff;
    margin-right: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #252525;
    font-weight: 600;
    margin-bottom: 10px;
}

.company-logo-box{
    width: 150px;
    height: 150px;
/*    background: #E9E9E9;
    box-shadow: 1px 1px 4px #E9E9E9;*/
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 0px 0px 5px #DADADA;
    
}

.company-logo-box .uploadPreview{
    width: 150px;
    height: 150px;
}

.description-textarea{
    width: 400px;
    height: 200px;
}

.industry-select{
    width: 400px;
}

.website-input{
    width: 400px;
}

.notification-box{
    height: 50px;    
}

.notification-box .notification-box-message {
    color: #005580;
    font-weight: 500;
    font-size: 14px;
}

#company_details_form .field-box .span3 label{
    float: right;
}
