/* 
    Document   : create_job.css
    Created on : 22 Dec, 2014, 6:40:20 PM
    Author     : mobi38
    Description:
        Purpose of the stylesheet follows.
*/

.job_creation_container input[type=number]::-webkit-inner-spin-button, 
.job_creation_container input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

root { 
    display: block;
}

.job_creation_container .step-nav{
    width: 100%;
}

.job_creation_container .step-nav .wizard{
    
}

.job_creation_container .step-nav .wizard .wizard-steps li{
    min-width: 20%;
    max-width: 20%;
}

.job_creation_container .hor-sep{
    width: 90%;
    margin: 25px auto;
    border-bottom: 1px solid #E4E4E4;  
}

.step-content .active {
     margin: 0px auto;
}


/*CSS*/

.job_review_team_container{
    
}

.job_review_team_container .box-show{
    width: 45%;
    border: none !important;
}

ul.ext-rvw-list-1{list-style-type: none; margin: 0 0 0 16px; padding:0; width: 90%; float:left; border-left:1px solid #dee2eb; border-right:1px solid #dee2eb;border-bottom:1px solid #dee2eb; max-height: 250px; overflow-y: auto;}
ul.ext-rvw-list-1 li{margin:0; padding: 8px 0; width: 100%;  border-bottom:1px solid #dee2eb; float:left;}
ul.ext-rvw-list-1 li #ext-rvw_img img{width: 60px; height: 60px;}
ul.ext-rvw-list-1 li #ext-rvw_img a.name{margin: 10px 0 3px 0;}
ul.ext-rvw-list-1 li #ext-rvw_img span.add_rvw{font-style: italic;}
ul.ext-rvw-list-1 li #ext-rvw_img span.add_rvw a i{color: #96bf48;font-size: 15px;}

.search_existing_reviewer{
    width: 325px;
}
.searching_reviewer_result{
    margin-top: -2px !important;
}

.invite-form{
    margin-left: 3%;
}

.invite-form .invite-form-input{
    float: left;
    width: 65% !important;
}

.invite-form-input .select2-choices .select2-input{
    height: 22px !important;
    width: 320px !important;
}

.invite-form .invite-form-btn{
    margin-left: -3px;
    width: 65px;
    border-radius: 1px 5px 5px 0px;
    font-size: 13px;
    font-weight: 600;
    height: 34px;
    padding-top: 5px !important;
    padding-bottom: 8px !important;
    float: left;
}


.vertical-sep{
    float: left;
    height: 325px;
    border: 1px solid #ccc;
}

.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
    background-color: #fff;
}

.job-team-tr .role-check-td{
   padding-left: 30px;
}

.job-team-tr .role-check-td a{
    color: #ccc;
    font-size: 24px;
    cursor: pointer;
}

.job-team-tr .role-check-td a.active{
    color: #00BDFF
}

.job-team-tr .delet-job-reviewer{
    color: #ccc;
    font-size: 22px;
}

.job-team-tr .status_td .label{
    width: 48px;
}

#step1 .job-create-step-1{
    width: 90%;
    margin: 0px auto;
}


#step3 .no-of-positions{
    margin-top: 45px;
    font-size: 18px;
    width: 50px;
    height: 35px;
}

/* Preview Job */

#step4 .preview_job{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

#step4 .preview_job .left-col{
    width: 20%;
    padding: 25px;
    float: left;
}

#step4 .preview_job .left-col .company-logo-holder{
    height: 200px;
    width: 200px;
    margin: auto;
    background: #fff
}

#step4 .preview_job .left-col .company-logo-holder .company-logo{
    width: 160px;
}

#step4 .preview_job .right-col{
    width: 70%;
    padding: 25px 0px 0px 0px;
    float: left;
}


#step4  .preview_job {margin-top: 32px;}
#step4  .preview_job h1{color: #0088cc; text-transform: uppercase; font-size: 23px; font-weight:600; margin-bottom:15px;}
#step4  .preview_job h3{color: #696d73;font-size: 21px;font-style: italic;font-weight: 500;margin-bottom:12px;text-transform: capitalize;}
#step4  .preview_job h5{font-style: italic;}
#step4  .preview_job p.dt-label span.label{margin-right: 5px;}
#step4 .job-details .short-info{
    width: 20%;
    float: left;
    margin-left: 0px;
}

/* Preview job */



/* Payment section */
.payment_block{
    
}

#in_pricing h3 {
    line-height: 40px;
}


/*Pricing Option 1*/
#in_pricing {
    margin-bottom: 100px;
    margin-top: 20px;
}

#in_pricing .plan-box{
    width: 300px;
    float: left;
}

#in_pricing .plan-box.lite-pkg{
    margin-left: 20%
}

#in_pricing .plan-box.awasome-pkg{
    margin-left: 5%
}

#in_pricing .head {
    text-align: center;
    margin-bottom: 70px; }
#in_pricing .head h3 {
    font-size: 35px;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 20px 0;
    color: #252528; }
#in_pricing .head h6 {
    font-size: 18px;
    margin: 0;
    color: #8E8E8F;
    font-weight: normal; }
#in_pricing .charts_wrapp {
    margin-bottom: 40px; }
#in_pricing .charts_wrapp .plan {
    border-radius: 6px;
    box-shadow: 0 1px 3px 1px #d6d6d6;
    background-color: #fff;
    width: 95%;
    position: relative; }
#in_pricing .charts_wrapp .plan .wrapper {
    padding: 33px 30px 26px 30px; }
#in_pricing .charts_wrapp .plan h3 {
    color: #535353;
    font-weight: normal;
    font-style: italic;
    font-size: 28px;
    margin: 0 0 5px 0;
    line-height: 25px; }
#in_pricing .charts_wrapp .plan .price {
    font-size: 17px;
    color: #1189D9;
    margin-top: 16px; }
#in_pricing .charts_wrapp .plan .price span.dollar {
    font-size: 32px;
    position: relative;
    top: -6px;
    margin-right: 3px; }
#in_pricing .charts_wrapp .plan .price span.qty {
    font-size: 38px;
    margin-right: 4px;
    position: relative;
    top: 2px; }
#in_pricing .charts_wrapp .plan .price span.month {
    font-style: italic;
    font-weight: 300;
    font-size: 15px; }
#in_pricing .charts_wrapp .plan .features {
    margin-top: 30px; }

#in_pricing .charts_wrapp .plan .features strong{
    font-weight: 600;
}
#in_pricing .charts_wrapp .plan .features p {
    color: #838385;
    margin-bottom: 5px;
    font-size: 14px; 
    font-weight: 300;
}
#in_pricing .plan a.order, #select_package {
    background-color: #2190DB;
    text-align: center;
    margin: 25px auto 0;
    width: 48%;
    display: block;
    padding: 3px 0;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear; }
#in_pricing .plan a.order:hover {
    background: #252528; }
#in_pricing .pro .plan {
    width: 100%;
    top: -20px;
    box-shadow: 0 0 7px 0 #d6d6d6;
    border: 1px solid #d9d9d9; }
#in_pricing .pro .plan .wrapper {
    padding: 36px 30px 35px 30px; }
#in_pricing .pro .plan img.ribbon {
    position: absolute;
    top: 0;
    right: 0; }
#in_pricing .pro .plan a.order {
    margin-top: 35px; }
#in_pricing .standar .plan {
    float: right; }
#in_pricing .start {
    width: 100%;
    text-align: center; }
#in_pricing .start p {
    font-size: 24px;
    display: inline-block;
    color: #5B5B5D;
    font-style: italic;
    line-height: 26px;
    margin: 0 18px 0 0; }
#in_pricing .start a {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    padding: 7px 17px;
    font-size: 17px;
    background: #252528;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear; }
#in_pricing .start a:hover {
    background: #2190DB; }

/*Frequent Questions*/
#faq {
    margin-bottom: 50px; }
#faq .block .box {
    margin-bottom: 50px; }
#faq .block .box p.title {
    font-size: 20px;
    margin-bottom: 10px;
    font-style: italic; }
#faq .block .box p.answ {
    font-size: 14px;
    line-height: 22px; }
#faq .right {
    float: right; }

/* Pricing Option 2 */
#in_pricing2 {
    margin-bottom: 40px; }
#in_pricing2 .section_header h3 span {
    font-size: 18px;
    line-height: 20px; }
#in_pricing2 .charts_wrapp {
    margin-bottom: 40px; }
#in_pricing2 .charts_wrapp .plan {
    border-radius: 6px;
    box-shadow: 0 1px 3px 1px #d6d6d6;
    background-color: #fff;
    width: 100%;
    position: relative; }
#in_pricing2 .charts_wrapp .plan .wrapper {
    padding: 33px 30px 26px 30px; }
#in_pricing2 .charts_wrapp .plan .price {
    font-size: 17px;
    color: #1189D9;
    margin-top: 16px; }
#in_pricing2 .charts_wrapp .plan .price span.dollar {
    font-size: 32px;
    position: relative;
    top: -6px;
    margin-right: 3px; }
#in_pricing2 .charts_wrapp .plan .price span.qty {
    font-size: 47px;
    margin-right: 4px;
    position: relative;
    top: 2px; }
#in_pricing2 .charts_wrapp .plan .features {
    margin-top: 30px; }
#in_pricing2 .charts_wrapp .plan .features p {
    color: #838385;
    margin-bottom: 5px;
    font-size: 14px; }
#in_pricing2 .charts_wrapp .plan h3 {
    color: #535353;
    font-weight: normal;
    font-style: italic;
    font-size: 28px;
    margin: 0 0 5px 0;
    line-height: 25px; }
#in_pricing2 .charts_wrapp .plan a.order {
    width: 80%; }
#in_pricing2 .plan .price span.month {
    font-weight: bold;
    font-size: 17px; }
#in_pricing2 .plan a.order {
    background-color: #2190DB;
    text-align: center;
    margin: 25px auto 0;
    width: 48%;
    display: block;
    padding: 3px 0;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear; }
#in_pricing2 .plan a.order:hover {
    background: #252528; }
#in_pricing2 .ultra .plan {
    top: -13px;
    box-shadow: 0px 0px 7px 0 #d6d6d6;
    border: 1px solid #d9d9d9; }
#in_pricing2 .ultra .plan .wrapper img.ribbon {
    position: absolute;
    right: 0;
    top: 0; }
#in_pricing2 .black .plan {
    background: #252528;
    box-shadow: none; }
#in_pricing2 .black .plan .wrapper {
    padding: 35px 25px 30px 25px; }
#in_pricing2 .black .plan h3 {
    color: #fff; }
#in_pricing2 .black .plan h6 {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    font-style: italic; }
#in_pricing2 .black .plan p {
    font-size: 16px;
    color: #adadad;
    margin: 20px 0 38px;
    line-height: 23px; }
#in_pricing2 .black a.order {
    background: #535356;
    color: #fff;
    width: 87%;
    padding: 6px 0; }
#in_pricing2 .black a.order:hover {
    background: #2190DB; }

/* Responsive
-------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
    #in_pricing .plan a.order {
        width: 64%; }

    #in_pricing2 .plan a.order {
        width: 64%; } }
@media (max-width: 767px) {
    #in_pricing .charts_wrapp .plan {
        margin: 0 auto 30px;
        width: 95%; }
    #in_pricing .plan .wrapper {
        margin: 0 auto;
        text-align: center; }
    #in_pricing .pro .plan {
        top: 0;
        width: 95%; }
    #in_pricing .standar .plan {
        float: none; }
    #in_pricing .start p {
        margin-bottom: 20px; }
    #in_pricing .start a {
        display: block;
        width: 50%;
        margin: 0 auto; }

    #in_pricing2 .charts_wrapp .plan {
        margin: 0 auto 30px;
        width: 95%; }
    #in_pricing2 .plan .wrapper {
        margin: 0 auto;
        text-align: center; }
    #in_pricing2 .ultra .plan {
        top: 0; } }


#faq {
    margin-bottom: 50px;
    padding: 2%;
}
#faq .block .box {
    margin-bottom: 50px; }
#faq .block .box p.title {
    font-size: 20px;
    margin-bottom: 10px;
    font-style: italic; }
#faq .block .box p.answ {
    font-size: 14px;
    line-height: 22px; }
#faq .right {
    float: right; }

.section_header {
    width: 100%;
    margin-bottom: 60px; }
.section_header h3 {
    color: #646464;
    font-weight: 300;
    font-style: italic;
    font-size: 27px;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 10px;
    display: inline-block;
    margin: 0; }


/*  Payment section */

#step5{
    width: 100%;
}

#step5 #faq .span6{
    width: 45%;
}

#step5 #payment_section.span6{
    width: 45%;
}

.amount-section .span6{
    width: 45%;
}

.payment-section{
    min-height: 200px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 1px solid #E2E2E2;
    margin-bottom: 20px;
}

.payment-section .hor-sep {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    border-bottom: 1px solid #E2E2E2;
}

.payment-section .vertical-sep{
    border-left: 1px solid #E2E2E2;
    height: 260px;
    float: left;
}

.payment-section .block{
    float: left;
    width: 45%;
}

.payment-section .block .header{
    margin-bottom: 20px;
}

.payment-section .block .header h3{
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}

.payment-section .form-block{
    width: 100%;
}

.payment-section .form-block .form-row{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.payment-section .form-block .form-row .cc_number{
    width: 70%
}

.payment-section .form-block .form-row .sep{
    float: left;
    display: block;
    font-size: 34px;
    margin-top: 8px;
    font-weight: 300;
    color: #B3B3B3;
}

.payment-section .form-block .form-row .c_month{
    float: left;
    width: 20%;
}

.payment-section .form-block .form-row .c_year{
    float: left;
    width: 25%;
}

.payment-section .form-block .form-row .security_code{
    float: left;
    width: 25%;
}

.payment-section .form-block .form-row .address{
    width: 92%;
}

.payment-section .form-block .form-row .select-country{
    width: 95%;
    height: 37px;
    border-radius: 3px;
    margin-bottom: 10px;
    left: -11px;
    top: -5px;
}

.payment-section .form-block .form-row .a_city, .payment-section .form-block .form-row .a_state, .payment-section .form-block .form-row .a_postcode{
    width: 27%;
    margin-right: 2%;
    float: left
}

.payment-section .form-block .form-row .coupon_code{
    width: 60%;
    margin-right: 15px;
    float: left;
}

.payment-section .form-block .form-row .btn-apply{
    float: left;
    line-height: 23px;
    width: 50px;
    font-weight: 500;
    background: #5E5E63;
    color: #fff;
}

.amount-section{
    width: 100%
}

.amount-section .amount-details{
/*    text-align: center;
    background: #D1ECF8;
    line-height: 75px;
    border-radius: 6px;
    color: #2972A5;
    font-size: 14px;
    width: 100%;
    margin: auto;*/
    padding: 6px;
}

.amount-section .amount-details span{
/*    display: block;
    width: 40%;
    float: left;*/
}

.amount-section .amount-details .amount{
    font-size: 30px;
    font-weight: 600;
    text-align: right
}

.amount-section .amount-details .sub-text{
    text-align: left;
    padding-left: 10px;
}

.amount-section .amount-details .extra-condition{
    display: none;
    width: 100%;
    min-height: 20px;
    line-height: 20px;
}


.amount-details .label-row{
    float: left;
    font-size: 16px;
    width: 80%;
    margin-right: 5px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.amount-details .label-row.total-label{
    font-weight: 600;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.amount-details .label-amount{
    float: left;
    font-size: 18px;
    width: 16%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 8px;
    padding-left: 5px;
}

.amount-details .label-amount.total-amount{
    font-weight: 600;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.amount-details .hor-sep{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 94%;
    margin: auto;
    border-bottom: 1px solid #6FA2C5;
}

.bottom-section{
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.bottom-section .btn{
    float: right;
    font-size: 12px;
}

.btn-prev {
    display: none;
}

.btn-pay-now{
    width: 100px;
    display: none;
    margin-left: 20px;
}

.bottom-section .btn-pay-now.inactive{
    opacity: 0.4;
}

@media (min-width: 768px) and (max-width: 991px) {
    .payment-section .block {
        width: 48%;
    }

    .payment-section .vertical-sep{
        border-left: 1px solid #E2E2E2;
        height: 260px;
        float: left;
    }
}

@media (max-width: 767px) {
    .payment-section .block {
        width: 100%;
    }

    .payment-section .vertical-sep{
        border-left: 0px solid #E2E2E2;
    }
}

#cc_type_img{
    width: 50px;
    margin-left: 10px;
    margin-top: -10px;
    display: none;
}

.job_creation_container{
    max-width: 1500px;
    margin: auto;
}

#startdate, #enddate{
    font-size: 15px;
}

#job_title, #job_description, #job_tags,.job-type-holder, .job-level-holder{
    font-size: 15px;
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 15px;
}

input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-size: 15px;
   opacity:  1;
}

input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-size: 15px;
   opacity:  1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
   font-size: 15px;
}

#main-stats .stat-large{
    padding: 0px;
}

.job_review_team_container table{
    width: 90%;
    margin: auto;
}

#a_postcode{
    width: 28%;
}

.amount-details{
    /*display:none;*/
}

.amount-details-btn{
    display: none;
    padding: 10px;
    text-align: center;
}

#select_package{
    margin: 0px;
    display: inline;
    padding: 5px;
}

.discount_div{
    display:none;
}


.select-country .select2-choice{
    padding-left: 5px;
}

.field-box .alert-msg, #payment_section .form-row .alert-msg{
    display: none;
}

.error .alert-msg{
    margin: 0px;
    margin-top: 10px;
    display: block !important;
    color: #c73939;
}

.error textarea, .error .select2-container, .error #startdate, .error #enddate, #payment_section .form-row.error input{
    border: 1px solid #c73939 !important;
}

.error .select2-container{
    border-radius: 5px;
}

div.alert-msg{
    margin: 0px !important;
    margin-bottom: 10px !important;
    clear: both;
}


/*  Payment section */

