/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 4, 2015, 11:46:39 AM
    Author     : mipl-80
*/

.clear {
    clear: both;
}
#createjobform .step-pane .form-wrapper .field-box .select2-container {
    display: block;
}
#createjobform {
    margin-bottom:0px;
}
#createjobform #startdate,#createjobform  #enddate { 
    width: 100%;
}
#step1.step-pane .form-wrapper .field-box input[type='text'], #step1.step-pane .form-wrapper .field-box textarea {
    width: 100%;
}
.job_create_body .step-content {
    margin-left: 0px;
}
.job_create_body #step2 #main-stats .stat-large {
    box-shadow: none;
}
#main-stats .stat-large h5 {
    margin-bottom: 15px;
}
#main-stats .stat-large p {
    font-size: 15px;
    margin-bottom: 20px;
}
#main-stats .stats-row {
    box-shadow: none;
}
#main-stats {
    background-color: transparent;
}
.job_review_team_container table {
    margin: 20px auto auto; 
}
.table-responsive {
    min-height: 0.01%;
    overflow-x: auto;
}
.invite-box { 
    padding-left: 40px;  
}
/*.create-job-custom-table .table{
    width: 100%;
}*/
/*.create-job-custom-table table th span.line {
    border-left: medium none;
    height: auto;
    position: relative;
}
.create-job-custom-table .tr-thead thead tr th .line {
    left: auto;
    top: auto;
}
.create-job-custom-table .table thead th {
    border: 1px solid #ccc !important;
}

.create-job-custom-table .tr-thead tbody tr:first-child td {
    border: 1px solid #ccc;
}*/
#in_pricing .charts_wrapp .plan .price span.dollar {
    top:auto;
}
#in_pricing .plan-box {
    display: inline-block;
    float: none;
}
#in_pricing .pro .plan {
    top: auto;
}
#in_pricing .charts_wrapp {
    text-align: center;
}
#in_pricing .plan-box.lite-pkg {
    margin-left:0;
}
#faq {
    margin-bottom: 20px;
}
#faq .block .box {
    margin-bottom: 50px;
    margin-left: 30px;
}
/*.job_review_team_container .table thead {
    border-top:none;
}*/
.row.form-wrapper {
    margin-left: 4%;
}

@media screen and (max-width:1260px) { 
    #faq .block .box {
        margin-bottom: 50px;
        margin-left: 10px;
    }
}
@media screen and (max-width:1024px) {
    #createjobform .wizard-actions {
        margin-top:10px;
    }
}
@media screen and (max-width:991px) { 
    .payment-section .block {
        width: 45%;
    }
}
@media screen and (max-width:980px) {
    .job_create_details #fuelux-wizard {
        margin-left: 0px;
    }
    .job_create_details .wizard-steps{
        left:auto;
    }
    #faq .block .box {
        width: 48%;
    }
    #main-stats .stat-large p {
        font-size: 13px;
    }
}
@media screen and (max-width:860px) { 
    #faq .block .box {
        width: 95%;
        margin-left:0px;
    }
    .payment-section .vertical-sep { 
        display: none;
    }
}
@media screen and (max-width:800px) { 
    .invite-box { 
        padding-left: 0px;  
    }
}
@media screen and (max-width:767px) { 
    .job_create_body #step2 .vertical-sep {
        display:none;
    }
    #createjobform #countybox, #createjobform #startdate {
        margin-bottom: 15px;
    }
    #createjobform #job_description {
        height: 80px;
    }
    .logo-main {
        float:right;
    }
    .job_review_team_container .box-show {
        width:100%;
    }
    .job_review_team_container #main-stats .stat-large {
        padding: 20px 0;
    }
    #step3 .form-wrapper .team-mod-setting-container #rt_description h6 {
        text-align: center;
    }
    .form-wrapper .team-mod-setting-container #rt_description .slider-frame {
        display: block;
    }
    #rt_description .span2 {
        text-align: center;
    }
    .form-wrapper .team-mod-setting-container #rt_description .slider-frame {
        margin-top: 25px;
    }
    #step3 .no-of-positions {
        margin-top: 25px;
    }
    .form-wrapper .team-mod-setting-container.last #rt_description {
        margin-bottom: 10px;
    }
    #step4 .preview_job .left-col {
        width: 22%;
    }
    #step4 .preview_job .right-col #dt2_description { 
        margin: 0;
        min-height: 20px;
        text-align: left;
        width: 58% !important;
    }
    .payment-section .vertical-sep {
        display: none;
    }
    .amount-section .span6 {
        width: 100%;    
        margin: 0 auto;
        text-align: center;
    }
    .create-job-custom-table.table-responsive {
        margin-bottom: 15px;
        overflow-y: hidden;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    .create-job-custom-table.table-responsive > .table {
        margin-bottom: 0;
    }
    .create-job-custom-table.table-responsive > .table > tbody > tr > td, .create-job-custom-table.table-responsive > .table > tbody > tr > th, .create-job-custom-table.table-responsive > .table > tfoot > tr > td, .create-job-custom-table.table-responsive > .table > tfoot > tr > th, .create-job-custom-table.table-responsive > .table > thead > tr > td, .create-job-custom-table.table-responsive > .table > thead > tr > th {
        white-space: nowrap;
    } 
    .invite-box { 
        padding-left: 40px;  
    }
    .payment-history-list .payment-history-row .icon {
        float:none;
    }
    .row.form-wrapper {
        margin-left: 0%;
    }
}
@media screen and (max-width:640px) { 
    #step4 .preview_job .left-col .company-logo-holder {
        width: 128px;
        height: 128px;
    }
    .payment-section .block {
        margin-bottom: 10px;
        width: 100%;
    }
    #in_pricing .plan-box.awasome-pkg {
        margin-left: 0px;
    }
}
@media screen and (max-width:625px) {  
    #step4 .preview_job .right-col {
        width: 100%;
        float: none;
        padding: 0px;
        text-align: center;
    }
    #step4 .preview_job .left-col {
        width: 100%;
        float: none;
        margin-bottom: 20px;
        padding: 0px;
    }
    #step4 .preview_job .left-col .company-logo-holder {
        height: auto;
    }
    #step4 .preview_job .right-col #dt2_description {
        width: 100% !important; 
        text-align: center;
    }
    #step4 .job-details .short-info {
        float: left;
        margin-left: 0;
        text-align: center !important;
        width: 33%;
    }
    #step4 .preview_job .right-col .dt-label {
        float: none;
        text-align: center;
    }
    #step4 .preview_job {
        padding: 0;
    }
}
@media screen and (max-width:540px) {   
    .invite-box { 
        padding-left: 40px;  
    }
}
@media screen and (max-width:480px) {
    .invite-box { 
        padding-left: 0px;  
    }
}