/* SEARCH PAGE */
.offset20 {
    margin-left: 20px !important;
}

.header {
    margin-bottom: 20px !important;
}

.sections {
    margin-top: 20px;
    padding-top: 25px;
}
.margin-right-1{
    margin-right: 5px;
}
#pad-wrapper .header.sections h4{margin-left:10px;}
.small_loader{
    height: 20px;
}
.disable_opening{
    cursor: default;
    background-color: #96c03f !important;
}
.sidebar {
    border-left: 1px solid #edeef1;
    box-shadow: -4px 0px 0px -2px rgba(226, 226, 226, 0.1);
}

.avatar_s {
    width: 40px;
    margin-right: 10px;
    margin-left: 25px;
}

.icon_actions {
    color: #ccc;
    font-size: 32px;
    padding: 10px;
}

.search-check {
    margin-left: 47px;
}

.img_sample {
    max-height: 100px;
    margin-bottom: 5px;
}

.name {
    color: #3389d1;
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin: 15px 0 0 0;
}

.name_sidebar {
    color: #3389d1;
    font-weight: 600;
    font-size: 12px;
    margin: 15px 0 0 5px;
}
.search_drop_down{
    height: 200px;
    overflow-y: auto ;
}
#user_info span.tags {
    font-size: 10px;
    display: block;
    line-height: 20px;
    margin-bottom: 5px;
    color: #9d999a;
}

#user_info span.location {
    font-size: 13px;
    display: block;
    line-height: 20px;
    font-weight: 600;
    color: #9d999a;
}

.mini_actions {
    color: #ccc;
    font-size: 30px;
    padding: 5px 0px;
}

#mini i {
    margin-right: 10px;
}

.right-column {
    padding-left: 20px;
    /*min-height: 476px;*/
}

.cb {
    width: 100%;
    margin: auto;
}

.user-search {
    padding: 7px 50px !important;
}

.user-advanced {
    padding: 5px 9px 4px 9px !important;
}

.pagination {
    text-align: center;
    width: 100%;
}

/*
.btn-group {
    margin: 10px 0 15px 0;
}
*/

#cards td {
    height: 200px;
}

.find {
    width: 95% !important;
}

#yep.avatar_s {
    border: 3px solid #96bf48;
    padding: 2px;
}

#standby.avatar_s {
    border: 3px solid #3a87ad;
    padding: 2px;
}

#nope.avatar_s {
    border: 3px solid #b85e80;
    padding: 2px;
}

.candidate-pointer {
    position: relative;
    right: -21px;
    top: 180px;
}

.candidate-pointer .arrow, #dashboard-menu .pointer .arrow_border {
    border-color: transparent #fff transparent transparent;
    border-width: 11px;
    border-style: solid;
    font-size: 0;
    right: 0%;
    line-height: 0;
    margin: 0 auto;
    position: absolute;
    top: 4;
    width: 0;
    z-index: 1002;
}

.candidate-pointer .arrow_border {
    border-color: transparent rgb(192, 210, 221) transparent transparent;
    border-width: 11px;
    margin-right: 1px;
    border-style: solid;
    z-index: 1001;
    top: 0px;
}

#main-content {
    /*max-width: 1200px;*/
    margin: auto;
}

.header-side {
    margin: 20px 0;
}

.header .btn-flat {
    margin: 15px 10px 0 0;
}

/*SEARCH PAGE NEW*/
.search-outer {
    position: relative;
    height: 180px;
}

.search-inner {
    width: 100%;
    position: absolute;
    top: 7%;
    line-height: 29px;
}

#avatar.search-inner {
    text-align: center;
}

#checkbox.search-inner {
    text-align: center;
    position: relative;
    padding: 20px;
}

.avatar_search_large {
    width: 85%;
    margin: 4px 0px 0px 0px;
    max-width: 100px;
    height: 102px;
}

.img-grid {
    max-width: 120px;
    position: relative;
}

.img-grid-score {
    width: 100%;
    height: 101%;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    z-index: 4;
    background: #96bf48;
    padding:3px;
}

.img-grid-score .thumb-score {
    position: absolute;
    width: 100%;
    height: 100%;
}

.img-grid-score .thumb-score span {
    top: 40%;
}

.img-grid-score .thumb-score span {
    color: #ffffff;
    width: 100%;
    position: absolute;
    text-align: center;
    display: block;
    font-size: 25px;
    margin:-10px 0px 0px 0px;
}

#no-score.img-grid-score {
    background: #7e91aa;;
}

#score-offset {
    margin-top: 45px;
    margin-bottom: 20px;
}

/*openings overview*/


.stat-top {
    min-width: 122px !important;
    padding: 7px 2px !important;
    margin-top: 5px !important;
}

#main-stats .stat.first {
    border-left: 1px solid #e8e9ee;
}

.green-text {
    color: rgb(129, 189, 130) !important;
}

.red-text {
    color: #b85e80 !important;
}

.opening-title, .opening-title-s {
    color: #696d73;
    font-style: italic;
}

.opening-title {
    font-size: 24px;
    margin: 30px 0 5px 0px;
    font-weight: 600;
    text-align: center;
    line-height: 32px;
}

.opening-title-s {
    font-size: 10px;
    margin: 5px 0 5px 0px;
    /* x;*/
    text-align: center;
}

.openings-icon {
    width: 32px;
    font-size: 16px;
    margin-left: 7px;
    color: #696d73;
}

.score {
    height: 118px;
    background: #3b9ff3;
    border: 1px solid rgb(53, 150, 231);
    margin-bottom: 5px;
    max-width: 118px;
}

.score span {
    color: white;
    position: relative;
    top: 40px;
    left: 24px;
    font-size: 30px;
}

.showcase {
    margin-top: 20px;
}

.span12.showcase {
    margin-left: 0px;
}

#reviewer .span8 {
    margin-top: 15px;
}

#missing {
    background: #7e91aa;
    border: 1px solid #888e97;
}

#missing.score span {
    margin-top: 30px;
}

.opening-comment {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: white;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 90%;
    color: #9d999a;
}

.missing-review-btn {
    margin: 16px 0px 10px 39px;
}

#reviewer p {
    margin-bottom: 40px;
}

.table {
    margin-bottom: 5px !important;
}

.batch-select {
    margin: 20px 7px !important;
}

.no img {
    border: 3px solid red;
}

.yes img {
    border: 3px solid #BADA55;
}

/*Main Opening Page*/
.group {
    padding: 30px 10px;
    border-bottom: 1px solid #edf2f7;
}

.group:hover {
    background-color: #f5fafc;
}

#opening-stats .data .number {
    color: #32a0ee;
    font-size: 25px;

}

#opening-stats .data {
    text-align: center;
    margin-bottom: 10px;
}

#opening-stats .btn-flat.white {
    padding: 20px 5px;
    width: 90%;
    font-size: 12px;
}

#opening-stats .label {
    margin: 0 0 0 20px;
}

#opening-stats p {
    margin: 0 0 0 20px;
    color: #696d73;
    line-height: 18px;
    font-size: 11px;
}

#opening-stats .span8 {
    padding-right: 10px;
}

ul.actions li {
    display: inline;
    border-right: 1px solid #d0dde9;
    padding: 0 8px 0 5px ;
}

ul.actions li.last{border-right:none;}

ul.actions i {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -webkit-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    margin-top: 3px;
}

.header .name {
    font-weight: 600;
    margin: 20px 0 8px 0;
    line-height: 26px;
    margin-bottom: 10px;
    float: none;
    font-size: 24px;
    color: #29323d;
}

#top.group {
    border-top: 1px solid #edf2f7;
}

/*Main Opening Page*/
.modal.modal_job_opening{width: 690px;}

.modal.modal_job_opening #fuelux-wizard{margin-left:0;}
.modal.modal_job_opening #fuelux-wizard .wizard-steps{left:0;}
.modal.modal_job_opening #fuelux-wizard .wizard-steps li{max-width: 33%; min-width: 33%;}

.modal.modal_job_opening .step-content{margin:0;}
.modal.modal_job_opening .form-wrapper{margin-left:0;}

#fuelux-wizard {
    margin-top: 60px;
    margin-left: 120px;
}

.form-wrapper .field-box.dates {
    width: 264px;
}

.form-wrapper .field-box.dates .input-large {
    width: 105px;
}

.wizard-actions {
    margin-right: 70px !important;
}

.row-fluid .span11.action-buttons {
    margin-bottom: 25px;
    margin-left: 0;
    float: left;
    width: 100%;
}

#side-list .row-fluid:hover {
    background-color: #f5fafc;
}

#side-list #active.row-fluid {
    background-color: #f5fafc;
}

#side-list .span12 {
    padding: 10px 20px;
    line-height: 20px;
    text-align: left;
    border-bottom: 1px solid #edf2f7;
    position: relative;
    cursor: pointer;
}

.ui-select select {
    width: 100% !important;
}

/* OPENINGS EDIT PAGES*/
.people {
    padding: 20px;
}

.people:hover {
    background-color: #f5fafc;
}

#top.people {
    border-top: 1px solid #edf2f7;
}

#both.people {
    border-top: 1px solid #edf2f7;
    border-bottom: 1px solid #edf2f7;
}

.people .actions {
    margin-top: 10px;
}

.people .button-center {
    margin-top: 10px;
}

#invite.btn-flat {
    margin: 0px;
}

/* EDIT PROFILE PAGE*/
input.span9.form-right {
    margin-left: 120px;
}

.avatar-profile img {
    border: 3px solid #c3cddb;
    margin-bottom: 28px;
}

.profile-image {
    /*margin-left: 85px;*/
    margin-bottom: 20px;
}

.default-header {
    font-size: 22px;
    margin: 0 0 20px 50px;
    color: #696d73;
    font-style: italic;
}

.personal-info .actions {
    margin-bottom: 25px;
    margin-left: 0;
    margin-top: 30px;
    float: left;
    text-align: right;
}

#resume-add.btn-flat {
    width: 110px;
    text-align: center;
}

/*EDIT RESUME*/
.job-info p {
    margin: 5px 0;
    color: #696d73;
    line-height: 18px;
    font-size: 11px;
}

.job-header {
    color: #3389d1;
    font-weight: 600;
    font-size: 15px;
    margin: 15px 0 0 0;
}

h5.resume-title {
    font-size: 22px;
    margin: 0 0 20px 20px;
    color: #696d73;
    font-style: italic;
}

/* EDIT PORTFOLIO */
.img_portfolio {
    width: 150px;
    margin-bottom: 5px;
}

.no-images {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    margin-bottom: 100px;
}

.no-images .center h6 {
    color: #364453;
    font-weight: 600;
    margin: 30px 0 9px;
    font-size: 15px;
}

.no-images .center p {
    color: #364453;
    font-size: 13px;
}

.separator {
    border-top: 1px solid #edeff1;
    margin-top: 100px;
    padding-top: 45px;
    box-shadow: inset 0px 3px 4px -1px #fafafa;
}

/* OPENING PAGE NEW */
#blue.group {
    background-color: rgb(240, 246, 255);
}

.stream-container {
    position: relative;
}

.stream-dialog {
    display: inline-block;
    width: 100%;
}

.stream-dialog .notes {
    margin: 10px 0;
}

.stream-dialog .notes .item {
    display: block;
    padding: 10px 0px 8px 20px;
    border-top: 1px solid #e7e8ea;
    color: rgb(54, 54, 54);
    text-decoration: none;
    padding-left: 50px;
    position: relative;
}

.stream-dialog .notes .item > i {
    color: rgb(252, 130, 123);
    position: absolute;
    left: 19px;
    font-size: 18px;
}

.stream-dialog .notes .item:hover {
    background: rgb(240, 246, 255);
}

.stream-dialog .notes .item .time {
    float: right;
    color: #82a3c1;
    font-style: italic;
    font-weight: 600;
    font-size: 11px;
    min-width: 60px;
    margin-right: 5px;
}

.stream-dialog .notes .item .time i {
    font-size: 13px;
    color: #cfcfcf;
    margin-right: 1px;
}

.stream-dialog .footer {
    border-top: 1px solid #e6e8e9;
    background-color: #eff4f7;
    margin: 15px 0px -10px 0px;
    border-radius: 0px 0px 5px 5px;
    padding: 12px 20px;
    text-align: center;
}

.stream-dialog .footer {
    text-align: center;
}

.stream-dialog .footer a {
    font-weight: 600;
    color: #7d91a8;
}

/* OPENING PAGE - CANDIDATE VIEW */

input.user {
    margin: 0 10px 0 0;
}

#batch.btn.glow {
    background: #e6ebf3;
}

#push-down-10 {
    margin-top: 10px;
}

#larger {
    padding: 5px 7px;
    font-size: 15px;
    margin: -4px 5px 0 0;
}

.align-right {
    text-align: right;
}

.dots {
    position: relative;
    top: 20px;
}

.dropdown-menu {
    /*left: -95px !important;*/
    /*Comment due to mis-alignment of datepicker calender*/
}

.candidate-status {
    color: rgb(104, 163, 213);
    position: relative;
    top: 20px;
    left: 20px;
}

#green.under-avatar-status {
    color: #96bf48;
}

#green.candidate-status {
    color: rgb(129, 189, 130)
}

#red.candidate-status {
    color: #b85e80;
}

#overview .field-box {
    margin-bottom: 0px;
}

#opening-overview .section {
    margin-top: 60px;
    margin-bottom:30px !important;
}

.push-down-20 {
    margin-top: 20px;
}

.push-down-15 {
    margin-top: 15px;
}

#under-avatar.btn-group {
    margin: 10px 0 15px;
}

.avatar-55 {
    width: 55px;
}

#avatar.span3 {
    text-align: center;
}

.left-pointer {
    position: absolute;
    left: -17px;
}

.left-arrow {
    border-color: transparent #fff transparent transparent;
    border-width: 11px;
    border-style: solid;
    font-size: 0;
    left: 50%;
    line-height: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1002;
    left: 0;
    margin-left: -4px;
}

.left-arrow-border {
    border-color: transparent rgb(192, 210, 221) transparent transparent;
    border-width: 11px;
    margin-left: -5px;
    border-style: solid;
    z-index: 1001;
    top: 0px;
}

#overview.left-pointer {
    top: 26px;
}

#review-team.left-pointer {
    top: 100px;
}

#candidate.left-pointer {
    top: 180px;
}

#shortlisted.left-pointer {
    top: 255px;
}

#hidden.left-pointer {
    top: 330px;
}

.btn-group button.glow {
    font-size: 12px !important;
    color: #9d999a;
    /*padding: 7px 14px !important;*/
}

.left-pad-20 {
    margin: 0 20px;
}

.under-avatar-status {
    color: rgb(104, 163, 213);
    position: relative;
}

/* SEARCH  NEW */

#search-align {
    margin-top: 24px;
}

#search-align .span8 {
    margin-top: 10px;
}

/* HOME PAGE - ADMIN */

#home-button {

    text-align: center;
    margin: 10px;
}

/*#stats-padding .span3 {
    padding: 30px 0px 35px 0px !important;
}*/

.home-chart {
    margin-top: 10px;
    border-top: 1px solid #e7e8ea;
    padding: 10px;
    width: 95%;
}

/* responsive Desktop*/
@media (min-width: 1200px) {

    .img_sample {
        max-height: 118px;
    }

    #cards tr {
        margin: 10px 0;
        height: 270px;
    }

    .mini_actions {
        font-size: 25px;
    }

    .search {
        padding: 7px 60px !important;
    }

    #user_info span.location {
        line-height: 20px;
    }

    .mini_actions {
        font-size: 30px;
        padding-top: 10px;
    }

    .score span {
        top: 50px;
        left: 35px;
    }

    .candidate-pointer {
        right: -31px;
    }

    #score-offset {
        margin-top: 25px;
    }

}

/* responsive - ipad size */
@media (max-width: 1200px) {

    #pad-wrapper {
        padding: 10px 0px !important;
        margin-top: 25px !important;
    }

    #cards tr {
        margin: 10px 0;
        height: 120px;
    }

    #cards td {
        height: 130px;
    }

    .score {
        max-height: 100px;
    }

}

/*RESPONSIVE IPHONE*/

/*Search*/
@media (max-width: 767px) {

    .adv-btn {
        width: 50px !important;
        float: left !important;
        margin: 0 20px 20px 55px !important;
    }

    .navbar .brand {
        float: right;
    }

    .navbar-inverse .brand {
        padding: 2px 0px 0px;
    }

    .find {
        margin: 0 7px 20px;
        float: right;
    }

    .btn-group button.glow.large {
        font-size: 10px !important;
    }

    .btn-group {
        /*margin: 0 5px 30px 0;*/
        margin: 15px 5px 20px 0;
    }

    .right-column {
        padding-left: 0px;
    }

    #cards .span6, #cards .span4 {
        width: 100%;
        float: left;
        text-align: center;
    }

    #img-grid .span6 {
        width: 48%;
        float: left;
        margin-right: 5px;
        height: 134px;
        margin-bottom: 5px;
    }

    #img-grid .img_sample {
        max-height: 145px;
    }

    #img-grid.span4 {
        height: 340px;
    }

    .mini_actions {
        font-size: 30px;
        padding: 10px 0px;
    }

    #mobile .span3 {
        width: 25%;
        float: left;
    }

    #side-gap.span4 {
        margin: auto;
        margin-bottom: 50px;
    }

    #pad-wrapper h4 {
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }

    .navbar-inverse .pop-dialog .notifications .item .time {
        display: none;
    }

    .opening-comment {
        padding: 8px 20px 8px 14px;
        margin-left: -30px;
    }

    .button-center {
        margin: 25px 104px 20px 0;
    }

    #reviewer.span6 {
        height: 150px;
    }

    .table td {
        padding: 10px 20px;
    }

    #reviewer p {
        margin: 0 20px 40px 20px;
    }

    .ui-slider {
        margin-bottom: 30px;
    }

    p {
        margin: 30px 10px 10px 10px;
        text-align: center;
    }

    #no-border.span6 {
        border-top: none;
    }

    .sections {
        margin-bottom: 20px;
    }

    #cards td {
        height: 266px;
    }

    .missing-review-btn {
        margin: 0px 0px 40px 0px;
    }

    .score {
        max-height: 134px;
        max-width: 134px;
    }

    .score span {
        top: 55px;
        left: 0px;
    }

    #reviewer.score {
        height: 135px;
        max-width: 98%;
        margin: auto;
    }

    #missing {
        background: #7e91aa;
        border: 1px solid #888e97;
        height: 135px;
        max-width: 98%;
        margin: auto;
    }

    #comment {
        margin: 20px 0 0px 103px;
    }

    /*Main Opening Page*/

    .header-side .span4 {
        text-align: center;
        margin-top: 10px;
    }

    #opening-stats .span3 {
        width: 46%;
        float: left;
        margin: 5px;
    }

    #opening-stats .span8 {
        padding: 20px;
    }

    #opening-stats .row-fluid {

    }

    .pull-right {
        float: none;
        text-align: center;
        width: 100%;
        margin: 15px 0 20px;
    }

    #opening-stats p {
        margin: 0px;
    }

    #opening-stats .label {
        /*margin: 0 0 0 100px;*/
        margin: 0px !important;
    }

    .header .name {
        text-align: center;
    }

    #top.group {
        margin-top: 10px;
        text-align: center;
    }

    #top-buttons .btn-flat {
        width: 80%;
        margin-left: 30px;
        height: 30px;
        padding: 10px 0;
        line-height: 30px;
    }

    /* SEARCH NEW */
    .search-outer {
        text-align: center;
        height: 88px;
    }

    .group {
        padding: 40px 10px 60px 10px;
    }

    .img-grid {
        float: left !important;
        width: 146px !important;
        padding: 0px 0px 0px 5px;
        max-width: 150px;
    }

    .phone-offset-search {
        margin-top: 15px;
    }

    .avatar_search_large {
        width: 28%;
    }

    /* OPENING PAGES - OVERVIEW, CANDIDATE, SHORTLISTED... */


    .span9.offset2 {
        padding: 10px;
    }

    .form-wrapper label {
        width: 80px !important;
    }

    #comment {
        margin: 0;
    }

    label {
        margin-bottom: 14px;
    }

    .stream-dialog .notes .item .time {
        display: none;
    }

    .dropdown-menu {
        left: 20px !important;
        right: 20px !important;
    }

    .people {
        text-align: center;
    }

    input.user {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .candidate-status {
        top: 20px;
        left: 0px;
    }

    .align-right {
        text-align: center;
    }

    .avatar-55 {
        padding: 5px 0 10px;
        width: 90px;
    }

    .people {
        padding: 20px 20px 30px 20px;
    }

    .avatar_search_large {
        padding: 5px 107px;
    }

    #under-avatar.btn-group {
        margin: 10px 0 5px;
    }

    .score-adjust {
        margin-left: 90px;
        margin-top: -10px;
    }

    #score-phone {
        width: 100px !important;
        height: 100px !important;
        margin: 20px 0 0 94px;
    }

    #prev-next {
        width: 48%;
        float: left;
        text-align: center;
    }

    .img-grid-score {
        width: 97%;
        left: 5px;
    }

}

/* Tablet Portrait*/
@media (max-width: 979px) and (min-width: 768px) {

    .header .name {
        font-size: 18px;
    }

    .btn-flat, .btn-flat.default {
        font-size: 10px !important;
    }

    #opening-stats .span4, #opening-stats .span8 {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    #opening-stats .row-fluid .span3 {
        width: 21%;
    }

    .search-outer {
        height: 0px
    }

}

/* Orientation warning - hide portrait
@media only screen and (orientation:portrait){
        .container-fluid { display:none; }
        #warning-message { display:block; }
    }
    @media only screen and (orientation:landscape){
        #warning-message { display:none; }
    }
*/

/* LARGE DESKTOP*/
@media (min-width: 1400px) {

    .search-inner {
        margin-top: 30px;
    }

}

.notification-box {
    position: fixed;
    z-index: 99999999999;
    /*left: 38%;*/
    top: 0;
    /* border: 2px solid;*/
    /*height: 12%;*/
    width: 100%;
    background-color: #edf2f7;
    /*border-radius: 10px;*/
    box-shadow: #B3B3B3 3px 3px 3px;
    display: none;
}

.notification-box-message {
    color: #005580;
    text-align: center;
    /*text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;*/
    margin: 15px 0px 0px 0px;

}

.success_message {
    font-weight: bold;
    /*background-color:#ccee89;*/
    width: 100%;
    padding-left: 10px;
    padding-top: 4px;
}

#element_to_pop_up {
    display: none;
    left: 326px;
    position: absolute;
    top: 47.5px;
    z-index: 9998;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999999;
    color: #111111;
    min-width: 450px;
    width: auto;
    max-width: 750px;
    max-height: 1200px;
    padding: 25px;
}

.close-popup
{
    margin: 0;
    padding: 0;
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/close.png") no-repeat scroll center center / 20px auto rgba(0, 0, 0, 0);
    text-indent: -999em;
    position: absolute;
    top: -11px;
    right: -9px;
    outline: 0;
}

.close-popup:active
{outline: 0;}

.content-box {
    border: 1px solid  #EDF2F7;
    margin: 5px;
    padding: 10px;
    background-color: #F5FAFC;
}

.content-box-data {
    margin: 10px 0px 10px 32px;
    list-style-type: circle;
}

.field-box-left {
    /*width: 50%;
    float: left;*/
}

.field-box-right {
    width: 50%;
    float: left;
}

/*
.span-left-content {
    width: 100% !important;
    float: left !important;
}

.span-right-content {
    width: 290px !important;
    float: left !important;
}

.p-left-content {
    width: 120px !important;
    float: left !important;
}*/
#job-filter-dropdown{
    margin-top: 15px;

}
.textfield-box{
    margin: 10px;
    padding: 5px;
    box-shadow: 3px 4px 3px #888888;
    border: 2px solid #c2c2c2;
    /*background-color: #c2c2c2;*/
    color: #c2c2c2;

}
.small-text{
    margin: 0px 0px 0px 1px  !important;
    font-size: 10px !important;
}
.content-box-dashboard{
    border: 1px solid #EDEEF1;
    margin: 0px;
    padding: 0px;
    background-color: #edf2f7;
    cursor: pointer;
}


.menu-margin
{
    margin:0 0 20px 0 ;
    height: 130px;
    text-align: right;
    vertical-align: bottom;
    position: relative;
    z-index: 100;
}

.tab-margin
{
    margin-left: 0 !important;
    font-weight: 600;
}

.custom-btn-color{
    background-color: #98c141 !important;
    border: none !important;
    font-weight: bold !important;
}

.anchor-tab
{
    bottom: 0;
    right: 0;
    padding: 0;
    position: absolute;
    z-index: 200;
    font-weight: 700;
}

.stat-width
{
    width: 17.9% !important;
}


.graph-margin
{
    margin-left: 0 !important;
    border: none !important;
}

.icons-nav
{
    padding:20px;
    position: absolute;
    z-index: 201;
    top:5px;
    left:5px;
    text-indent:-999em;
}

.tab1
{
    background:url("/assets/uploads/portfolio/thumb/03694f63ba07f2eaf7ecc15f6ef5e88e.jpg");
}
.tab2
{
    background:url("/assets/uploads/portfolio/thumb/03694f63ba07f2eaf7ecc15f6ef5e88e.jpg");
}
.tab3
{
    background:url("/assets/uploads/portfolio/thumb/03694f63ba07f2eaf7ecc15f6ef5e88e.jpg");
}

.tab4
{
    background:url("/assets/uploads/portfolio/thumb/03694f63ba07f2eaf7ecc15f6ef5e88e.jpg");
}

.tab5
{
    background:url("/assets/uploads/portfolio/thumb/03694f63ba07f2eaf7ecc15f6ef5e88e.jpg");
}

.f-payment{list-style-type: none !important; margin-top: 35px;}
.credit-card-ops{margin-left:4.5641% !important;}
.lab-cc{line-height: 30px;}
.sn-notification p{float: left;}
.sn-notification input.notif-r {float: left; margin-right: 5px;}
.sn-notification .span12{margin-left: 0;}
.admin-searchbar input{
    border-color: #D0DDE9;
    border-radius: 2px;
    font-size: 11px;
    height: 15px;
    margin: 0;
}
.admin-searchbar select{
    border-color: #D0DDE9;
    border-radius: 2px;
    font-size: 11px;
    height: 25px;
    margin: 0;
}
.left-margin{
    margin-left: 10px !important;
}
.bottom-margin{
    margin-bottom: 8px;
}
.lower-case{
    text-transform: lowercase !important;
}
.margin-left22{
    margin-left: 22px !important;
}

.margin-adjust {
    margin: 0 0 16px !important;
}

.pop-btn{margin: 10px -10px 0 0; padding: 0; float:right;}
.rd-lab{float:left;margin: -3px 0 0 8px;}
.rd-inp{float: left;}
.lower-n-list{margin: 0; padding: 0; width: 100%; float: left; list-style-type:disc !important; }
.lower-n-list li{margin: 0; padding: 0; float: left; width: 100%; clear: both; line-height: 25px;}
.line-tgap{margin: 5px 0 0 0;}
.btn-sv-cng{margin: -1.5px 55px 0 0 !important; float: right;}
.tersep{margin: -1px 0 0 0 !important;}

.custom-table-head{background: #f7f7f7 !important;}
.table-head a{color: #ffffff;}
.table-odd{background: #f5fafd !important;}
.table-default-r{background: #ffffff !important;}
.table-cus-footer{background: #d0d0d0 !important;}

.z-margin-b{margin-bottom: 0 !important;}
.table-center-text{text-align: center !important;}
.custom-borders{border-top:1px solid #edf2f7; border-bottom:1px solid #edf2f7; padding-top:25px; padding-bottom: 17px; }
.custom-borders2{border-top:1px solid #edf2f7; border-bottom:1px solid #edf2f7; padding-top:15px; padding-bottom: 17px; }
.c-magic{margin: 0 !important;}
.c-magic2{margin: 0 0 10px 0 !important;}
.r-magic{margin-right: 17px !important;}
.t-magic{margin-top: 12px !important;}
.r-magic label{width:auto !important;}
.custom-borders label {width:auto !important;}
.custom-borders2 label {width:auto !important;}
.c-magic label {width:auto !important;}
.f-left{float: left !important;}
.f-right{float:right !important;}
.note-span{font-size: 13px; margin: 5px 0 0 10px !important; color: #c2c2c2; width: auto !important;}
.h-select{height: 30px !important}
.cus-btn-mov{margin: 0 70px 0 0 !important}

.cus-image{margin: 0 auto; display: block; }
.t-center{text-align: center !important;}

.want-bdr{border-bottom:1px solid #edf2f7;}
.no-border{border: 0 !important;}
.cust-inp-cj{margin-left:143px; }
.tooggle-trigger{margin: 0; padding: 5px 5px; background: #cccccc;}
/*.no-video{margin: 0; height: 349px; }*/
.toggle-tri {transform:rotate(90deg);cursor: pointer;}
.tooggle-area{margin: 0;padding: 5px ;background: #cccccc;}
.toogle-text-box{border: 1px solid #fff; background: none transparent; color:#333; resize: none;width: 430px; height: 130px;}
.toogle-text-box:focus{background: none !important; border: 1px solid #fff !important; box-shadow:none !important; }
.cust-right{margin-right: 35px;}

.warm-welcome-container{margin: 0; padding: 0; width: 100%; height: 100%; position:absolute; z-index: 9999; top: 150px}
.welcome-overlay{margin: 0; padding: 0; width: 100%; height: 100%; position: fixed; z-index: 9; top: 0; background: #000; opacity: 0.9; display: block;}
.welcome-wrapper{max-width: 624px; display: block; margin: 0 auto; position: relative; z-index: 99;}
.welcome-wrapper h4{margin: 0; padding: 0; width: 100%; float: left; text-align: center; color: #fff; font-size: 24px;}
.welcome-wrapper h1{margin: 35px 0; padding: 0; width: 100%; float: left; text-align: center; color: #fff; font-size: 40px; font-weight:bold;}
.welcome-wrapper p{margin: 20px 0; padding: 0; width: 100%; float: left; text-align: center; color: #fff; font-size: 16px; font-weight: 100; line-height: 33px;}
.welcome-wrapper a.next{margin: 40px 20px 0 136px; padding: 0; width: 167px; height: 48px; line-height: 48px; text-transform: uppercase; float: left; text-align: center; color: #fff; font-size: 14px; background: #323a45; border-radius:4px;}
.welcome-wrapper a.demo{margin: 40px 0; padding: 0;width: 167px; height: 48px; line-height: 48px; text-transform: uppercase; float: left; text-align: center; color: #fff; font-size: 14px; background: #fd7f73; border-radius:4px;}
.round-input-group input[type="text"]:first-child {border-top-right-radius: 0px; border-bottom-right-radius: 0px;float:left; }
.round-input-group input[type="text"]:last-child {border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-left:0;}
.new-c-magic .field-box{margin: 0 !important;}
.round-input-group input.span6{width: 50%;}
.acnt-dtl label{text-align: right !important;}
.btn-input-group{position: relative; display: table;}
.btn-input-group img{position: absolute; right: -31px; top:5px;}

.btn-input-group .btninput-group-addon{background: #f3f3f3; border:1px solid #DEE3EA; border-top-left-radius:4px;border-bottom-left-radius:4px; padding: 4px 19px; margin: 0; float: left; color: #666666;}
.btn-input-group .btninput-group-rest{border-top-left-radius:0px !important;border-bottom-left-radius:0px !important;}
.linked-accounts-list{margin:0; padding: 0; list-style-type: none;}
.linked-accounts-list li{width: 100%; float:left; clear:both; padding: 8px 0; border-bottom:1px solid #EFEFEF;}
.social-acnt img{width: 50px; margin: 16px 0;}
.social-acnt-title h4{font-size: 14px; font-weight: bold; color:#000 !important; font-style: normal !important; margin: 17px 0 5px 0 !important;}
.social-acnt-title p{font-size: 13px; color:#666 !important; font-style: italic; margin: 0 !important;}
.social-acnt-link input{margin: 20px 0 0 0;}
.linked-bottom{border-bottom:1px solid #EFEFEF; padding-bottom: 75px;}
.new-nav-btn1{
    background: #323A45 !important;
    border-radius: 0;
    border: 0;
    border-top: 0;
}
.new-nav-btn1-color{
    background: #96C134 !important;
}

.new-nav-btn1 span{
    color: white;
}
.offset-custom-1{
    margin-left: 10px;
}
.offset-custom-2{
    margin-left: 10px;
}
#pro_image_avatar{
    cursor: pointer;
    min-height:180px;
    max-height:180px;
    min-width:180px;
    max-width:180px;
}
.custom-h4{
    color: #29323D !important;
    font-style: normal !important;
    text-align: left !important;
}
.custom-span-remove-margin-left{
    margin-left: 0px !important;
}
.custom-h4-align-left{
    text-align: left !important;
}
.custom-span-top-margin{
    margin-top: 28px;
}
.custom-cursor-pointer{
    cursor: pointer;
}
@media only screen and (min-width:320px) and (max-width:479px){
    .content{
        margin-left: 0px !important;
    }
}
@media only screen and (min-width:320px) and (max-width:389px){
    .offset-custom-2{
        margin-left: 1px;
    }
}

.biography-container p{font-size: 14px; margin-bottom: 20px;}

.default-padding{padding: 0 !important;}
.biography-field{width: 98%; min-height:80px; height: auto; resize: none;}

.bolded-head{font-size: 18px !important; font-weight: bold; color: #000 !important; font-style: normal !important; margin: 0 0 35px 0 !important;}
.social-network-container{padding: 50px 0 0 0; border-top:1px solid #cfcfcf; margin: 50px 0 0 0;}
.social-network-container p{font-size: 14px; margin-bottom: 30px;}
.network-btn{padding: 0 !important;}
.network-btn img {border-bottom-left-radius: 4px; border-top-left-radius: 4px;height: 50px;width: 50px;}
.network-btn-support{padding:14.8px 22px !important;}
.profile-url-tab input[type="text"]{width:96%;border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-right:0px; margin: 9px 0 0 3px;padding: 16px 0 16px 9px;}
.profile-url-tab button{margin: 9px 0 0 -2px;padding: 18.4px 22px;}
.avail-work-container{margin-top: 40px;}
.edit-availability{margin-bottom: 75px;text-align: left !important; font-weight: bold; text-transform: uppercase; color: #cfcfcf !important; line-height: 46px; font-size: 18px; margin-top: 18px;}
.edit-availability i{font-size: 26px; line-height: 46px;}

.embed-video-section{padding: 20px 0 150px 0; background: url("../img/arrow-video.png") center bottom no-repeat #fd7f73; width: 100%;}
.ico-done{font-size: 35px; color: #cfcfcf; margin: 10px 30px 0 0 !important ;}
.embed-video-box{background: #2b333e; padding: 30px; margin: 0 auto !important; float:none !important;}
.ico-video-embed{font-size:100px; color: #fff; margin: 0 auto !important; float:none !important; display: block !important; text-align: center;}
.embed-video-box h4{font-weight: bold; font-size: 18px !important; text-align: center; color: #CFCFCF; margin-top: 30px;}
.embed-video-box p{font-size: 16px !important; text-align: center; color: #CFCFCF; margin-top: 30px; margin-bottom: 30px;}
.video-url{margin: 0 auto 40px auto !important; float:none !important; font-size: 18px !important; font-weight: bold;}
.video-link{width: 436px !important;}
.embed-button{padding:18.4px 31px !important;}
.no-video-note{text-decoration: underline; font-size: 16px; color:#333333; text-align: center; float: left; width: 100%; margin: 25px 0 0 0;}
.latest-work-container{padding: 0 0 0 0; background:#ffffff; position: relative;}
.latest-wrk-full{width: 100%; float: left;}
.latest-wrk-full h4{font-weight: bold; font-size: 18px !important; text-align: center; color: #333333; margin-top: 30px;}
.ico-done-latest{position: absolute; right: 0;}


.latest-work-box{padding: 30px; margin: 0 auto !important; float:none !important;}
.ico-latest-work{font-size:100px; color: #333; margin: 0 auto !important; float:none !important; display: block !important; text-align: center;}
.latest-work-box h4{font-weight: bold; font-size: 18px !important; text-align: center; color: #333; margin-top: 30px;}
.latest-work-box p{font-size: 16px !important; text-align: center; color: #333; margin-top: 30px; margin-bottom: 30px;}
.drag-btn{padding: 15px 25px !important; display: block !important; margin: 45px auto 10px  !important; float:none  !important; font-size: 18px  !important; font-weight:bold  !important; text-transform: uppercase;}
.upload-click{text-align: center; float:none; display: block; margin: 0 auto; color: #3f3f3f; font-size: 16px;}


.resume_container{margin: 0; padding: 120px 0 60px 0; width: 100%; float: left; background: #E8F0F3;}
.resume_container h4{margin: 0 0 70px 0; padding: 0; width: 100%; float: left; text-align: center; font-size: 14px; text-transform: uppercase; color:#333; font-weight: bold;}
.resume-holder-section{margin: 0 auto; width: 1170px; float: none; position: relative;}
.resume-key{margin: 0 0 60px 0; padding:0 0 50px 0; width: 100%; float:left; border-bottom:1px solid #cfcfcf;}
.key-title{margin: 0 0 50px 0; padding: 0; width: 100%; float:left; }
.key-content{margin: 0; padding: 0; width: 100%; float:left; }
.key-title h2{margin: 0; padding: 0; width: 100%; float:left; text-align: center; font-size: 40px; font-weight: bold; }
.key-title p{margin: 30px 0 0 0; padding: 0; width: 100%; float:left; text-align: center; font-size: 18px; font-weight: normal; color:#333; }
.add-key-button{margin: 0; padding: 20px 2% 20px 2%; width: 100%; float: left; text-align: left; font-size: 20px !important; font-weight: bold !important; text-transform: uppercase;}
.skills-tab{width: 600px;display: table;float: none;margin: 0 auto !important;}
.no-border{border:0 !important;}
.custom-accordion{margin: 0 0 30px 0; padding: 0;}
.new-footer-top{margin: 0; padding: 0; width: 100%; float: left; height:300px;background: url("../img/arrow-footer.png") top center no-repeat #323a45;}
.new-footer-bottom{margin: 0; padding: 0; width: 100%; float: left; background:#23282e;height: 80px; }
.new-footer-bottom p{margin: 0; padding: 0; width: 100%; float: left; line-height: 80px; color:#fff; text-align: center; font-size: 16px; }
.ico-adjust-right{margin-right: 10px; margin-top:8px;}

.schema-holder{background: #fff;padding: 5px 2%;}
.color-swatch{position:relative;z-index:9;margin: 10px 20px 10px 0; padding: 2px; width: 50px; height: 50px; float: left; display: block; border-radius:2px; box-shadow:0 0 5px #999;}
.color-swatch:nth-child(3n+3){margin: 10px 0;}
.color-swatch input.black{width: 50px; height: 50px; float: left; display: block; background: #000000 !important; text-indent: -999em; border: 0;}
.swatch-caret{position: absolute; z-index: 99; bottom: 2px; right: 2px; padding:0 4px; width: 16px; height:19px; border-radius:0;}
.btn-apply-changes{color: #fff !important;}

.social-network-highlight{margin: 0 0 15px 0; padding: 0; height: 68px; }
.availability-options{width: 100%; height: 100%; float: left;}

.round-chart-top{height: 250px;width: 329px;overflow: hidden;}
.chart-top-holder{margin: 0; padding:0px;}
.padding-default-left{padding-left:0 !important;}
.com-center{float:none !important; margin: 0 auto !important;}
.com-right{float:right !important;}
.com-center a {
    margin: 0 0 0 35px;
}
/*Hassan*/
.padding-1{padding: 5px !important;}
.padding-default{padding: 0 !important;}
.margin-top-8{margin-top:40px !important;}
.margin-top-1{margin-top: 5px !important;}
.margin-top-4{margin-top: 20px !important;}
.margin-left-default{margin-left: 0 !important;}
.padding-left-126{padding-left: 126px !important;}
.padding-top-11{padding-top: 55px !important;}
.subtext-label {
    font-size: 12px;
    margin-left: 0;
    color: #778391;
    font-style: italic;
    margin-top: 0; }
.custom-p-color{
    font-weight: bold;
    color: #696D73;
}
.custom-textbox-margin{
    margin: 0 auto !important;
    margin-bottom: 17px !important;
}
.custom-textarea-size{
    height: auto !important;
    min-height: 1px !important;
    resize: none !important;
    width: 98% !important;
}
.custom-border-left  {border-left: 0px !important;}
.pagination-right {
    text-align: right !important;

}
.border-less-textfield{
    background: transparent;
    border: 0 none !important;
    box-shadow: none !important;
}
.custom-textarea-font-size{
    font-size: 14px !important;

}
.custom-fields-font-color{
    color: #333333 !important;
}

/*openings*/

.opening-btn-group button{width: 33.3333333333% !important; text-align: center !important; color: #333 !important;}

.profile-basic-info{margin: 0; padding: 0; width: 100%; float: left; clear:both; text-transform: capitalize;}

.pop-title-field{width: 82% !important; float:none !important; margin: 0 auto !important; display: table !important; height: 36px !important; line-height: 36px !important;}

.prof-dtl .field-box{margin-bottom: 20px;}
.mota-title{color: #333333  !important;
            font-size: 20px !important;
            font-style: normal !important;
            font-weight: bold !important;
            margin: 8px 0 !important;}

.date-experience{margin: 0; padding: 0; width: 100%; float:left;}
.date-exp-holder{margin: 0 auto; padding: 0; min-width: 265px; max-width: 450px; width: auto; display: table; float:none;}
.date-exp-holder h3.start-date{margin: 0 5px 0 30px !important;}
.dashboard-pad-wrapper{padding:10px 25px 0 0 !important;margin-top: 55px!important;}
.padding-top-default{padding-top: 0 !important;}
.padding-top-1k{padding-top: 60px !important;}
.dashboard-btngroup{padding-left: 0 !important; margin-left:0 !important;}
.dashboard-keywords{margin-left:7px !important;}

.loader-save{margin: 0; padding: 0; position: fixed; z-index: 9999; width: 100%; height: 100%; background:url("../img/big_loader_old.gif") center center no-repeat; display: block; }
.embed-video-section-iframe{
    width:100%;
    height: 530px;
    float: left;
}
.video-plugin-location{
    float: left; width: 100%; margin: 0px; padding: 0px;
}

/*aariz styles 12 feb 2014*/

.availability-options{margin: -40px 0 0 0; padding: 0; width: 100%; float: left;}
.green-badge-auto{margin: 0 auto 15px; padding:10px 25px; font-size: 16px; color: #fff; text-transform: uppercase; border-radius:2px; background: #59b958; float:none; display: table; }
.green-badge{margin: 0; padding:10px 25px; font-size: 16px; color: #fff; text-transform: uppercase; border-radius:2px; background: #59b958; display: table; }
.grey-badge{margin: 0; padding:10px 25px; font-size: 16px; color: #fff; text-transform: uppercase; border-radius:2px; background: #333; display: table; }
.availability-ops{margin: 0; padding: 30px 0;border-bottom: 1px solid #CFCFCF;}
.radio-drop{margin:13px 0 0 110px !important;}
.availability-note{color: #59b958; font-size: 15px; margin-top:5px; float: left;}
.normal-note{color: #333; font-size: 15px; margin-top:5px; float: left; text-align: center; width:70%;}
.layer2{position: absolute !important;}
.layer1{position: relative !important;}
.full-width-image-section {background:#2b333e;padding:200px;}
.full-image-box {float: none !important;margin: 0 auto !important; padding: 30px;}
.full-image-box h4 {color: #fff; font-size: 20px !important; font-weight: bold; margin-top: 30px; text-align: center;}
.full-image-box p {color: #fff;font-size: 16px !important; margin-bottom: 50px;margin-top: 50px;text-align: center;}

.embed-video-click {color: #FD7F73;display: block;float: none;font-size: 20px;margin: 50px auto 0;text-align: center; text-decoration: underline;}
.key-details-section{margin: 30px 0 20px 0; padding: 0 0 20px 0; width: 100%; float: left; /*border-bottom:2px dotted #cfcfcf;*/ }
.key-details-section h3{margin: 0 0 20px 0; padding: 0; width: 100%; float: left; text-align: center; text-transform: uppercase; font-size: 16px; font-weight: bold;}
.key-details-section .date-exp-holder h3{margin: 0 5px 20px; width: auto !important; padding: 0; float: left !important; text-transform: uppercase; font-size: 16px; font-weight: bold;}
.key-details-section .date-exp-holder h3:last-child{margin: 1px 5px 20px; width: auto !important; padding: 0; float: left !important; text-transform: uppercase; font-size: 14px; font-weight: normal;}
.key-details-section .date-exp-holder h3:last-child > div{float:left;}
.key-details-section .date-exp-holder h3:last-child span{margin: -1px 0 0 0;}

.key-details-section p{margin: 0 0 20px 0; padding: 0; width: 100%; float: left; font-size: 16px; line-height: 32px; text-align: center;}
.key-skills{margin: 0; padding: 0; width: 100%; float: left;list-style-type: none;}
.key-skills li{margin: 0 10px 10px 0; padding: 0; float: left; display: inline; position: relative;}
.key-skills li i{position: absolute; top: 0; right: 0; font-size: 16px; color: #fff; display: none; cursor: pointer;}
/*.key-skills li a{margin: 0; padding: 10px 30px; border-radius:2px; float: left; display: block; text-transform: uppercase; color: #fff; font-size: 16px; font-weight: bold; background: #2B333E; transition:all linear 0.3s;}
.key-skills li a:hover{background: #FD7F73; text-decoration: none;}*/
.key-skills li:hover i{display: block;}
/*.key-skills li:hover a{background: #FD7F73;}*/
.request-sent-container{margin: 50px 0 4px 0; padding: 0; width: 100%; float: left;}
.request-pending-container{margin: 50px 0 150px 0; padding: 0; width: 100%; float: left;}
.request-left-area h2{margin: 0; padding: 0;text-transform: uppercase; font-size: 24px; }
.pending-left-area h2{margin: 0; padding: 0;text-transform: uppercase; font-size: 16px; font-weight: bold; }
.request-left-area span{margin: 15px 0 0 0; padding: 0;text-transform: uppercase; font-size: 14px; color:#FD7F73; float:left; }
.pending-left-area span{margin: 10px 0 0 0; padding: 0; font-size: 16px;  float:left; width: 90%;}
.request-left-area .icon-remove{float:right; font-size: 18px; color:#cfcfcf; cursor: pointer;}
.pending-left-area .icon-remove{float:right; font-size: 18px; color:#cfcfcf; cursor: pointer;}
.request-right-area .icon-remove{float:right; font-size: 18px; color:#cfcfcf; cursor: pointer;margin: 18px 22px 0 0;}
.pending-right-area .icon-remove{float:right; font-size: 18px; color:#cfcfcf; cursor: pointer;margin: 18px 22px 0 0;}
.our-btn{margin: 10px 0 0 0; padding: 10px 25px; float:right;color: #fff; font-size: 16px; font-weight: bold; text-transform: uppercase;border-radius: 2px; cursor: pointer;}
.our-btn:hover{text-decoration: none;}
.reminder-btn{background: #FD7F73;}
.approve-btn{background: #96BF48;}
.request-pending-container p{margin: 20px 0 0 0; float: left; width: 95%; font-size: 16px; font-weight:normal; line-height: 32px;}


.tf-profile-view-container{margin: 0; padding: 0; width: 100%; float: left;}
.tf-profile-top-container{margin: 0; padding: 0; width: 100%; float:left;}
.tf-video-box{margin: 0; padding: 70px 4.5%; width:91%; float: right; background: url("../img/arrow-video.png") bottom center no-repeat #FD7F73;}
.video-holder{margin: 0; padding: 0; float: left; width: 100%;}
.video-holder img{margin: 0; padding: 0; float: left; width: 100%; height: 530px;}
.no-radius{border-radius:0 !important;}
.tf-profile-bottom-container{margin: 78px 0 0 0; padding: 0; width: 100%; float: left;}
.padding-adjusted{padding: 0 30px !important;}
.actn-btns{margin: 25px 0;}
.actn-btns input{margin:0 0 0 10px;}
.header-adjusted{margin-left:54px !important;}
.tf-profile-left-column{margin: 0; padding: 0; width: 435px; float: left;}
.tf-profile-left-holder{margin: 0; padding: 0; width: 350px; float: right;}
.tf-profile-right-column{margin: 0; padding:0; width: 100%; float: right;}
.tf-right-profile-holder{margin: 0 auto; padding:0; width: 79%; float: none;}
.tf-right-profile-holder h3{margin:5px 0 75px 0; padding:0; width: 100%; float:left; color:#2c3d45; text-align: center; font-size: 18px; font-weight: bold; text-transform: uppercase;}
.latest-work-even, .latest-work-odd{padding: 0; width: 49%; float: left;}
.latest-work-odd{margin: 0 0 0 20px;}
.latest-work-even img, .latest-work-odd img{margin: 0 auto 25px auto; cursor: pointer; padding:0; max-width: 522px; width: 520px; float: none; display: block;}
.load-images{margin: 0 auto; padding: 11px 25px; display: table; color: #fff; border-radius: 2px; font-size: 20px; background: #fe7e75; text-transform: uppercase;}
.load-images-container{margin: 20px 0 41px 0; padding: 0; width: 100%; float: left;}


.opening-left-support-box {width: 95%;}
.openings-container{margin: 0; padding: 0 0.25%; width: 95%; float: left;}
.openings-container .opening-tittle{margin: 0 0 8px 0; padding: 0; width: 100%; float:left; color: #1c9fef; text-transform: uppercase; font-weight: bold; font-size: 22px;}
.openings-container .opening-post{margin: 0 0 5px 0; padding: 0; width: 100%; float:left; color: #6a6d76; font-size: 19px; font-style: italic;}
.openings-container .opening-location{margin: 0 0 12px 0 !important; padding: 0; width: 100%; float:left; color: #848683 !important; font-size: 13px; font-style: italic !important;}
.openings-container .opening-detail{margin: 0 0 19px 0 !important; padding: 0; width: 100%; float:left; color: #757e85 !important; font-size: 13px; line-height: 21px;}
.openings-container .opening-date, .openings-container .opening-month, .openings-container .opening-time{margin: 0; padding: 0; color: #737776; font-size: 14px;}
.openings-container .opening-date i, .openings-container .opening-month i, .openings-container .opening-time i{margin: 0 13px 0 0 !important;}
.opening-skils-requirements{margin: 20px 0 30px; padding: 0; width: 100%; float: left; list-style-type: none;}
.opening-skils-requirements li{margin: 0 3px 5px 0; padding: 0; float: left; display: inline;}
.opening-skils-requirements li span{margin: 0; padding:2px 8px; float: left; background: #898d96; color: #fff; border-radius: 2px; }
.opening-alert .alert {padding:14px 35px 14px 14px;}
.opening-alert .alert .alert-ops {margin: 4px 0 0 0;}

.openings-container .opening-review-container{margin: 0 0 12px 0; padding: 0; width: 100%;}
.openings-container .opening-review-container a{text-transform: uppercase; margin: 0 10px 0 0;}
.right-column [class*="job-opening"]{position: relative;}
.disabled-opening{position: absolute; margin: 0; padding: 0; width: 100%; height: 100%; top: 0; background:url("../img/disabled.png"); }
.disabled-opening a{margin: 25px 15px 0 0;}


.welcome-wrapper2 h4{margin: -25px 0 0 0; padding: 0; width: 100%; float: left; text-align: center; color: #fff; font-size: 24px;}
.editor-menu{font-size: 41px !important; font-weight: bold !important;}
.welcome-wrapper2 {display: block;  margin: 0 auto;  max-width: 780px;  position: relative;  z-index: 99;}
.welcome-editor-demo{margin: 100px 0 0 0; padding: 0; width: 100%; float:left; background: url("../img/demo2.png") center center no-repeat; height:283px;}
.iamready{margin:80px auto 0 !important;padding: 12px 30px !important; border-radius:2px !important; font-size: 16px !important; font-weight: bold !important; display: table !important;}
.social-list{list-style-type: none; float:none; display: table; margin: 0 auto; padding: 0;}
.social-list li{margin: 0 10px 0 0; float:left; display: inline;}
.social-list li a{margin: 0; padding: 0; display: block; width: 53px; height: 52px; text-indent: -999em;}
.social-list li a.px500{background: url("../img/500px-g.png")center center no-repeat;}
.social-list li a.dribble{background: url("../img/Dribble-g.png")center center no-repeat;}
.social-list li a.facebook{background: url("../img/Facebook-g.png")center center no-repeat;}
.social-list li a.flicker{background: url("../img/Flicker-g.png")center center no-repeat;}
.social-list li a.github{background: url("../img/Github-g.png")center center no-repeat;}
.social-list li a.google{background: url("../img/Google-g.png")center center no-repeat;}
.social-list li a.linkedin{background: url("../img/Linkedin-g.png")center center no-repeat;}
.social-list li a.pinterest{background: url("../img/Pinterest-g.png")center center no-repeat;}
.social-list li a.smugmug{background: url("../img/SmugMug-g.png")center center no-repeat;}
.social-list li a.tumblr{background: url("../img/Tumblr-g.png")center center no-repeat;}
.social-list li a.twitter{background: url("../img/Twitter-g.png")center center no-repeat;}
.social-list li a.vimeo{background: url("../img/Vimeo-g.png")center center no-repeat;}
.social-list li a.youtube{background: url("../img/Youtube-g.png")center center no-repeat;}

/*accordion*/
.accordion-group {
    border: medium none;
    margin-bottom: 20px;
}
.accordion-heading {
    border-bottom: 0 none;
}
.accordion-heading .accordion-toggle {
    background: #E9F0F4;
    border-radius: 4px;
    color: #323A45;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.1s linear 0s;
}
.accordion-toggle {
    cursor: pointer;
}
.accordion-heading:hover .accordion-toggle, .accordion-heading:hover .accordion-toggle.inactive {
    background: #F97E76;
    color: #FFFFFF;
}
.accordion-heading .accordion-toggle.active {
    background: #F97E76;
    border-radius: 4px 4px 0 0;
    color: #FFFFFF;
}
.accordion-heading .accordion-toggle.inactive {
    /*background:  #E9F0F4;*/
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    color: #323A45;
}
.accordion-heading.accordionize .accordion-toggle span, .accordion-heading.togglize .accordion-toggle span {
    color: #323A45;
    font-size: 18px;
    margin: -8px 0 0;
    position: absolute;
    right: 20px;
    top: 50%;
    transition: all 0.1s linear 0s;
}
.accordion-heading:hover .accordion-toggle span {
    color: #FFFFFF;
}
.accordion-heading .accordion-toggle.active span, .accordion-heading:hover .accordion-toggle.inactive span {
    color: #FFFFFF;
}
.accordion-heading.accordionize .accordion-toggle.active span, .accordion-heading.togglize .accordion-toggle.active span {
    transform: rotate(180deg);
}
.accordion-heading.togglize .accordion-toggle span {
    font-size: 18px;
    margin: -8px 0 0;
}
.accordion-heading.togglize .accordion-toggle.active span {
    opacity: 0;
}
.accordion-heading.togglize .accordion-toggle.active span + span {
    opacity: 1;
}
.accordion-inner {
    border: 1px solid #E9F0F4;
    border-radius: 0 0 4px 4px;
    padding: 8px 15px 10px;
}

.accordion-heading .accordion-toggle {
    background: none repeat scroll 0 0 #000000;
    border-radius: 0;
}

/*accordion ends*/

/*button-skills*/

.button-main.button-large {
    font-size: 16px;
    padding: 16px 30px;
}
.button-main {
    background-color: #323A45;
    border: medium none;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 0;
    padding: 12px 24px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.1s linear 0s;
    vertical-align: middle;
}

.button-main:hover, .button-main:active, .button-main:focus {
    background-color: #F97E76;
    color: #FFFFFF;
}
/*button-skills ends*/

.dashboard-head-adjust{margin: 0 0 0 44px !important; float: left !important;}
.dashboard-activity-adjust{margin: 0 0 0 14px !important; float: left !important;}

.date-exp-holder h3.award-year-date {display: block !important;float: none !important;margin: 0 auto !important;}

.h3-tittle-head{background: none repeat scroll 0 0 #FE7E75 !important;
                border-bottom: 1px solid #333333 !important;
                border-radius: 8px !important;
                color: #FFFFFF !important;
                display: table !important;
                float: none !important;
                font-size: 16px !important;
                font-weight: bold !important;
                margin: 0 auto 20px !important;
                padding: 10px 0 !important;
                text-transform: uppercase !important;
                width:600px !important;
}

.h3-tittle-head span{float: right; margin:0 15px 0 0;}
.loader-save{margin: 0; padding: 0; position: fixed; z-index: 9999; width: 100%; height: 100%; background:url("../img/ajax-loader.gif") center center no-repeat; display: block; }
.loader-save-holder{margin: 0; padding: 0; position: fixed; z-index: 999999999 !important; width: 100%; height: 100%; background:url("../img/transp.png") top left repeat; display: block; top: 0; }
.public-social-network-container {
    border-top: 1px solid #CFCFCF;
    margin: 30px 0 40px;
    padding: 15px 0 0;
}
.public-social-network-highlight {
    margin: 0 0 10px;
    padding: 0;
}

.public-social-list {
    display: table;
    float: left;
    list-style-type: none;
    margin: 0 50px 0 0;
    padding: 0;
}

.public-social-list li {
    display: inline;
    float: left;
    margin: 0 10px 0 0;
}

.public-social-list li a {
    display: block;
    height: 52px;
    margin: 0;
    padding: 0;
    text-indent: -999em;
    width: 53px;
}

.public-social-list li a.px500{background: url("../img/500px-g.png")center center no-repeat;}
.public-social-list li a.dribble{background: url("../img/Dribble-g.png")center center no-repeat;}
.public-social-list li a.facebook{background: url("../img/Facebook-g.png")center center no-repeat;}
.public-social-list li a.flicker{background: url("../img/Flicker-g.png")center center no-repeat;}
.public-social-list li a.github{background: url("../img/Github-g.png")center center no-repeat;}
.public-social-list li a.google{background: url("../img/Google-g.png")center center no-repeat;}
.public-social-list li a.linkedin{background: url("../img/Linkedin-g.png")center center no-repeat;}
.public-social-list li a.pinterest{background: url("../img/Pinterest-g.png")center center no-repeat;}
.public-social-list li a.smugmug{background: url("../img/SmugMug-g.png")center center no-repeat;}
.public-social-list li a.tumblr{background: url("../img/Tumblr-g.png")center center no-repeat;}
.public-social-list li a.twitter{background: url("../img/Twitter-g.png")center center no-repeat;}
.public-social-list li a.vimeo{background: url("../img/Vimeo-g.png")center center no-repeat;}
.public-social-list li a.youtube{background: url("../img/Youtube-g.png")center center no-repeat;}

.public-badge{margin-top: 5px;}
.latest-work-holder{position: relative; z-index: 9; float: none; width: 520px; margin: 0 auto}
.latest-work-disp{cursor:pointer;margin: 0; padding: 0 0 0 70px; width: 450px; height: 100%; float: left; position: absolute; z-index: 99; top: 0;background: url("../img/ltwrk-trans.png")top left repeat;}
.latest-work-disp h4{margin: 70px 0 10px 0;}
.latest-work-disp .ltwrk-disp{margin:0 0 10px 0; font-size: 14px; line-height: 22px;}
.latest-work-disp .ltwrk-tools{margin:20px 0 0 0; font-size: 14px; line-height: 22px; font-style: italic;}

.latest-work-holder > .latest-work-disp{opacity:0;transition: opacity .25s ease-in-out;
                                        -moz-transition: opacity .25s ease-in-out;
                                        -webkit-transition: opacity .25s ease-in-out;}
.latest-work-holder:hover > .latest-work-disp{opacity:1;}
.new_user_form {margin: 80px 0 0 0;}
.public-exp-head h3{font-size: 36px; font-weight: bold; margin: 0 0 40px 0}
.public-job-name-dt h4{font-size: 18px;font-weight: 600;margin: 7px 0 0;text-transform: uppercase;text-align: right;}
.public-job-name-dt p{font-size: 18px;font-weight: lighter;margin: 7px 0 0;text-align: right; width: 100%; float:left}
.public-job-dis-dt p{font-size: 18px;margin: 0 0 25px; line-height: 30px; font-weight:lighter;}
.margin-public-row{margin-top: 20px; margin-bottom: 60px;}
.public-resume-key {
    float: left;
    margin:0;
    padding:0;
    width: 100%;
}
.public-footer-top{margin: 0; padding: 130px 0; width: 100%; float: left; background: url("../img/arrow-footer.png") top center no-repeat #323a45;}
.user-pro-url-adjust{margin-top: 9px;}

.profile-url-tab{width: 463px; position: relative;}
.profile-url-tab button{position: absolute; right: 0;}
.user-port-work-ops{padding: 0; float: none; display: table; margin:0 0 0 25px;position: absolute;top: 44%;}
.user-port-work-ops li{margin: 0 10px 0 26px; padding: 0; display: inline; float:left;}
.user-port-work-ops li a{border-radius: 4px;height: 70px;transition: all 0.35s ease-in-out 0s; width: 70px; background: #f97e76; float: left; font-size: 22px; text-align: center; color: #fff; text-decoration: none; line-height: 70px;}

.singup-group input:first-child{border-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0;}
.singup-group input.span6:first-child{width: 49.718% !important;}
.singup-group input:last-child{border-top-left-radius: 0; border-bottom-left-radius: 0;}
.singup-group input.span6:last-child{width: 49.718% !important;}
.activity-last{margin-right: 15px !important;}
.activity-keyword{margin-right: 10px !important;}
.activity-search{margin-right: 5px !important;}


.image-disp-container{margin: 20% 0 0 -7%;}
.remove-publish-notify{margin: 0 0 0 17px;}

.featured_list_view_container .pagi_holder ul.pagination{margin: 0 15px;}
.featured_list_view_container p.count_of_count{margin: 0; line-height: 32px; color: #929292;}
.featured_list_view_container{margin-bottom:15px ;}

.next-btn-wrapper{margin: 0;padding: 0;width: 100%;float: left;text-align: center;}
.next-btn-wrapper a.next{margin: 50px 0 30px 0;float: none;border: 0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;font-size: 18px;}
.welcome-wrapper .dt-show-text{font-size: 14px;color: #8a8a8a;margin: 0;padding: 0;}
.width-100{width: 100% !important;}
.ready-td .button-main.btn-td{margin: 50px 0 30px;background: #0d9cfa !important;}
.warm-sp{max-width: 872px !important;}
.margin-top-6{margin-top: 30px;}
.margin-bottom-6{margin-bottom: 30px;}
.margin-top-10{margin-top: 50px;}
.margin-bottom-10{margin-bottom: 50px;}
.head-text{font-size: 16px;cursor: pointer;background: #e8f0f3;border: 0;border-radius: 0;padding-top: 20px;padding-bottom: 20px;padding-right: 15px;}
.head-text .label{background: #323a45;color: #e8eff5;font-weight: bold;padding:4px 12px;}
.alert .close{top: 0;right: -5px;}
.modal{width: 700px;margin-left: -350px;}
.modal{background-clip: padding-box;background-color: transparent;border: none;border-radius: 6px;box-shadow: none;left: 50%;margin-left: 0;outline: medium none;top: 10%;width: inherit;z-index: 1050;}
.modal-body{padding: 35px;}
.modal-header{padding: 35px;}
.tr-close{position: absolute;top: 15px;right: 15px;font-size: 25px;}
.st-header h3{font-weight: bold;font-size: 24px;}
.st-header .st-text{font-size: 16px;font-weight: lighter;margin: 10px 0  20px 0;line-height:25px;}
.st-header .btn-flat, .btn-flat.default{font-size: 14px;padding-top: 11px;padding-bottom: 11px;}
.radio-wrap{margin:0 auto 10px auto;float: none;display: table;}
.st-header .ft-text{font-size: 16px;font-weight: lighter;}
.st-header .ft-text-2{font-size: 15px;font-weight: lighter;}
.margin-bottom-2{margin-bottom: 10px !important;}
.margin-top-7{margin-top: 35px !important;}
.md-supporter{margin-bottom: 50px;}
.tr-sp{min-height: 110px !important;margin-bottom: -1px;cursor: pointer;}
.tr-sp.tr-tab-active{background: #fff;position: relative;z-index: 15;cursor: default;}
.margin-default{margin: 0 !important;}
.width-50{width: 50% !important;}
.br-bottom-sp{border-bottom: 1px solid #EFEEF3 !important;}
.jobopening_tyroes_tabs_active{background: #fff;position: relative;z-index: 15;}
.br-sep{background: #efeef3;height: 1px;width: 100%;float: left;position: relative;z-index: 10;margin-top: -1px;}
.border-default{border: 0 !important;}
.st-bg{background-color: #fdfdfd;}
#main-stats.st-sec{background: #fff;}
#main-stats.st-sec .fillter_applicaint{margin-right: 11.664%;}
#main-stats.st-sec .pagination_controllers{margin-left: 11.664%;}
#main-stats.st-sec .stats-row{box-shadow: none;}
.btn-sp .btn{background: #fff;border-color: #e3e3e3;padding: 10px 15px;font-weight: bold;color: #3b8acd;text-transform: uppercase;}
.btn-sp .slect-btn{height: auto;padding: 9px 12px 9px 12px;text-transform:uppercase;background: url("../img/t-slect.png") center right no-repeat;
                   -webkit-appearance: none;  /*Removes default chrome and safari style*/
                   -moz-appearance: none;  /*Removes default style Firefox*/
                   /*background:url(../img/dropdown-arrow.png) 108px center no-repeat;*/
                   text-indent: 0.01px;
                   text-overflow: "";
}
.btn-sp .btn:hover{background: #3b8acd;color: #fff;}
.active_fillters{background: #3b8acd !important;color: #fff !important;}
.btn-sp .slect-btn:hover{background: url("../img/t-slect.png") center right no-repeat;color: #3B8ACD;}
.gr-sec{margin-top: 25px;}
.gr-sec a.gr-btn-2{background: #343d4c;border: 1px solid #000;text-transform:uppercase;font-size: 12px;font-weight:bold;padding:10px 0;width: 150px; }
.gr-sec a.gr-btn-1{background: #57a1a4;border:0;text-transform:uppercase;font-size: 12px;font-weight:bold;padding:10px 0;width: 150px;}
.gr-sec a.edit-anc{text-decoration: underline;text-transform: capitalize;margin: 0 5px;}
.rt-tab .stat{cursor: pointer;padding: 25px 0 30px 0 !important;}
.rt-tab .stat.jobopening_tyroes_tabs_active{cursor: default;}
.dt-label .label{background: #8b8f9b;border-radius: 2px;padding: 2px 6px;line-height: normal;text-transform: capitalize;}
.text-justify{text-align: justify !important;}
.dt-row{border-bottom: 1px solid #efeef3;box-shadow: 1px 2px 4px 2px #f9f9f9;width: 100%;height: 0;float: left;}
.margin-bottom-8{margin-bottom: 40px;}
.margin-top-12{margin-top: 60px !important;}
.margin-bottom-12{margin-bottom: 60px !important;}
.table-br{border-top: 1px solid #dfe2e9;}
.table-br td{border: 0;}
.table-br tr{border-bottom: 1px solid #EDF2F7;}
.tabel-th-br{background:#dfe2e9;width: 1px;height: 15px;float: left;margin-right: 8px;margin-top: -4px;}
.table-br th{border: 0;}
.table-br tr:first-child{border: 0;}
.table-br tr:last-child{border: 0;}
.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.tr-head th{padding-left: 0;padding-top: 4px;padding-bottom: 24px;}
.br-tab-content a{color: #64635f;}
.margin-top-2{margin-top: 10px !important;}
.st-1 span{color: #757575; font-weight: 100;}
.st-1 span i{margin-right: 10px; font-size: 15px;}
.dt-1{color: #757575;}
.dt-2{color: #6d6d6d;}
.overview_location{font-weight: 500; font-style: italic; font-size: 16px;}
#opening-overview .right_overview a{margin-left: 10px; text-decoration: underline;}
.margin-bottom-4{margin-bottom: 20px !important;}
.margin-top-3{margin-top: 15px !important;}
.rt-1{color: #676e74;}
.margin-bottom-7{margin-bottom: 35px !important;}
.td-user-info a{font-size: 14px;text-decoration: underline;}
.td-user-info span{margin-left: 5px;font-style: italic;}
.td-btn-sec a.label-success{background: #7fbc80;padding:2px 4px;line-height: normal;text-transform: uppercase;font-weight: bold;}
.td-btn-sec a.delete_anonymous_feedbeck{text-decoration: underline;}
.margin-left-2{margin-left: 10px !important;}
.margin-right-2{margin-right: 10px !important;}
.ui-select.find.rt-slect select{-moz-appearance: none;}


/*removing the select arrow by default*/

select::-ms-expand {
    display: none;
}

@-moz-document url-prefix() {
    select {
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: "";
    }
}

/*removing the select arrow by default*/



.aplicant-tab a.name{font-size: 15px;color: #2488d4;}
.aplicant-tab a.add_candidate{text-transform: uppercase;font-weight:bold;background: #2b9df5;margin-top: 10px;}
.aplicant-tab a.decline_applicaint{font-weight:bold;text-transform: uppercase;background: #343d4c;border-color: #000;margin-top: 10px;}
.job_create_container{margin: 0; padding: 0; width: 100%; height: 100%; position: fixed; overflow-y: auto; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.0);}
/*.job_create_container .job_create_overlay{margin: 0; padding: 0; width: 100%; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0;}*/
.job_create_container .job_create_details{margin: 0; padding: 0; width: 100%; height: 100%;float:left;}
.job_create_container .job_create_details .job_create_holder{margin: 100px auto; padding: 0; width: 743px; transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;background-clip: padding-box;
                                                             background-color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 6px; box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); }

.job_create_container .job_create_details .job_create_holder .job_create_header{margin: 0; padding: 0 0 10px 0; min-height: 77px; border-bottom:1px solid #eee; position: relative;}
.job_create_container .job_create_details .job_create_holder .job_create_header #fuelux-wizard{margin-left:0;}
.job_create_container .job_create_details .job_create_holder .job_create_header .close{font-size: 25px; position: absolute; right: 13px; top: -50px;}
.job_create_container .job_create_details .job_create_holder .job_create_header #fuelux-wizard ul.wizard-steps{left:10px;}
.job_create_container .job_create_details .job_create_holder .job_create_header #fuelux-wizard ul.wizard-steps li{max-width: 32%;min-width: 32%;}


.job_create_container .job_create_details .job_create_holder .job_create_body{margin: 0; border-bottom:1px solid #eee; padding:42px 35px 35px;}
/*.job_create_container .job_create_details .job_create_holder .job_create_body .select2-container .select2-choice div b{border-left: 5px solid transparent;
    border-right: 5px solid transparent; border-top: 5px solid #000; height: 0; width: 0; margin-top: 18px;}*/

.job_create_container .job_create_details .job_create_holder .job_create_footer{margin: 0; padding: 20px 15px; border-top:1px solid #eee; position: relative;}

.knob{
    visibility: hidden;
}
.sugg-msg{
    margin-top: 20px;
}
.email_content_body{
    margin-top: 20px;
}
.email_content_body textarea{
    display: inline-block;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 98%;
    height: 120px;
}
.email_content_body .global-popup_footer{
    margin-bottom: 15px;
    float: right;
}
/*.field-box .row-fluid input[type="text"]#startdate, .field-box .row-fluid input[type="text"]#enddate
{//height: 32px; width: 88%;}*/

.lined{border-bottom:1px solid #d4d4d4; padding-bottom:15px;}

.global-popup .field-box .row-fluid input[type="radio"]
{
    float:left; width: auto; margin:0 10px 0 20px;
}

.global-popup .field-box .row-fluid label
{
    width: auto; float:left; color: #9f9f9f;
}

.global-popup .margin-30{margin-top:30px !important;}

.global-popup .job-type .row-fluid [class*="span"]:nth-child(4n+4), .global-popup .job-level .row-fluid [class*="span"]:nth-child(4n+4)
{
    margin-left: 0;
}


/*a global popup styles*/
.modal-open{padding-right: 16px; overflow:hidden;}
.global-popup_container{margin: 0; padding: 0; width: 100%; height: 100%; position: fixed; overflow-y: auto; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.0); z-index: 999999; transition:opacity 0.15s linear 0s;}
.global-popup_container .global-popup_details{margin: 0; padding: 0; width: 100%; height: 100%;float:left;}
.global-popup_container .global-popup_details .global-popup_holder{margin: 100px auto; padding: 0; width: 820px; transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;background-clip: padding-box;
                                                                   background-color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 6px; box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); }
.global-popup_container .global-popup_details .global-popup_holder .global-popup_header{margin: 0; padding: 0 0 10px 0; border-bottom:1px solid #eee; position: relative;}
.global-popup_container .global-popup_details .global-popup_holder .global-popup_header .close{font-size: 25px; position: absolute; right: 13px; top: -50px;}
.global-popup_container .global-popup_details .global-popup_holder .global-popup_body{margin: 0; padding: 0; border-bottom:1px solid #eee; padding: 0 35px 35px 35px;}
.global-popup_container .global-popup_details .global-popup_holder .global-popup_footer{margin: 0; padding: 20px 15px; border-top:1px solid #eee; position: relative;}

.global-popup_container .step-content{margin-left: 0; margin-right: 0;}
.cd-sup{padding-top: 70px;}
.cd-sup .icon-5x{font-size: 10em;color: #d4d4d4;}
.ar-up{background:#fff url("../img/ar-up.png") center right no-repeat !important;}
.ar-down{background:#fff url("../img/ar-down.png") center right no-repeat !important;}
.rg-bg:hover{background:#f5fafd;}
.ft-btn-sp{background: #fff;}
.btn-group.ft-ms button.glow.right{border-radius: 4px;}

.reviewer-text-sp .reviewer_name{font-size: 15px;color: #2488D4;font-weight: 600;text-transform: capitalize;}
.reviewer-text-sp .designation{color: #3b3b3b;font-size: 13px;font-weight: lighter;font-style: italic;}
.avatar-50{width: 50px;margin-right: 15px;}
.review-mg{margin-bottom: 50px;}
.edit-mg{margin-top: 10px;}
.rt-danger{background: #bb5d81;border: 0;margin-left: 10px;}
.rt-danger:hover{background: #bb5d81;border: 0;}
.rt-reviewer-score span{font-size: 25px;text-align: center;width: 100%;float: left;}
.reviewer-text-sp .label-info{background: #36404c;border-radius: 3px;padding: 3px 7px;margin-bottom: 0 !important;}

.alert.alert-success.alert-rt-sec{margin: 30px auto 35px auto;padding: 15px 15px 10px 15px;max-width: 760px;display: table;float: none;background: #e8f0f3;border:0;border-radius: 0;}
.alert-rt-sec .rt-heading-alert{float: left;font-weight: bold;font-size: 18px;color: #000;margin: 0 0 10px 0;padding: 0;}
.alert-rt-sec .rt-text-alert{float: left;font-size: 15px;color: #000;margin: 0;padding: 0;line-height: 25px;font-weight: lighter;}
.alert-rt-sec .cross-alert{float: right;color: #c3cad0;font-weight: bold;}
.header .st-btn-sec{margin:0 auto 15px auto;padding: 0;width: auto;display: table;float: none;}
.header .st-btn-sec .rt-green{background: #94c23c;border:1px solid #7da334;margin-left:5px;margin-right:5px;box-shadow: none;font-weight: bold;text-transform: uppercase;font-size: 13px;letter-spacing: normal; }
.header .st-btn-sec .rt-green.input-gr{padding: 5px 12px;}
.header .st-btn-sec .rt-white{background: #fff;border:1px solid #d0dee9;margin-left:5px;margin-right:5px;box-shadow: none;text-transform: uppercase;font-size: 13px;letter-spacing: normal;color: #656668; }
.sep-hd{border-bottom: 1px solid #eff0f2;margin-bottom: 0 !important;}
.cd-btn-sp .add_candidate_from_shortlist.btn{
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    padding: 10px 15px;
    text-transform: uppercase;
    width: 162px;
    background: #c6c6c6;
    border: 1px solid #c0c0c0;
}
.cd-btn-sp .reviews_toggle.btn{text-transform: uppercase;}
.rt-pagination-sec{max-width: 940px !important;margin: 0 auto !important;float: none !important;}
#editors_pick #editors_pick_info .btn-group > .btn.glow:hover{background: #2388D6;}
#editors_pick #editors_pick_info .btn-group > .btn.glow:hover i{color: #fff;}
#editors_pick #editors_pick_info .list-rt-btn{background: #2c9ef6;color: #fff;box-shadow: none;border: 1px solid #2594ed;font-weight: 400;font-size: 13px;line-height: 20px;padding: 10px 12px;margin-right: 5px;}
#editors_pick #editors_pick_info .single_num_of_records{margin-left: 20px;color: #bca3a6;}
#editors_pick.rt-edit-list #editors_pick_info .btn-group > .btn.glow{padding-top:9px !important;padding-bottom:9px !important; }
.dull_decline_tyroes .opacity-tr{opacity: .3;}
.btn-flat.danger.rt-undo-btn{text-transform: uppercase;padding: 7px 22px;font-weight: 600;}
.rt-rev-btn-sec a.btn-flat{padding: 7px 20px;text-transform: uppercase;font-weight: bold;font-size: 13px;}
.rt-rev-btn-sec{padding-top: 20px;padding-bottom: 20px;background: #f5fafd;}
.rt-dec-btn a{padding: 7px 20px;text-transform: uppercase;font-weight: bold;font-size: 13px;}
.rev-edit-sec .edit-ul-sec{float: right;margin: 0 10px 0 0;}
.rev-edit-sec{margin: 40px 0 0 0 !important;}
.cn-label .label{background: #383b44;text-transform: capitalize;font-weight: 600;padding: 4px 5px;border-radius: 3px;}
.rt-range .ui-slider .ui-slider-range{border: 1px solid #1a9fee;background: #5cb6f5;}
.btn-flat.white.edit-rev-rt{text-transform: uppercase;text-align: center;padding-right: 25px !important;}
.btn-flat.white.edit-rev-rt.ed-up{background:#fff url("../img/ed-up.png") center right no-repeat;}
.btn-flat.white.edit-rev-rt.ed-down{background:#fff url("../img/ed-down.png") center right no-repeat;}
.team-tr .rt-name{color: #2488D4;font-size: 15px;margin: 0;width: 100%;float: left;font-weight: 600;}
.team-tr .rt-title{margin: 0;width: 100%;float: left;font-weight: 600;font-style: italic;}
.tr-thead thead tr th a{color: #37221f;text-transform: uppercase;}
.tr-thead thead tr th .line{top:-11px;left: -16px; }
.position-relative{position: relative;z-index: 20;}
.team-tr tr td a.edit_reviewer, .team-tr tr td a.delete_reviewer{text-decoration: underline;}
.rt-new-team .btn-flat.open_modal.success{text-transform: uppercase;font-weight: bold;}
input.search.tr-search{padding: 0 30px 0 10px !important;height: 25px;margin-top: 2px;margin-right: 30px;}
.rt-modal .width-100{width: 97% !important;}
.rt-modal select.width-100{width: 100% !important;}
.rt-modal .rt-nd1{margin-bottom: 20px;}
.rt-ft-sec{margin:0 50px 0 0;float: right;}
.tr-thead .rt-pending{background: #5ea4d8 !important; margin: 0 !important;}
.rt-modal label{margin: 0;line-height: 30px;}
.modal-footer.rt-ft-modal{padding-left: 35px;padding-right: 35px;}
.rt-first-ct .span6{width: 50%;}
.rt-first-ct .span6{width: 50%;}
.rt-first-ct input[type="text"]:last-child{border-bottom-left-radius: 0;border-left: 0 none;border-top-left-radius: 0;}
.rt-first-ct input[type="text"]:first-child{border-bottom-right-radius: 0;border-top-right-radius: 0;}
.search.search_tyroe_field {
    padding: 7px 50px !important;
    background: url("../img/lens.png") #ffffff no-repeat 25px !important;
}
.center-block {
    float: none !important;
    margin: 0 auto !important;
}
.width74px{
    width: 74px;
}
.widthMax1022px{
    max-width: 1022px;
}
.widthMax94percent{
    max-width: 94% !important;
}
.custom_offset_margin10{
    margin-left: 10.547009% !important;
}

.team-tr tr td a.btn_delete,a.user_delete,a.delete_opening, .team-tr tr td a.btn_pop{text-decoration: underline;}
.team-tr .rt-na{color: #9e9e9e;font-size: 12px;}
.tr-thead tbody tr:first-child td{border-top: 0;}
.row-fluid.header.z-margin-b.tr-mr{margin-bottom: 40px !important;}
.tr-thead.tr-pd td{padding-top: 15px;padding-bottom: 15px;}
.margin-default{margin: 0 !important;}
select.tr-slect-ct{}
.padding-7{padding: 35px !important;}

.rt-studio-md input.md-sp{height: 30px;border-color: #cccccc;margin-bottom: 0;}
.rt-studio-md .ui-select select{height: 30px;padding: 7px 3px;border-color: #cccccc;}
.rt-studio-md .ui-select {height: 30px;border-color: #cccccc;}
.rt-studio-md .bottom-margin{margin-bottom: 20px;}
.rt-studio-md label{line-height: 30px;}
.global-popup_container .global-popup_details .global-popup_holder.rt-md-width{width: 700px;}
.ft-padding-7{padding: 14px 35px !important;}
.btn-primary.rt-save{background: #3b9ff3; border: 1px solid rgb(53, 150, 231);}
.label-head{margin: 0; padding: 0; width: 100%; text-align: center; font-size: 23px; font-weight: 700;}
.span5 .label-head{margin-bottom:23px;}
.form-wrapper .field-box input.radius-search{margin-top: 31px !important; height: 31px; line-height: 31px; border-radius: 20px; background: url("../img/lens.png") #fcfcfc no-repeat 5%;padding-left: 60px !important; width: 81% !important;}
.legend-sep{border-bottom:1px solid #dee2eb; height: 1px; width: 100%; position: relative; margin-top: 29px; margin-bottom:40px;}
.legend-sep:before{display:inline-block; font-size: 13px; position: absolute; content: "OR"; background: #fff; top: -9px; left:45%; padding: 0 15px; color: #a1acb5;}
#send_invitaion{text-transform: uppercase; padding-top: 8px; padding-bottom: 8px;}
.form-wrapper .form_users_list {margin: 88px -34px -37px -34px; padding: 0; height:277px; overflow-y:auto;border-top:1px solid #d5dfe9;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .form-wrapper .form_users_list {margin-top: 88px;margin-left: -33px;margin-right: -94px;display: block;width: 110%;}
}
.form-wrapper .form_users_list .form-list-holder{list-style-type: none; margin: 0; padding: 0; width: 100%;}
.form-wrapper .form_users_list .form-list-holder li{width: 100%; padding: 23px 0 18px 0; border-bottom:1px solid #dee2eb; background: #f5fafd;}
.form-wrapper .form_users_list .user-display img{width: 45px; height: 45px;}
.form-wrapper .form_users_list .name{color: #3389d1; display: block;font-size: 14px; font-weight: 700;margin: 3px 0;text-transform: capitalize;}
.form-wrapper .form_users_list span.subtext{color: #696d73;font-style: italic; font-size: 13px; font-weight: 600;}
.form-wrapper .form_users_list span.subtext span.tag{color: #fff; font-size: 12px; padding:1px 5px; background: #768dac; border-radius: 2px; margin-left: 3px;}
.form-wrapper .form_users_list .mail-user{float:left; margin-top: 3px; font-weight: 600;}
.form-wrapper ul.ext-rvw-list{list-style-type: none; margin: 0 0 0 16px; padding:0; width: 90%; float:left; border-left:1px solid #dee2eb; border-right:1px solid #dee2eb;border-bottom:1px solid #dee2eb; max-height: 250px; overflow-y: auto;}
.form-wrapper ul.ext-rvw-list li{margin:0; padding: 8px 0; width: 100%;  border-bottom:1px solid #dee2eb; float:left;}
.form-wrapper ul.ext-rvw-list li #ext-rvw_img img{width: 60px; height: 60px;}
.form-wrapper ul.ext-rvw-list li #ext-rvw_img a.name{margin: 10px 0 3px 0;}
.form-wrapper ul.ext-rvw-list li #ext-rvw_img span.add_rvw{font-style: italic;}
.form-wrapper ul.ext-rvw-list li #ext-rvw_img span.add_rvw a{color: #96bf48;font-size: 15px;}
.form-wrapper .team-mod-setting-container{border-bottom:1px solid #dee2eb; margin: 0 -25px 25px -25px; padding: 0 25px;}
.form-wrapper .team-mod-setting-container h3{font-weight: 600; font-size: 27px;}
.form-wrapper .team-mod-setting-container #rt_description {margin-bottom:40px;}
.form-wrapper .team-mod-setting-container #rt_description h6{color: #696d73; font-style: italic; margin-top: 30px; text-transform: capitalize; font-weight: 600; font-size: 21px;}
.form-wrapper .team-mod-setting-container #rt_description p{color: #6d6d6d; line-height: 1.2;}
.form-wrapper .team-mod-setting-container #rt_description .slider-frame{margin-top: 65px;}
.form-wrapper .preview_job {margin-top: 32px;}
.form-wrapper .preview_job h1{color: #0088cc; text-transform: uppercase; font-size: 23px; font-weight:600; margin-bottom:15px;}
.form-wrapper .preview_job h3{color: #696d73;font-size: 21px;font-style: italic;font-weight: 600;margin-bottom:12px;text-transform: capitalize;}
.form-wrapper .preview_job h5{font-style: italic; font-weight: 600;}
.form-wrapper .preview_job p.dt-label span.label{margin-right: 5px;}
.tr-pd2{padding: 35px 40px 0 40px;}
.tr-pd-40{padding: 0 40px;}
.mar-left-1{margin-left: 2.5641% !important;}
.mar-left-1{margin-left: 2.5641% !important;}
.right-column .container .mar-left-act_stream{margin-left:10.464%;}
@media (max-width: 979px) and (min-width: 150px)
{
    .right-column .container .mar-left-act_stream{margin-left:0;}
}
.sr-sec{padding-top: 15px !important;padding-bottom: 20px !important;margin-bottom: 0 !important;}
.sr-sec-2{padding-top: 15px !important;margin-top: 20px !important;}
.type-extra-padding{padding-top:15px !important;}

/*info grid to match concept*/
.edt_pck_sec{display:table; margin: 0 auto;}
.user-dp-holder{width: 97px; float:left; text-align: right;}
.editors_picked#editors_pick{width: 887px; margin-left:28px; float:left;}
.editors_picked#editors_pick .editors_pick-info#editors_pick_info{width: 230px; float:left;}
.editors_picked#editors_pick .editors_pick-info#editors_pick_info a.name{font-size: 15px;margin-top: 2px; margin-left: 2px;}
.editors_picked#editors_pick .editors_pick-info#editors_pick_info span.location{margin-top: 1px; margin-bottom:4px;}
.editors_picked#editors_pick .editors_pick-info#editors_pick_info span.tags{margin-bottom:3px;}
.editors_picked#editors_pick .editors_pick-info#editors_pick_info .label-info{background-color: rgb(104, 163, 213);}
.editors_picked#editors_pick .editors_showcase-container#editors-showcase{width: 580px; float:right;}
.editors_picked#editors_pick .editors_pick-info#editors_pick_info .btn-group button.glow{padding: 9px 12px; background: #fff;}
.editors_picked#editors_pick .editors_showcase-container#editors-showcase .showcase_thumb{width: 188px; margin-left: 8px; overflow: hidden;}
.editors_picked#editors_pick .editors_showcase-container#editors-showcase .showcase_thumb:last-child{margin-left: 0;}
.editors_picked#editors_pick .editors_showcase-container#editors-showcase .showcase_thumb img{max-width: 100%;}
@media only screen and (min-width:245px) and (max-width:479px){

    .editor-pck .edt_pck_sec {display: block;margin: 0 auto;padding: 0 20px;}
    .editor-pck .edt_pck_sec .user-dp-holder{float:none; display:table; margin-left: auto; margin-right: auto; margin-bottom:20px; text-align: center; }
    #editors_pick.editors_picked{width: 100%; margin: 0;}
    #editors_pick.editors_picked #editors_pick_info.editors_pick-info {width: 100%; text-align: center;}
    #editors_pick.editors_picked #editors-showcase.editors_showcase-container {width: 100%; float: left;}
    #editors_pick.editors_picked #editors-showcase.editors_showcase-container .showcase_thumb{width: 100%; margin: 0 0 10px 0; height: inherit;}
    #editors_pick.editors_picked #editors-showcase.editors_showcase-container .showcase_thumb:last-child{margin-bottom:0;}
    #editors_pick.editors_picked #editors-showcase.editors_showcase-container .showcase_thumb a{float:none; width: 100%;}
    /*#editors_pick.editors_picked #editors-showcase.editors_showcase-container .editors_showcase_holder .full-profile_overlay{height: 640px;}*/
    #editors_pick.editors_picked #editors-showcase.editors_showcase-container .editors_showcase_holder {float:none;}

    #editors_pick.editors_picked #editors_pick_info.editors_pick-info {margin-bottom:35px;}
    #editors_pick.editors_picked #editors_pick_info.editors_pick-info .btn-group{margin:15px 5px 0px 0;}

}

@media only screen and (min-width:480px) and (max-width:767px){

    .editor-pck .edt_pck_sec {display: block;margin: 0 auto;padding: 0 20px;}
    .editor-pck .edt_pck_sec .user-dp-holder{float:none; display:table; margin-left: auto; margin-right: auto; margin-bottom:20px; text-align: center; }
    #editors_pick.editors_picked{width: 100%; margin: 0;}
    #editors_pick.editors_picked #editors_pick_info.editors_pick-info {width: 100%; text-align: center;}
    #editors_pick.editors_picked #editors-showcase.editors_showcase-container {width: 100%; float: left;}
    #editors_pick.editors_picked #editors-showcase.editors_showcase-container .showcase_thumb{ margin: 0 1% 0 0;width: 32%; height: inherit;}
    #editors_pick.editors_picked #editors-showcase.editors_showcase-container .showcase_thumb a{float:none; width: 100%;}
    #editors_pick.editors_picked #editors-showcase.editors_showcase-container .editors_showcase_holder .full-profile_overlay{height: 640px;}
    #editors_pick.editors_picked #editors-showcase.editors_showcase-container .editors_showcase_holder {float:none;}

    #editors_pick.editors_picked #editors_pick_info.editors_pick-info {margin-bottom:35px;}
    #editors_pick.editors_picked #editors_pick_info.editors_pick-info .btn-group{margin:15px 5px 0px 0;}

}

@media only screen and (min-width:768px) and (max-width:1002px){
    .editor-pck .edt_pck_sec {display: table;float: left;margin: 0;padding: 0 20px;width: 91.6%;}
    .editor-pck .edt_pck_sec .user-dp-holder{float:none; display:table; margin-left: auto; margin-right: auto; margin-bottom:20px; text-align: center; }
    #editors_pick.editors_picked{width: 100%; margin: 0;}
    #editors_pick.editors_picked #editors_pick_info.editors_pick-info {width: 30%; text-align: left;}
    #editors_pick.editors_picked #editors-showcase.editors_showcase-container {width: 70%; float: left;}
    #editors_pick.editors_picked #editors-showcase.editors_showcase-container .showcase_thumb{ margin: 0 1% 0 0;width: 32%;}
    #editors_pick.editors_picked #editors-showcase.editors_showcase-container .showcase_thumb a{float:none; width: 100%;}
    #editors_pick.editors_picked #editors-showcase.editors_showcase-container .editors_showcase_holder .full-profile_overlay{height: 640px;}
    #editors_pick.editors_picked #editors-showcase.editors_showcase-container .editors_showcase_holder {float:none;}

}
/*info grid to match concept*/

.admin_dashboard_overview{padding-top: 85px; padding-bottom:72px;}
hr.divider{border-bottom: 1px solid #ffffff;box-shadow: 0 0 5px 0 #f2f2f2;display: table;height: 0;margin: 0;width: inherit;}
.tyroe_featured_approval{margin-top:66px; margin-bottom:42px;}
.studios_pending_approval{margin-bottom:42px;}
#pad-wrapper .tyroe_featured_approval h4, #pad-wrapper .studios_pending_approval h4{margin-bottom: 33px;}
#pad-wrapper .tyroe_featured_approval, #pad-wrapper .studios_pending_approval {padding-right: 30px;}
#pad-wrapper .tyroe_featured_approval .table thead tr th, #pad-wrapper .studios_pending_approval .table thead tr th{font-size: 12px;font-weight: 700; padding-top:4px;}
#pad-wrapper .tyroe_featured_approval .table td, #pad-wrapper .studios_pending_approval .table td{padding-bottom: 25px; padding-top: 25px;}
#pad-wrapper .tyroe_featured_approval .table td i, #pad-wrapper .studios_pending_approval .table td i{font-size:20px;margin-left: -10px;}
#pad-wrapper .tyroe_featured_approval .table tr:first-child td, #pad-wrapper .studios_pending_approval .table tr:first-child td{border-top: none;}
#pad-wrapper .tyroe_featured_approval .table a.name, #pad-wrapper .studios_pending_approval .table a.name{margin:0;}
#pad-wrapper .table td{font-size: 12px;}
#pad-wrapper .normal-txt{font-weight: 400 !important;}
#pad-wrapper .e_d_controls a{margin-left: 15px; text-decoration: underline;}
.error_adjsut{width: 78%;margin: 0 auto;margin-top: 20px;}
.padding-35px{padding: 35px;}
.radius_4{border-radius: 4px !important;}


#admin_openings .table thead tr th, #admin_openings .table thead tr th a {/*font-size: 12px;font-weight: 700;*/padding-top: 4px; color:#000;}
#admin_openings .table thead tr:first-child td{border-top: medium none;}


/*popup to use anywhere*/

.modal-open{padding-right: 16px; overflow:hidden;}
.global-popup_container{margin: 0; padding: 0; width: 100%; height: 100%; position: fixed; overflow-y: auto; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.0); z-index: 999999; transition:opacity 0.15s linear 0s;}


.global-popup_container .global-popup_details{margin: 0; padding: 0; width: 100%; height: 100%;float:left;}


.global-popup_container .global-popup_details .global-popup_holder{margin: 100px auto; padding: 0; width: 820px; transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;background-clip: padding-box;
                                                                   background-color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 6px; box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); }


.global-popup_container .global-popup_details .global-popup_holder .global-popup_header{margin: 0; padding:35px; border-bottom:1px solid #eee; position: relative;}
#myModal_give_review .global-popup_container .global-popup_details .global-popup_holder .global-popup_header .close{top: inherit;}

.global-popup_container .global-popup_details .global-popup_holder .global-popup_body{margin: 0; border-bottom:1px solid #eee; padding:35px;}
.global-popup_container .global-popup_details .global-popup_holder .global-popup_body.modal-step2{min-height:401px;}


.global-popup_container .global-popup_details .global-popup_holder .global-popup_footer{margin: 0; padding: 20px 15px; border-top:1px solid #eee; position: relative;}

/*popup to use anywhere*/


/*reviewer content table area*/

.review_content_table_area {display: table; margin: 0 auto;}
.review_content_table_area .reviewer_support_tools {float: left;text-align: right;width: 97px;}
.review_content_table_area .reviewer_support_disp {float: left;margin-bottom: 40px;margin-left: 28px;width: 887px;}
.review_content_table_area .reviewer_support_disp .reviewer-support_status {float: left;width: 230px;}
.review_content_table_area .reviewer_support_disp .reviewer-support_status label {margin-right:5px; margin-bottom:5px;}
.review_content_table_area .reviewer_support_disp .reviewer_support_disp_holder {float: right;width: 580px;}
.review_content_table_area .reviewer_support_disp .reviewer_support_disp_holder .reviewer_support_disp_area {float: left;width: 383px;}
.review_content_table_area .reviewer_support_disp .reviewer_support_disp_holder .reviewer_support_disp_range {float: right;width: 188px;}
.review_content_table_area .reviewer_support_disp .reviewer_support_disp_holder .reviewer_support_disp_range .span12 {margin-left:0;}

@media only screen and (min-width:245px) and (max-width:479px){

    .review_content_table_area {padding:0 20px;}
    .review_content_table_area .reviewer_support_tools {float: none;text-align: center;width: 100%;}
    .review_content_table_area .reviewer_support_tools .edit-ul-sec {float: none; margin: 0 0 15px 0;}
    .review_content_table_area .reviewer_support_disp {float: left;margin-bottom: 40px;margin-left: 0;width: 100%;}
    .review_content_table_area .reviewer_support_disp .reviewer-support_status {float: left;width: 100%; text-align: center;}
    .review_content_table_area .reviewer_support_disp .reviewer_support_disp_holder {float: left;width: 100%; margin-top:20px;}
    .review_content_table_area .reviewer_support_disp .reviewer_support_disp_holder .reviewer_support_disp_area {float: left;width: 100%; margin-bottom:15px; text-align: center;}
    .review_content_table_area .reviewer_support_disp .reviewer_support_disp_holder .reviewer_support_disp_range {float: left;width: 100%;}

    #main-stats.st-sec .fillter_applicaint {margin-right: 0;}

}

@media only screen and (min-width:480px) and (max-width:767px){

    .review_content_table_area {padding:0 20px;}
    .review_content_table_area .reviewer_support_tools {float: none;text-align: center;width: 100%;}
    .review_content_table_area .reviewer_support_tools .edit-ul-sec {float: none; margin: 0 0 15px 0;}
    .review_content_table_area .reviewer_support_disp {float: left;margin-bottom: 40px;margin-left: 0;width: 100%;}
    .review_content_table_area .reviewer_support_disp .reviewer-support_status {float: left;width: 100%; text-align: center;}
    .review_content_table_area .reviewer_support_disp .reviewer_support_disp_holder {float: left;width: 100%; margin-top:20px;}
    .review_content_table_area .reviewer_support_disp .reviewer_support_disp_holder .reviewer_support_disp_area {float: left;width: 100%; margin-bottom:15px; text-align: center;}
    .review_content_table_area .reviewer_support_disp .reviewer_support_disp_holder .reviewer_support_disp_range {float: left;width: 100%;}

    #main-stats.st-sec .fillter_applicaint {margin-right: 0;}

}

@media only screen and (min-width:768px) and (max-width:1002px){

    .review_content_table_area {padding:0 20px;}
    .review_content_table_area .reviewer_support_tools {float: left;text-align: right;width: 97px;}
    .review_content_table_area .reviewer_support_disp {float: left;margin-bottom: 40px;margin-left: 0px;width: 77.6%;}
    .review_content_table_area .reviewer_support_disp .reviewer-support_status {float: left;width: 108px;}
    .review_content_table_area .reviewer_support_disp .reviewer_support_disp_holder {float: left;width: 79.6%;}
    .review_content_table_area .reviewer_support_disp .reviewer_support_disp_holder .reviewer_support_disp_area {float: left;width: 70.8%;}
    .review_content_table_area .reviewer_support_disp .reviewer_support_disp_holder .reviewer_support_disp_range { float: right;width: 29.1%;}
}


/*reviewer content table area*/

.singleprofile_controllers .rt-bg-review .rt-pd-container .rt-text-center p {max-height: 56px;overflow: hidden;}
.missing_tip{margin-top: 20px;}
.admin_opeing_table input[type="checkbox"]{margin-top:-4px !important; margin-right: 20px;}

.admin_opeing_table.table tbody tr td {border-top: none; border-bottom: 1px solid #edf2f7;}
.admin_opeing_table.table tbody tr td.col10 a:first-child {margin-right: 10px;}
.admin_opeing_table.table tbody tr td.col10 a{text-decoration: underline;}

.col1{width: 5%;}
.col2{width: 20%;}
.col3{width: 12%;}
.col4{width: 16%;}
.col5{width: 6%;}
.col6{width: 3%;}
.col7{width: 3%;}
.col8{width: 3%;}
.col9{width: 3%;}
.col10{width: 7%;}
.topRightHead a.selectedDel{
    margin-top: 5px;
    color: #0d8fff;
    font-size: 12px;
    text-decoration: underline;
}

.box-location{
    background-color: #7894AB;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}

.user-dp-holder .avalability-mark-icon{
    position: absolute;
    left: 70%;
    top: 70%;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 13px;
    width: 18px;
    height: 19px;
}

.myModal_delete_studio_2{
    width: 700px;
    left: 25%;
    background-color: #fff;
}

.myModal_delete_studio_2 .modal-body{
    padding: 15px;
}

.myModal_delete_studio_2 .modal-header{
    padding: 15px;
}

.myModal_delete_studio_2 .modal-header .modal-title{
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}


.myModal_delete_studio_2 .modal-body .icon-warning-sign{
    font-size: 35px;
    float: left;
}

.myModal_delete_studio_2 .modal-body .confirmation-text{
    float: left;
    width: 90%;
    line-height: 25px;
}

.myModal_delete_studio_2 .modal-body .confirmation-text .l1{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.myModal_delete_studio_2 .modal-body .confirmation-text .l2{
    color: #838383;
    font-size: 13px;
    font-weight: 500;
}

.myModal_delete_studio_2 .modal-body .confirmation-text .note{
    color: #838383;
    font-size: 13px;
    font-weight: 500;
    display: none;
}




.myModal_delete_studio_2 .delete-message-2{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.myModal_delete_studio_2 .btn-glow{
    font-size: 14px;
    margin-right: 8px;
    padding: 3px 14px 3px 14px;
}

.myModal_delete_studio_2 .btn-delete-studio{
    font-size: 14px;
    margin-right: 8px;
    padding: 3px 14px 3px 14px;
    color: #fff;
    font-weight: 600;
}

.myModal_delete_studio_2 .delete-confirm-text{
    resize: none;
    width: 98%;
    height: 25px;
}

.delete-studio-error-message{
    display: none;
    color: red;
    font-size: 15px;
    font-weight: 300;
}

#portfolio-image-column .portfolio_latestwork_id{
    width:48%;
    margin: 10px 1%;
    float: left;
}

.slider_number{
    border: 1px solid #ccc;
    max-width: 27px;
    padding: 5px;
    margin: auto;
    margin-top: -5px;
    border-radius: 5px;
}

@media only screen and (max-width: 767px) and (min-width: 150px){
    #portfolio-image-column .portfolio_latestwork_id {
        width: 100%;
    }
    .slider_number{
        margin-top: -40px;
        margin-bottom: 10px;
    }
    .profile-url-tab #skills{
        width:80%
    }
}


.profile-url-tab #skills{
    width:73%;
}