/* 
    Document   : edit_profile
    Created on : 8 Jan, 2015, 12:31:18 PM
    Author     : mobi38
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.custom_modal_img > .thumbnail_img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-color: #F4F4F4;
    background-repeat: no-repeat;
}

.custom_modal_img > .thumbnail_img:before {
    display: block;
    content: ' ';
    padding-top: 100%;
}

.availability-mark{
    font-size: 20px;
    border: 2px solid #fff;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    position: absolute;
    top: 80%;
    left: 78%;
    
}

.availability-mark.one{
    background: #96bf48;
}

.availability-mark.two{
    background: #5ba0a3;
}

.availability-mark.three{
    background: #b85e80;
}



/* profile-publish-dialog */
.profile-publish-dialog{
    margin-top: 7%;
}

.profile-publish-dialog .check-sigh{
    text-align: center;
    font-size: 50px;
    color: #ccc;
}

.profile-publish-dialog .congo-label{
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
    font-size: 24px;
}

.profile-publish-dialog .text-1{
    text-align: center;
    margin: 25px 0px 25px 0px;
    font-size: 15px;
}

.profile-publish-dialog .text-2{
    text-align: center;
    font-size: 15px;
}

.profile-publish-dialog .text-3{
    text-align: center;
}

.profile-publish-dialog .text-3 .btn-dialog-publish-profile{
    text-align: center;
    font-weight: 600
}

/* share-profile-dialog */

.share-profile-dialog{
     margin-top: 7%;
}


.share-profile-dialog .check-sigh-green{
    text-align: center;
    font-size: 50px;
    color: #30AA5C;
}

.share-profile-dialog .congo-label{
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
    font-size: 24px;
}

.share-profile-dialog .text-1{
    text-align: center;
    margin: 25px 0px 25px 0px;
    font-size: 15px;
}

.share-profile-dialog .text-2{
    text-align: center;
    font-size: 15px;
}

.share-profile-dialog .text-3{
    text-align: center;
}

.share-profile-dialog .text-3 .public-profile-url{
    min-width: 75%;
    margin: auto;
    padding: 8px 8px 8px 8px;
    text-align: center;
}

#myModal .modal-body{
    max-height: 800px;
}


.basic-info-model-title{
    font-size: 18px;
    font-weight: 500;
    color: #666666;
    font-style: italic;
    padding-left: 1%;
}

.edit-profile-details-box{
    
}

.edit-profile-details-box .field-box{
    width: 49%;
    float: left;
    
}

.edit-profile-details-box .field-box .select2-container{
    width: 95%;
    margin: auto;
}

.edit-profile-details-box .field-box .edit-job-title{
    width: 88% !important;
    margin: auto;
}

.edit-profile-details-box-2{
    margin-bottom: 30px;
}

.edit-profile-details-box-2 .about-you-desc{
    width: 91%;
    margin: 1%;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    color: #99989D;
    font-style: italic;
    height: 100px;
}

.edit-profile-details-box-2 .max-limit-label{
    float: right;
    margin-right: 4%;
    font-size: 13px;
    color: #666666;
}

.edit-profile-details-box-3{
/*    margin-bottom: 30px;*/
}

.edit-profile-details-box-3 .option_box{
    width: 33%;
    float: left;
}

.edit-profile-details-box-3 .option_box .label-box{
    text-align: center;
}

.edit-profile-details-box-3 .option_box .label-box .option-label{
    display: inline-block;
    margin: 0;
    line-height: 15px;
    vertical-align: middle;
    font-size: 12px;
    text-shadow: none;
    box-shadow: none;
    background-image: none;
    border: 0 none;
    font-weight: 500;
    border-radius: 4px;
    padding: 7px 14px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
    color: #626263;
    background: #fff;
    border: 1px solid #d0dde9;
    width: 150px;
}

.edit-profile-details-box-3 .option_box .check-option{
    text-align: center;
    padding: 20px;
}

.edit-profile-details-box-3 .option_box .check-option .check-option-wrap{
    width: 18px;
    height: 18px;
    margin: auto;
    border-radius: 3px;
    background: url(../img/check_radio_sheet.png) 2px no-repeat;
}

.edit-profile-details-box-3 .option_box .check-option .check-option-wrap.selected{
    width: 18px;
    height: 18px;
    margin: auto;
    border-radius: 3px;
    background: url(../img/check_radio_sheet.png) -19px no-repeat;
}

.edit-profile-details-box-3 .option_box .check-option .check-option-wrap .select-available-option{
    width: 18px;
    height: 18px;
    margin-top: -13px;
    opacity: 0.1;
}

/* Edit profile break up */
.edit-avail-web-btn-option{
    margin-bottom: 4%;
}

.edit-avail-web-btn-option .btn-flat{
    border-radius: 2px;
    margin-right: 20px;
    font-weight: 600;
    border: none;
    box-shadow: none;
}

.edit-avail-web-btn-option .btn-flat.edit-web-link-button{
    background: #A8A8A8;
}

#single-team-section #single-team .team-description{
    min-height: 90px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
    width: 95%;
}


.network-url-container .btn-ani{
    box-shadow: 0px 0px 3px #ccc;
    border-radius: 5px 0px 0px 5px;
    background: #fff;
    width: 54px;
}

.network-url-container #icn-social{
    color: #969696;
}

.social-link-add-loader{
    text-align: center;
    margin-top: 50px;
    display: none;
}


#upload-btn-profile-image{
    width: 222px;
    height: 222px;
    background-color: #E5E5E5;
    border-radius: 50%;
    text-align: center;
    font-size: 100px;
    color: #F9F9F9;
    position: relative;
    cursor: pointer;
}

#upload-btn-profile-image i.icon-cloud-upload{
    position: absolute;
    top: 57px;
    left: 61px;
}

.profile-main-img-editor .avatar-upload-layer .remove-avatar-opt{
    
}

.remove-profile-img{
    font-size: 33px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 19px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid white;
    width: 30px;
    height: 30px;
    color: #838383;
}

.profile-main-img-editor .avatar-upload-layer .remove-avatar-opt .icon-remove-sign{
    
}
/* Edit profile break up */

/* Customize gallary order image box */
.model-gallary-order{
    left: 30%;
    top: 2%;
    width: 1024px;
}

.model-gallary-order .modal-content{
    
}

.model-gallary-order .modal-content .modal-body{
    padding: 20px;
    max-height: 475px;
    overflow: hidden;
}

.model-gallary-order .modal-content .modal-body .header-label{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.model-gallary-order .modal-content .modal-body .gallary-container{
    width: 100%;
    padding-left: 0px;
    max-height: 450px;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 10px;
}

ul.gallery-list{
    padding: 0px;
    list-style-type: none;
}

.modal_main_container{
    min-width: 824px;
    max-width: 1207px;
    min-height: 100px;
    width: auto;
    position: fixed;
    top: 60px;
    right: 20px;
    bottom: 60px;
    left: 20px;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

ul.gallery-list li{
    float: left;
    width: 22%;
    margin-right: 13px;
    margin-left: 13px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px #EAE9E9;
    position: relative;
    cursor: move;
    background-color: white;
    margin: 10px 3% 30px 0;
    min-width: 167px;
    min-height: 201px;
}

.myDragDropHighLight{
    border:0px;
    background-color: white;
    box-shadow: 0px 0px 0px 0px transparent;
    margin: 0px;
}

ul.gallery-list li img{
    width:100%;
    height: auto;
}

ul.gallery-list li .gallery-image-description{
    position: absolute;
    resize: none;
    bottom: 0px;
    height: 27px;
    width: 90%;
    border: 0px;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
    z-index: 10;
    color: black;
    overflow: hidden;
    line-height: 19px;
    margin: 0px;
    left: 0px;
    border-radius: 0px;
}

ul.gallery-list li .gallery-save-loader{
    position: absolute;
    z-index: 100;
    bottom: 0px;
    height: 172px;
    background: black;
    width: 100%;
    opacity: 0.5;
    color: white;
    left: 0px;
    display: none;
}

ul.gallery-list li .gallery-save-loader i{
    margin: 64px 50% 0px 42%;
    font-size: 30px;
}

ul.gallery-list li .gallery-image-description:focus, ul.gallery-list li .gallery-image-description.textarea-description-focus{
    border: none;
    outline: none;
    height: 112px;
    background-color: #F9F9F9;
    bottom: 40px;
    overflow: auto;
    color: #B6B6B6;
}

ul.gallery-list li .gallery-image-description-btns{
    position: absolute;
    bottom: 0px;
    background: #F9F9F9;
    height: 40px;
    border: none;
    width: 100%;
}

ul.gallery-list li .gallery-image-description-btns .gallery-description-btn{
    margin: 5px 5px 0px 10px;
    background: none;
    border: none;
    color: #C8C8C8;
    font-size: 13px;
    cursor: pointer;
    margin-top: 7px;
}

ul.gallery-list li .gallery-image-description-btns .gallery-description-btn.save-description{
    background-color: rgb(28, 143, 255);
    margin-left: 15px;
    color: white;
    border-radius: 10px;
    width: 50px;
    margin-right: -5px;
}

ul.gallery-list li .gallery-image-description-btns .gallery-description-btn.save-description:hover{
    background-color: rgb(255, 201, 31);
}

ul.gallery-list li .remove-media{
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #1c94c4;
    padding: 5px;
    font-size: 20px;
    color: white;
}

#customize_order{
    font-size: 17px;
    border: 1px solid #9D9D9D;
}

#single-team .team-social ul.public-social-list{
    padding: 0px;
    border: 0px;
}

#single-team .team-social ul.public-social-list li{
    float: left;
    padding: 0px;
    margin-right: 10px;
}

#single-team .team-social ul.public-social-list li a i{
    font-size: 20px;
    padding-top: 5px;
}

.image-holder-item{
    position: relative;
}

.image-holder-item .remove-media{
    left: 129px;
    top: 0px;
    position: absolute;
    background: #fff;
    z-index: 99;
    padding: 3px;
    font-size: 20px;
}

.image-holder-item .caption-edit-box{
    left: 0px;
    top: 0px;
    height: 151px;
    width: 151px;
    position: absolute;
    background: #fff;
    display: none;
    z-index: 100;
}

.image-holder-item .caption-edit-box .cpt-text{
    width: 146px;
    padding: 1px;
    height: 100px;
    font-size: 12px;
}

.image-holder-item .caption-edit-box .cpt-close{
    font-size: 15px;
    color: #000;
    font-weight: 300;
    float: left;
    margin-left: 10px;
    background: #ccc;
    padding: 2px 13px 5px 12px;
    border-radius: 5px;
}

.image-holder-item .caption-edit-box .cpt-save{
    font-size: 15px;
    color: #000;
    font-weight: 300;
    background: #ccc;
    padding: 2px 13px 5px 12px;
    border-radius: 5px;
    float: right;
    margin-right: 11px;
}

.image-holder-item .image-caption-text{
    font-size: 12px;
    color: #000;
    font-weight: 300;
    margin: 2px 0px 0px 0px;
    border: 1px solid #ccc;
    height: 40px;
    padding: 2px;
    overflow: hidden;
    overflow-y: scroll;
}

.image-holder-item .desc-loader{
    display: none;
    text-align: center;
    padding-top: 10px;
    height: 40px;
}

.image-holder-item .desc-loader img{
    width: 20px !important;
    height: 20px !important;
    border: none !important;
}
/* Customize gallary order image box */