/* 
    Document   : feedback
    Created on : 26 Dec, 2014, 5:22:42 PM
    Author     : mobi38
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.feedback-review .company-logo{
    width: 100%;
}

.feedback-review .job-title .job-start-date{
    color: #778391;
    float: right;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.feedback-review .sliders{
    margin: 0px;
    margin-top: 10px;
}

.feedback-review .sliders .slider-label{
    float: left;
    margin-left: 0px;
    margin-bottom: 10px;
    font-weight: 600;
}


.feedback-review .sliders .slider-text{
    float: left;
    margin-left: 0px;
    margin-bottom: 10px;
}

.feedback-review .sliders .slider-text .slider{
    margin-top: 8px;
}

.feedback-review .company-name{
    font-size: 16px;
    margin-bottom: 8px !important;
}

.feedback-review .job-title{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px !important;
}

.feedback-review .job-location{
    font-size: 12px;
}

.feedback-review .border-top{
    border-top: 1px solid #EEEEEE;
    padding-top: 15px;
}


.feedback-review .rate-badge-container{

}

.feedback-review .rate-badge-container .rate-badge-content{
    
}

.feedback-review .rate-badge-container .rate-badge-content .badge-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.feedback-review .rate-badge-container .rate-badge-content .badge-text{
    font-size: 14px;
    font-weight: 300;
}

.feedback-review .rate-badge-container .rate-badge{
    
}

.feedback-review .rate-badge-container .rate-badge .rate-badge-logo{
    width: 100%
}