body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    position: relative;
    margin: 0px;
    font-size: 13px;
    /*font-weight: 300;
    line-height: 28px;*/
    padding: 0px;
    /*-webkit-font-smoothing: antialiased;*/
}
h1,h2,h3,h4,h5 {
    margin: 0;
    line-height: inherit;
    color: #29323d;
}
h1 small,h2 small,h3 small,h4 small,h5 small {
    margin-left: 15px;
    font-style: italic;
}
.small_loader{
    height: 20px;
}
.disable_opening{
    cursor: default;
    background-color: #96c03f !important;
}
input.search{
    background: url("../img/lens.png") #fcfcfc no-repeat 95%;
    box-shadow: none;
    height: 19px;
    font-size: 13px;
    padding: 2px 6px;
    border:1px solid #d0dde9;
    margin: 0;
    border-radius: 2px;
    top: 11px;
}

input.search.search_tyroe_field
{
    box-shadow: none;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    padding: 2px 6px;
    border:1px solid #d0dde9;
    margin: 0 30px 0 0;
    border-radius: 4px;
    top: 0px;
    float:left;
    color: #a3afbb;
}

#Search_filters {margin-bottom:25px;}
#Search_filters a#advance_toggle {margin:10px 0 0 0; text-decoration: underline;}
#Search_filters a#advance_toggle i.caret {margin:8px 0 0 5px; border-top: 4px solid #0088cc;}

.header{
    margin-bottom: 60px;
}
.header h1,
.header h2,
.header h3,
.header h4,
.header h5 {
    float: left;
    margin-top: 5px;
}

/* Custom navbar stuff */

/* search input */
.navbar-inverse input.search {
    background: url("../img/lens.png") #0f1217 no-repeat 95%;
    border: 1px solid #0f1217;
    position: relative;
    border-radius: 4px;
    top: 9px;
    padding: 3px 6px;
    color: #000;
    font-size: 13px;
    margin-right: 40px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}
.navbar-inverse input.search:focus {
    background-color: #fff;
}
/* navbar settings and logout icons */
.navbar-inverse .settings i {
    color: #9ba3ad;
    font-size: 21px;
}


/* notification menu with custom dropdowns */
.navbar-inverse .notification-dropdown {
    position: relative;
}
.navbar-inverse .notification-dropdown > a:hover,
.navbar-inverse .notification-dropdown > a.active {
    background: #254261 !important;
    box-shadow: inset 1px 0px 1px 0px rgb(62, 90, 121);
}
.navbar-inverse .notification-dropdown i {
    font-size: 17px;
    color: #9ba3ad;
}
.navbar-inverse .notification-dropdown .count {
    position: absolute;
    top: 1px;
    left: 58%;
    background: rgb(53, 186, 196);
    padding: 0px 5px;
    border-radius: 30px;
    color: #fff;
    line-height: 16px;
    z-index: 9999;
    text-align: center;
    font-size: 11px;
}

/* navbar popup dialog */
.navbar-inverse .pop-dialog {
    left: -10px;
    position: absolute;
    top: 50px;
}
.navbar-inverse .pop-dialog.is-visible {
    display: block;
}
.navbar-inverse .pop-dialog .body {
    box-shadow: 0px 1px 9px 1px #c2c2c2;
}
.navbar-inverse .pop-dialog .close-icon {
    float: right;
    text-decoration: none;
    z-index: 9999;
    position: relative;
    color: #333;
    font-size: 14px;
    margin: 0 5px 0 0;
}
.navbar-inverse  .pop-dialog .footer {
    border-top: 1px solid #e6e8e9;
    background-color: #eff4f7;
    margin: 15px 0px -10px 0px;
    border-radius: 0px 0px 5px 5px;
    padding: 12px 20px;
    text-align: center;
}
.navbar-inverse  .pop-dialog .footer a {
    font-weight: 600;
    color: #7d91a8;
}

/* navar popup dialog for notifications */
.navbar-inverse  .pop-dialog .notifications {
    margin: 10px 0 0;
}
.navbar-inverse  .pop-dialog .notifications h3 {
    font-size: 13px;
    color: #404951;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.navbar-inverse  .pop-dialog .notifications .item {
    display: block;
    padding: 10px 0px 8px 20px;
    border-top: 1px solid #e7e8ea;
    color: rgb(54, 54, 54);
    text-decoration: none;
    padding-left: 44px;
    position: relative;
}
.navbar-inverse  .pop-dialog .notifications .item:hover {
    background: rgb(240, 246, 255);
}
.navbar-inverse  .pop-dialog .notifications .item > i {
    color: rgb(252, 130, 123);
    position: absolute;
    left: 19px;
    font-size: 18px;
}
.navbar-inverse  .pop-dialog .notifications .item > i.icon-user {
    left: 18px;
}
.navbar-inverse  .pop-dialog .notifications .item .time {
    float: right;
    color: #82a3c1;
    font-style: italic;
    font-weight: 600;
    font-size: 11px;
    min-width: 60px;
    margin-right: 5px;
}
.navbar-inverse  .pop-dialog .notifications .item .time i {
    font-size: 13px;
    color: #cfcfcf;
    margin-right: 1px;
}

/* navar popup dialog for messages */
.navbar-inverse .pop-dialog .messages {
    width: 330px;
    margin: 10px -10px 0px -10px;
}
.navbar-inverse  .pop-dialog .messages .item {
    display: block;
    padding: 10px 20px 15px 20px;
    height: 54px;
    border-bottom: 1px solid #e7e8ea;
    color: rgb(54, 54, 54);
    text-decoration: none;
    position: relative;
    transition: all .25s linear;
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
}
.navbar-inverse  .pop-dialog .messages .item.last {
    border-bottom: 0px;
}
.navbar-inverse  .pop-dialog .messages .item:hover {
    background: rgb(240, 246, 255);
}
.navbar-inverse  .pop-dialog .messages .item .display {
    float: left;
    border-radius: 50px;
    margin-right: 15px;
}
.navbar-inverse  .pop-dialog .messages .item .name {
    font-size: 12px;
    color: #404951;
    font-weight: bold;
}
.navbar-inverse  .pop-dialog .messages .item .msg {
    font-size: 11px;
    color: rgb(117, 118, 119);
    font-weight: 600;
    line-height: 13px;
    position: relative;
    top: -1px;
}
.navbar-inverse  .pop-dialog .messages .item .time {
    position: absolute;
    right: 0px;
    bottom: 6px;
    color: #82a3c1;
    font-style: italic;
    font-weight: 600;
    font-size: 11px;
    min-width: 60px;
    margin-right: 5px;
}
.navbar-inverse  .pop-dialog .messages .item .time i {
    font-size: 13px;
    color: #cfcfcf;
    margin-right: 1px;
}
.navbar-inverse  .pop-dialog .messages .footer {
    margin-top: 6px;
}

.logo-main
{
    max-width: 60%;
}


/* Sidebar */
#sidebar-nav {
    position: absolute;
    width: 180px;
    float: left;
    margin: 0em;
    padding-top: 5.8em;
}
#dashboard-menu {
    list-style: none;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
    margin-left: 20px;
}
#dashboard-menu > li > a {
    display: block;
    margin-right: -15px;
    margin-left: -15px;
    padding: 19px 14px 15px 14px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dae1e8;
    box-shadow: 0 2px 1px -1px #FFFFFF;
    color: rgb(110, 130, 155);
    outline: 0px;
    width: 88%;
}
#dashboard-menu > li {
    position: relative;
}
/* font awesome icon */
#dashboard-menu > li .icon-group {
    font-size: 22px;
}
#dashboard-menu > li i {
    font-size: 23px;
    top: 17px;
}
#dashboard-menu .pointer {
    position: absolute;
    right: 8px;
    top: 20px;
}
#dashboard-menu .pointer .arrow,
#dashboard-menu .pointer .arrow_border {
    border-color: transparent #fff transparent transparent;
    border-width: 11px;
    border-style: solid;
    font-size: 0;
    left: 50%;
    line-height: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1002;
    left: 0;
    margin-left: 45%;
}
#dashboard-menu .pointer .arrow_border {
    border-color: transparent rgb(192, 210, 221) transparent transparent;
    border-width: 11px;
    margin-left: -1px;
    border-style: solid;
    z-index: 1001;
    top: 0px;
}
#dashboard-menu a span {
    margin-left: 35px;
    transition: color .1s linear;
    -moz-transition: color .1s linear;
    -webkit-transition: color .1s linear;
    -o-transition: color .1s linear;
}
#dashboard-menu a.ui-elements span {
    margin-left: 25px;
}
#dashboard-menu a i {
    position: absolute;
    left: 0;
    height: 24px;
    width: 24px;
    opacity: 0.7;
    transition: opacity .1s ease;
    -moz-transition: opacity .1s ease;
    -webkit-transition: opacity .1s ease;
    -o-transition: opacity .1s ease;
}
#dashboard-menu a i.icon-chevron-down {
    position: relative;
    float: right;
    top: 5px;
    font-size: 11px;
    color: rgb(104, 104, 104);
    width: initial;
    height: initial;
}
#dashboard-menu > li:hover i{
    opacity: 1;
}


#dashboard-menu > li.active > a,
#dashboard-menu > li > a:hover {
    color: rgba(51, 69, 90, 1);
    text-decoration: none;
}
#dashboard-menu > li.active a {
    font-weight: 600;
    text-shadow: 1px 1px 1px #fff;
}
#dashboard-menu > li.active i{
    opacity: 1;
}

/* sidebar submenus */
#dashboard-menu > li.active .dropdown-toggle {
    border-bottom: 0px;
    box-shadow: none;
}
#dashboard-menu ul.submenu {
    list-style-type: none;
    display: none;
    margin-top: 7px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: -15px;
    padding-left: 15px;
    border-bottom: 1px solid #dae1e8;
    box-shadow: 0 2px 1px -1px #FFFFFF;
    padding-bottom: 10px;
}
#dashboard-menu ul.submenu.active {
    display: block;
}
#dashboard-menu ul.submenu a {
    font-weight: normal;
    font-size: 13px;
    color: rgb(76, 83, 90);
    text-decoration: none;
    display: block;
    margin-bottom: 7px;
}
#dashboard-menu ul.submenu a:hover {
    text-decoration: underline;
}
#dashboard-menu ul.submenu a.active {
    font-weight: bold;
    text-shadow: none;
}
#pad-wrapper {
    padding: 0px 25px;
    /*margin-top: 55px;*/ /*aariz*/
    margin-top: 0; /*aariz*/
}
#pad-wrapper h4 {
    margin: 0px 0px 12px 4px;
    color: #686866;
    font-style: italic;
}
.content {
    min-width: 400px;
    min-height: 620px;
    margin-bottom: 100px;
    padding-bottom: 50px;
    overflow: hidden;
    position: relative;
    background: #fff;
    margin-left: 177px;
    border-left: 1px solid #dae3e9;
    border-bottom: 1px solid #dae3e9;
    box-shadow: -3px 3px 3px -2px #f1f1f3;
    border-radius: 0px 0px 0px 5px;
    padding-top: 40px; /*10-jun-2014*/
}
.content.wide-content {
    margin-left: 0;
    border-radius: 0;
}

/*on off trigger alignment*/

.email-notifications li .slider-frame {
    margin: 21px 0 0 !important;
    vertical-align: middle;
}

/*on off trigger alignment*/

/*account detail on off trigger*/

.linked-accounts-list li .slider-frame{margin: 32px 0 0 0;}

/*account detail on off trigger*/

/* starts skins changer */
.content .skins-nav {
    opacity: 1;
    -webkit-transition: right .3s;
    -moz-transition: right .3s;
    -ms-transition: right .3s;
    -o-transition: right .3s;
    transition: right .3s;

    position: fixed;
    right: -85px;
    top: 135px;
    font-size: 13px;
    z-index: 9999;
}
.content .skins-nav:hover {
    right: 0;
}
.content .skins-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    height: 37px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    margin-bottom: 3px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.content .skins-nav a.first_nav {
    background: rgba(95, 175, 228, 0.8);
}
.content .skins-nav a.second_nav {
    background: rgba(36, 43, 77, 0.8);
}
.content .skins-nav a.first_nav:hover {
    background: rgba(95, 175, 228, 1);
}
.content .skins-nav a.second_nav:hover {
    background: rgba(36, 43, 77, 1);
}
.content .skins-nav a .icon {
    float: left;
    width: 9px;
    height: 10px;
    background: url('../img/skin-nav-bullets.png') 0 0 no-repeat;
    margin: 15px 15px 0 5px;
}
.content .skins-nav a.selected .icon {
    background-position: 0 -9px;
}
.content .skins-nav a .text {
    padding-right: 12px;
    white-space: nowrap;
    display: block;
    width: 100px;
    position: relative;
    top: 9px;
    -webkit-transition: width .2s;
    -moz-transition: width .2s;
    -ms-transition: width .2s;
    -o-transition: width .2s;
    transition: width .2s;
}
/* end skin changer*/



/* responsive */
@media (max-width: 1024px) {
    .content {
        margin-left: 65px;
    }
    /*#dashboard-menu {
            margin-left: 5px;
    }*/
    #dashboard-menu .pointer {
        display: none;
    }
    #dashboard-menu li a span {
        visibility: hidden;
    }
}
@media (max-width: 600px) {
    .content {
        margin-left: 0em;
        border-left-width: 0px;
    }
}
@media (max-width: 822px) {
    .navbar-inverse input.search {display: none;}
}
@media (max-width: 767px) {
    #pad-wrapper {
        padding: 0px 10px;
    }
    .content {
        min-width: 0px;
        margin:0;
    }
    #main-stats .stat{
        width: 50%;
        float: left;
    }

    #sidebar-nav {
        left: -200px;
        position: fixed;
        z-index: 9999;
        background-color: #f7f7f7;
        padding-top: 3.8em;
        border-right: 1px solid #ccc;
        width: 180px;
        box-shadow: 1px 1px 4px 1px rgb(233, 233, 233);

        -webkit-transition: left .25s ease;
        -moz-transition: left .25s ease;
        -o-transition: left .25s ease;
        -ms-transition: left .25s ease;
        transition: left .25s ease;
    }
    /*#sidebar-nav #dashboard-menu {
            margin-left: 10px;
    }*/
    #sidebar-nav #dashboard-menu li a span {
        visibility: visible;
    }
    #sidebar-nav #dashboard-menu li:last-child a {
        border-bottom: 0px;
        box-shadow: none;
    }
    #sidebar-nav.display {
        position: absolute;
        left: 0;
        height: 100%;
    }
}


.custom-hide{display: none;}
#sidebar-nav .btn-navbar {
    /*background-color: #0E0E0E;
        background-image: linear-gradient(to bottom, #151515, #040404);
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        color: #FFFFFF;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
    background: none;
    border: 0;
}
#sidebar-nav .btn-navbar {
    /*float: left;
    margin-top: 10px;*/
    margin: 0 0 0 30px;
}

#sidebar-nav .btn-navbar:focus, #sidebar-nav .btn-navbar:active{outline:0 none; }

#sidebar-nav .btn-navbar .icon-bar {
    background-color: #F5F5F5;
    border-radius: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
}

.change .content{margin-left: 65px;}
.change #dashboard-menu{margin-left: 0px;}
.change #dashboard-menu li a span {visibility: hidden;}
.change #sidebar-nav .btn-navbar{margin-left:12px;}
.change #dashboard-menu .pointer .arrow, .change #dashboard-menu .pointer .arrow_border{left:-111px;}
/*.change #dashboard-menu .pointer .arrow_border{margin-left: -1px;}*/


@media (min-width: 220px) and (max-width: 480px) {
    .bth-hide{display: none !important;}
}

@media (min-width: 480px) and (max-width: 767px) {

    .change .content {
        margin-left: 0px;
    }
}

.uppercase{text-transform: uppercase;}


/*15-apr-2014 aariz new pages starts here*/

#top-buttons > a:first-child{margin-right: 0;}
#open-jobs{padding: 0 6%;}
#job-main-holder{border: 1px solid #EBEBEB; margin-bottom: 50px; background: #fcfcfc;}
#job-main-holder .job-upper-part{margin: 0; padding: 0; width: 100%; float:left;}
#job-main-holder .job-upper-part > [class*="span"] {margin: 0; padding: 0; float: left; border-right: 1px solid #EBEBEB; }
#job-main-holder .job-upper-part > [class*="span"]:last-child {border-right: 0;}
#job-main-holder .job-upper-part > [class*="span2"]{width: 17%;}
#job-main-holder .job-upper-part .btn-flat.white{font-size: 12px;padding: 30px 5px;width: 93%; border: 0; background: none;}
#job-main-holder .job-upper-part .data .number { color: #32A0EE; font-size: 27px; font-weight: bold;}
#job-main-holder .job-upper-part > [class*="span"]:first-child {font-style: italic;}
#job-main-holder .job-upper-part .data{margin-bottom: 10px;}

#job-main-holder .job-lower-part{margin: 0; padding: 10px 0; width: 100%; float:left; background: #ffffff; border-top: 1px solid #EBEBEB;}
#job-main-holder .job-lower-part > [class*="span"] {margin: 0; padding: 0; float: left; }
#job-main-holder .job-lower-part > [class*="span2"]{width: 17%;}
#job-main-holder .job-lower-part > [class*="span2"] span{color: #626262; line-height: 31px; font-weight: lighter; font-size: 13px;}
#job-main-holder .job-lower-part > [class*="span2"] span i{margin-right: 5px;}
#cand_dates{position: relative;}
.candidate-badge{height: 35px;width: 35px; position: absolute; top: 0; right: 0;

                 background: rgba(50,160,238,1); /* Old browsers */
                 background: -moz-linear-gradient(45deg, rgba(0,0,0,0) 50%, rgba(50,160,238,1) 50%); /* FF3.6+ */
                 background: -webkit-gradient(linear, left bottom, right top, color-stop(50%,rgba(0,0,0,0)), color-stop(50%,rgba(50,160,238,1))); /* Chrome,Safari4+ */
                 background: -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%,rgba(50,160,238,1) 50%); /* Chrome10+,Safari5.1+ */
                 background: -o-linear-gradient(45deg, rgba(0,0,0,0) 50%,rgba(50,160,238,1) 50%); /* Opera 11.10+ */
                 background: -ms-linear-gradient(45deg, rgba(0,0,0,0) 50%,rgba(50,160,238,1) 50%); /* IE10+ */
                 background: linear-gradient(45deg, rgba(0,0,0,0) 50%,rgba(50,160,238,1) 50%); /* W3C */
                 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='', endColorstr='#32a0ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.candidate-badge p{margin: 4px 4px 0 0; padding: 0; float: right; color: #fff; font-size: 12px; font-weight: bold;}

/*15-apr-2014 aariz new pages ends here*/

/*16-apr-2014 aariz new pages starts here*/

.editor-pck{margin: 30px 0 30px 0;}
.avatar-80 { width: 80px;height: 80px;}
#editors_pick #editors_pick_info a.name{display: block;margin-top: 0;}
#editors_pick #editors_pick_info span.location{display: block;}
#editors_pick #editors_pick_info span.tags{display: block; margin-bottom:5px;}
#editors_pick #editors_pick_info span.tags, #editors_pick #editors_pick_info span.location {font-size: 13px; color: #929292; font-weight:lighter;}
.editor-seperator{border-top: 1px solid #EDEFF1;}
#editors_pick_info .label, #editors_pick_info .label-info {font-size: 12px; font-weight: 600;padding: 3px 6px; margin-bottom: 10px;}
#editors_pick #editors_pick_info .btn-group button i{color: #2388d6; font-size: 20px;}
#editors_pick #editors_pick_info .btn-group button{padding:9px 14px;}

#editors_pick #editors_pick_info .btn-group button:focus, #editors_pick #editors_pick_info .btn-group button:active {background: #2388d6;}
#editors_pick #editors_pick_info .btn-group button:focus i, #editors_pick #editors_pick_info .btn-group button:active i {color: #fff;}

#editors-showcase a{display: table; float: right; margin-left:8px; position: relative;}
#editors-showcase a:last-child{margin-left:0;}
#editors-showcase a img{/*width: 164px;height: 142px;*/ width: 100%;}
#view-more-last{margin-top:35px; margin-bottom: 35px;}

/*16-apr-2014 aariz new pages ends here*/


.image-disp-container{margin: 20% 0 0 -7%;}

.disabled-parent{position: relative; z-index: 9;}
.div-disabled{background: none repeat scroll 0 0 rgba(0, 0, 0, 0); bottom: 0; float: left; height: 100%; left: 0; margin: 0; padding: 0; position: absolute;
              right: 0; top: 0;width: 100%;z-index: 1050;}
#publish_notify .alert{margin-bottom:0;}
#publish_notify .alert a.remove-publish-notify i{color:#fff;}
#recommendation_notify .alert{margin-bottom:0;}
#recommendation_notify .alert a.remove-publish-notify i{color:#fff;}
#latestjobs_notify .alert{margin-bottom:0;}
#latestjobs_notify .alert a.remove-publish-notify i{color:#fff;}
#latestshortlistjobs_notify .alert{margin-bottom:0;}
#latestshortlistjobs_notify .alert a.remove-publish-notify i{color:#fff;}
/*aariz 23 may 2014*/

#Search_filters .btn-group .btn.btn-main
{
    width:174px; height:44px;
}

#Search_filters .btn-group .btn.btn-main-caret
{
    height:44px;
}


.editors-badge {
    background: linear-gradient(-46deg, rgba(0, 0, 0, 0) 50%, #fc7e72 53%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 35px;
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
}
.btn-group .dropdown-menu{
    height: 145px;
    overflow: auto;
}

.editors-badge p {
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 2px 0 0 2px;
    padding: 0;
}
#editors-showcase{
    position: relative;
}
.tyroe_score_over_img{
    position: absolute;
    font-size: 40px;
    color: #fff;
    /*height: 185px;*/
    height: 164px !important;
    width: 100%;
    background: rgba(65, 158, 211, 0.8);
    display: table;
    font-family: arial;
    font-weight: 600;
    display: none;

}

.tyroe_score_over_img .tyroe_score_holder {display: table-cell; vertical-align: middle; text-align: center; font-family: arial;}

.editors_showcase_holder{margin: 0; padding: 0; float:right; position: relative;}
.editors_showcase_holder:hover .full-profile_overlay{opacity: 1; visibility: visible; display: table;}

#editors_pick .editors_showcase_holder .row-fluid [class*="span"]:first-child {margin-left:2.5641%;}
#editors_pick .editors_showcase_holder .row-fluid [class*="span"]:last-child {margin-left:0;}

.full-profile_overlay{margin: 0; padding: 0; width: 100%; position: absolute; background: rgba(0,0,0,0.6); display:none; z-index: 999;height: 164px; cursor:pointer;  opacity: 0; -webkit-transition: opacity .4s ease-in-out;
                      -moz-transition: opacity .4s ease-in-out; -o-transition: opacity .4s ease-in-out; transition: opacity .4s ease-in-out;min-height: 164px;}
.full-profile_overlay_holder{margin: 0; padding: 0; display: table-cell; vertical-align: middle; text-align: center;}
.full-profile_overlay_holder p{margin: 0 0 10px 0; padding: 0; color: #fff; font-size: 16px; text-transform: capitalize; font-style:italic; font-weight: 600;}
.full-profile_overlay_holder i{margin: 0; padding: 0; color: #fff; font-size: 35px;}


#recommendation_notify .alert {cursor: pointer;}

#admin_users_top_header select.filter_tyroes{width: 150px; margin-top: -10px;}
#admin_users_top_header input#username_filter{margin-left:40px; margin-right: 15px;}

#admin_users_top_header select.filter_studio{width: 150px; margin-top: -10px;}
#admin_users_top_header input#studio_name{margin-left:40px; margin-right: 15px;}
#admin_users_top_header input.layout{margin-left:40px; margin-right: 15px;}
.no-margin{margin: 0 !important;}

.admin_gallery_images > .span3 > img {
    width: 100%;
}
.padding0px{
    padding: 0px !important;
}
.margin-bottom-10px{
    margin-bottom: 10px;
}
.bottom-margin-10px{
    margin-bottom: 10px;
}
.padding-left-15px{
    padding-left: 15px !important;
}
.form_area{
    margin-top: 25px;
    margin-bottom: 25px;
}
.margin-left0px{
    margin-left: 0px !important;
}
.form_area .all-states ,.form_area #studio_id ,.form_area {
    margin-bottom: 10px;
}
.getOpenings .select2-container{
    width: 100%;
}
.top30px{
    top: 30px !important;
}
.margin-right-5px{
    margin-right: 5px !important
}
.filter_holder{position: relative; z-index: 9;}

.filter_supporter {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    margin: 3px 0 0 0;
    padding: 0 15px;
    position: absolute;
    width: 73%;
    left: 0%;
    display: none;
}

.filter_supporter [class*="span"]:first-child{margin-left: 0;}

.display_hide{
    display: none;
}

.advanced_search_area label, .advanced_search_area span{color: #8c8f98; font-size: 12px; font-weight: 600; }
.advanced_search_area .first_filter {margin-top:25px;}
.advanced_search_area .second_filter {margin-top:25px; margin-bottom:15px;}
.advanced_search_area .forth_filter {margin-bottom:10px;}
.advanced_search_area .fifth_filter {margin-top:15px;}
.advanced_search_area .second_filter label{font-size: 12px; font-weight:600;}
.advanced_search_area .first_filter label, .advanced_search_area .first_filter span{font-size: 13px; color: #333;}

.center-block{margin: 0 auto !important; float:none;}
.step-pane .form-wrapper .field-box input, .step-pane .form-wrapper .field-box textarea{width: 94%; margin: 0; padding-left:20px;color: #919191;}
.step-pane .form-wrapper .field-box .date-period #startdate, .step-pane .form-wrapper .field-box .date-period #enddate{width: 88%;}
/*.step-pane .form-wrapper .field-box input, .step-pane .form-wrapper .field-box textarea{width: 100%; margin: 0; padding-left:20px;}*/
/*.step-pane .form-wrapper .field-box input, .step-pane .form-wrapper .field-box textarea{width: 94%; margin: 0; padding-left:20px;}
.step-pane .form-wrapper .field-box input, .step-pane .form-wrapper .field-box textarea{width: 94%; margin: 0; padding-left:20px;}*/
.step-pane .form-wrapper ::-webkit-input-placeholder {
    color: #919191;opacity: 1;
}
.step-pane .form-wrapper :-moz-placeholder {
    /* FF 4-18 */
    color: #919191;opacity: 1;
}
.step-pane .form-wrapper ::-moz-placeholder {
    /* FF 19+ */
    color: #919191;opacity: 1;
}
.step-pane .form-wrapper :-ms-input-placeholder {
    /* IE 10+ */
    color: #919191;opacity: 1;
}

.step-pane .form-wrapper .field-box {margin-top: 0; margin-bottom:15px;}
.step-pane .form-wrapper .field-box.job-type, .step-pane .form-wrapper .field-box.job-level {color: #919191; font-size: 13px;}
.step-pane .form-wrapper .field-box.job-type .job-type-holder, .step-pane .form-wrapper .field-box.job-level .job-level-holder {line-height: 12px;}
.step-pane .form-wrapper .field-box textarea{border: 1px solid #cccccc;}
.step-pane .form-wrapper .field-box textarea:focus{border-color: rgba(82, 168, 236, 0.8);
                                                   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
                                                   outline: 0 none;}

.step-pane .form-wrapper .field-box .select2-container, .step-pane .form-wrapper .field-box .select2-drop,
.step-pane .form-wrapper .field-box .select2-search, .step-pane .form-wrapper .field-box .select2-search input
{box-sizing: border-box; display: table; margin: 0 auto !important; width: 100%;}

.no-margin{margin:0 !important;}
.no-margin-left{margin-left:0 !important;}
.no-margin-right{margin-right:0 !important;}
.no-margin-bottom{margin-bottom:0 !important;}
.no-margin-top{margin-top:0 !important;}

.no-padding{padding:0 !important;}
.no-padding-left{padding-left:0 !important;}
.no-padding-right{padding-right:0 !important;}
.no-padding-bottom{padding-bottom:0 !important;}
.no-padding-top{padding-top:0 !important;}

.sep-left-adjust{margin-left: -20px;}
.sep-right-adjust{margin-right: -20px;}
.sep-adjust{margin:0 -20px;}

.modal_error_box{
    display: none;
}


/*new styles starts here*/
.round-box{width: 80px !important;margin-top: 24px;}
.round-box #yellow{color:transparent;border: 2px solid #fdaf04;border-radius: 100%;}
.round-box #green{color:transparent;border: 2px solid #97c040;border-radius: 100%;}
.dt-label .label{margin-bottom: 3px;}
.cd-btn-sp .reviews_toggle.btn{background: none repeat scroll 0 0 #FFFFFF;border-color: #E3E3E3;padding: 10px 15px;line-height: 20px;}
.cd-btn-sp .add_shortlist.btn,.cd-btn-sp .add_candidate_from_shortlist.btn{padding: 10px 15px;font-size: 13px;text-transform: uppercase;font-weight: bold;line-height: 20px;width: 186px;}
.btn-group.ft-btn-sp button.glow{background:transparent;}
.label-info{background: #7dbd80;margin-top: 5px;margin-bottom: 24px !important;}
#editors_pick #editors_pick_info span.location{margin-top: 5px;}
.public-profile p{margin-bottom: 0px !important;}

.editor-pck [class*="reviews_box"] .reviewers.review-mg .span4 {margin-left: 3.664%;}
.right-column.filter_editor #editors_pick.editors_picked{margin-bottom:0px;}

/*new styles ends here*/


#hire-notify {
    position: fixed;
    top: -75px;
    transition: all 0.3s ease-in-out 0s;
    z-index: 99999;
}

button:focus, button:active{outline: 0 none !important;}



/*new styles starts here*/
.rt-search-filter{margin: 0;padding: 20px 0 0 0;width: 100%;width: 100%;background: #fdfdfd;}

input::-moz-focus-inner {
    border: 0;
}
a {
    outline: 0;
}
a:hover, a:active, a:focus {
    outline: 0;
}
object, embed {
    outline: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.margin-top-5{
    margin-top: 25px !important;
}
.btn-sp .slect-btn{width: 162px;text-align: left;}
.modal.rt-review-modal{width: 745px;}
.rt-review-modal .rt-white-btn{padding-left:17px !important;padding-right:17px !important; }
.rt-review-modal .rt-white-btn span{font-size: 24px;line-height: 38px;}
.rt-review-modal .modal-header{padding: 17px;}
.rt-review-modal h3.modal-title{text-align: left;font-weight: bold;font-size: 22px;line-height: 55px;}
.rt-review-modal label{font-size: 13px;}
.rt-review-modal .field-box{margin-bottom: 15px;float: left;width: 100%;}
.rt-review-modal .rt-last-sec .span4:nth-child(3){text-align: right;}
.rt-review-modal .rt-last-sec .span4:nth-child(2){text-align: center;}
.rt-review-modal .rt-last-sec .span4:first-child{text-align: left;}
.rt-review-modal .rt-reviewer-label{margin-left: 7px;font-size: 13px;}
.rt-review-modal .rt-last-sec{margin-bottom: 15px;}
.rt-review-modal .rt-last-sec:last-child{margin-bottom: 0;}
.rt-pg-supporter{margin: 50px 0 !important;}
.rt-review-modal .rt-rev-footer{background: #fff;padding-right: 35px;}
.rt-review-modal .rt-rev-footer .btn-flat.review_close{font-size: 15px;font-family: arial;color: #000;border-color: #ccc;}
.rt-review-modal .rt-rev-footer .btn-flat.review_save{font-size: 15px;font-weight: 600;background: #3b8acd;font-family: arial;letter-spacing: -1px;}
.rt-review-modal .rt-rev-footer .btn-flat.review_back{font-size: 13px;font-family: arial;color: #000;border-color: #ccc;text-transform: uppercase;}
.rt-review-modal .rt-rev-footer .green_submitbtn{font-size: 13px;font-weight: bold;font-family: arial;letter-spacing: 0;text-transform: uppercase;}
.rt-review-modal .rt-rev-footer .btn-flat.review_update{font-size: 13px;font-weight: bold;font-family: arial;letter-spacing: 0;text-transform: uppercase;}
.rt-review-modal .alert-info{font-size: 13px;padding-right: 10px;letter-spacing: -0.5px;}
.rt-review-modal .field-box .title{font-size: 13px;letter-spacing: -0.3px;font-style: italic;color: #797d7e;margin-bottom: 13px;float: left;}
.rt-pd-container{padding-right: 20px;padding-left: 20px;vertical-align: middle;}
.rt-center{margin-top: 30px;margin-bottom: 25px;}
.rt-text-center{margin-top: 10px;margin-bottom: 10px;}
.rt-score span{font-size: 24px;}
.rt-st-sec span{background: #333f4b;color: #fff;margin-right: 7px;}
.rt-bg-review{background: #f5fafd;}
.margin-right-49{margin-right: 49px;}
.btn.rt-feed-btn{width: 386px;}
.global-popup_container .global-popup_details .global-popup_holder.social-modal{width: 745px;}
@media (max-width: 767px) and (min-width: 150px)
{
    .global-popup_container .global-popup_details .global-popup_holder.social-modal{width: 90%;}
    .tr-close {font-size: 25px;position: absolute;right: -20px;top: -20px;}
}
.btn.rt-create-btn{background: #59b958;font-weight: bold;box-shadow: none;border: 1px solid #4aaf49;font-size: 15px;line-height: 24px;text-transform: uppercase;}
.btn.rt-search-btn{background: #59b958;font-weight: bold;box-shadow: none;border: 1px solid #4aaf49;font-size: 15px;line-height: 24px;text-transform: uppercase;}
.rt-text-15{font-size: 15px !important;}
.margin-left-12{margin-left: 60px !important;}
#Search_filters.rt-profile{margin-left: 8.54701% !important;}
.close2 {
    margin-top: 2px;
    float: right;
    font-size: 20px;
}
.close2:hover, .close2:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
button.close2 {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

/*new styles ends here*/