.main-note{
    font-size: 20px;
    margin-bottom: 5px;
    font-style: italic;
    color: #8C8C8C;
    margin-top: 30px;
}

.table-responsive{
    margin-top: 80px;
}

.job-title a{
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

.reviewer-name{
    color: #888888;
    font-style: italic;
}

.score-place{
    border: 1px solid #edf2f7;
    text-align: center;
    max-width: 40px;
    padding: 5px;
    margin-top: 7px;
    margin-left: 5px;
    border-radius: 5px;
}

.btn-internal-only, .btn-internal-only:active, .btn-internal-only:focus{
    background: none;
    background-color: #BDBDBD;
    color: white;
    font-weight: normal;
    text-shadow: 0px 0px 0px transparent;
    border: 0px;
    margin-bottom: 5px;
    border-radius: 2px;
}

.btn-internal-only:hover{
    background: none;
    background-color: #A8A8A8;
    color: white;
    font-weight: normal;
    text-shadow: 0px 0px 0px transparent;
    border: 0px;
    margin-bottom: 5px;
    border-radius: 2px;
}

.btn-candidate-show, .btn-candidate-show:active, .btn-candidate-show:focus{
    background: none;
    background-color: #5bb75b;
    color: white;
    font-weight: normal;
    text-shadow: 0px 0px 0px transparent;
    border: 0px;
    margin-bottom: 5px;
    border-radius: 2px;
}

.rate-badge-logo{
      width: 90%;
}