/*CSS*/

.job_review_team_container{
    display: none;
    margin-top: 50px;
}

.job_review_team_container .box-show{
    width: 45%;
    border: none !important;
}

/*.job_review_team_container .add-team-member-box{
    
}*/

.job_review_team_container .add-team-member-box .field-box{
    width: 100%;
}

.job_review_team_container .add-team-member-box .field-box .search_existing_reviewer{
    width: 90%;
}

.job_review_team_container .add-team-member-box .field-box .searching_reviewer_result{
    margin-top: -11px !important;
}

/*.job_review_team_container .add-team-member-box .field-box .searching_reviewer_result .select-reviewer-btn{
    margin-top: 20px;
}*/

.searching_reviewer_result .select-reviewer-btn{
    margin-top: 20px;
}

ul.ext-rvw-list-1{
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 92%;
    border-left: 1px solid #dee2eb;
    border-right: 1px solid #dee2eb;
    border-bottom: 1px solid #dee2eb;
    max-height: 250px;
    overflow-y: auto;
}

ul.ext-rvw-list-1 li{margin:0; padding: 8px 0; width: 100%;  border-bottom:1px solid #dee2eb; float:left;}
ul.ext-rvw-list-1 li #ext-rvw_img img{width: 60px; height: 60px;}
ul.ext-rvw-list-1 li #ext-rvw_img a.name{margin: 10px 0 3px 0;}
ul.ext-rvw-list-1 li #ext-rvw_img span.add_rvw{font-style: italic;}
ul.ext-rvw-list-1 li #ext-rvw_img span.add_rvw a i{color: #96bf48;font-size: 15px;}



/*.invite-email-text{
    width: 285px;
    height: 22px;
    float: left;
}

.invite-email-text .select2-input{
    width: 285px !important;
    height: 22px !important;
}

.select2-choices .select2-search-choice {
    background-clip: padding-box;
    background-color: #F2F5F9;
    border: 1px solid #D6E2EB;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    cursor: default;
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 3px 5px 3px 18px;
    position: relative;
}

.send_invitaion_btn{
    padding: 4px 4px 4px 4px !important;
    margin-left: -2px !important;
    font-size: 14px !important;
}*/


.invite-form{
    width: 95%;
    margin: auto;
}

.invite-team-member-box .invite-form .invite-form-input{
    width: 81%;
    float: left;
    width: 78%;
}


/*.invite-form .select2-input{
    width: 285px !important;
    height: 22px !important;
}*/

.invite-form .invite-form-btn{
    margin-left: -3px;
    width: 18%;
    border-radius: 1px 5px 5px 0px;
    font-size: 13px;
    font-weight: 600;
    height: 34px;
    padding-top: 5px !important;
    padding-bottom: 8px !important;
    float: left;
}


.vertical-sep{
    float: left;
    height: 325px;
    border: 1px solid #ccc;
}

.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
    background-color: #fff;
}

.job-team-tr .role-check-td{
    padding-left: 30px;
}

.job-team-tr .role-check-td a{
    color: #ccc;
    font-size: 24px;
    cursor: pointer;
}

.job-team-tr .role-check-td a.active{
    color: #00BDFF
}

.job-team-tr .delet-job-reviewer{
    color: #ccc;
    font-size: 22px;
}


#widgets_and_sharing .public-job-url{
    width: 90%;
    margin-bottom: 25px;
}

/* Job Candidate Listing */
.user-dp-holder .avalability-mark-icon{
    position: absolute;
    left: 70%;
    top: 70%;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 13px;
    width: 18px;
    height: 19px;
}

.rg-bg.invite-status-bg{
    background: #F5F5F5;
}

.rg-bg.invite-status-bg:hover{
    background:#f5fafd
}

.invite-status-suspended,.invite-status-suspended:hover{
    color: #C2C2C2;
    font-size: 22px;
    left: 94%;
    top: 2%;
    cursor: pointer;
    position: absolute;
}

.invite-status-layer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    z-index: 1000;
}

.invite-status-layer .alert-success{
    width: 40%;
    margin: 9% auto;
    border: 1px solid #81ad53;
    padding: 12px 10px 12px 10px;
}

.invite-status-layer .alert-danger{
    width: 40%;
    margin: 9% auto;
    border: 1px solid #d5393e;
    padding: 12px 10px 12px 10px;
}

.invite-status-layer .alert .remove-anchor{
    float: right;
    margin-top: -7px;
    color: #A8A8A8;
    font-size: 16px;
    cursor: pointer;
}

.invite-status-suspended .tool-tip-notification{
    position: absolute;
    left: -338px;
    top: 0px;
}

.invite-status-suspended .tool-tip-notification .arrow{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #000;
    border-bottom: 10px solid transparent;
}

.gray-inactive-btn-class{
    background: #D5D5D5;
    opacity: 0.5;
    border: none;
}




/* Review Form Badge Css */


.review-form-badge{
    border-top: 1px solid #E4E4E4;
    padding-top: 20px;
    margin-left: 0px;
}


.review-form-badge .border-top{
    border-top: 1px solid #EEEEEE;
    padding-top: 15px;
}

.review-form-badge .rate-badge-container .rate-badge-content{

}

.review-form-badge .rate-badge-container .rate-badge-content .badge-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.review-form-badge .rate-badge-container .rate-badge-content .badge-text{
    font-size: 14px;
    font-weight: 300;
}

.review-form-badge .rate-badge-container .rate-badge{

}

.review-form-badge .rate-badge-container .rate-badge .rate-badge-logo{
    width: 100%
}

.job_review_team_container table{
    width: 90%;
    margin: auto;
}

#myModal_give_review .global-popup_header{
    padding: 20px;
}
body.modal-open {
    overflow: auto !important;
    padding-right: 0px;
}
@media all and (max-width: 1280px){  
    .job_review_team_container {
        margin-top: 0;
    }
}
@media all and (max-width: 991px){  
    #main-stats .stat-large .no-images {
        width: 85%;
    }
    .job_review_team_container .box-show {
        width: 47%;
        margin-left: 15px;
    }
    /*    #main-stats .stat-large p {
            padding: 0 23px;
        }*/
}
@media all and (max-width: 767px){  
    #main-stats .stat-large p {
        padding: 0 16px;
    }
}
@media all and (max-width: 767px){  
    .job_review_team_container {
        margin-top: 0;
    }
    #main-stats .stat-large p {
        padding: 0;
    }
    #main-stats .stat-large {
        padding: 12px 0;
    }
    .job_review_team_container .box-show {
        width: 100%;
        margin-left: 0px;
    }
    .stats-row .vertical-sep {
        display: none;
    }
    .table-responsive{
        width:100%;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar;
    }
}

/* Review Form Badge Css */

