.payment_block{
    background-color: #fdfdfd;
}

#in_pricing h3 {
    line-height: 40px;
}


/*Pricing Option 1*/
#in_pricing {
    margin-bottom: 100px;
    margin-top: 70px; }

#in_pricing .plan-box
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#in_pricing .head {
    text-align: center;
    margin-bottom: 70px; }
#in_pricing .head h3 {
    font-size: 35px;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 20px 0;
    color: #252528; }
#in_pricing .head h6 {
    font-size: 18px;
    margin: 0;
    color: #8E8E8F;
    font-weight: normal; }
#in_pricing .charts_wrapp {
    margin-bottom: 40px; }
#in_pricing .charts_wrapp .plan {
    border-radius: 6px;
    box-shadow: 0 1px 3px 1px #d6d6d6;
    background-color: #fff;
    width: 95%;
    position: relative; }
#in_pricing .charts_wrapp .plan .wrapper {
    padding: 33px 30px 26px 30px; }
#in_pricing .charts_wrapp .plan h3 {
    color: #535353;
    font-weight: normal;
    font-style: italic;
    font-size: 28px;
    margin: 0 0 5px 0;
    line-height: 25px; }
#in_pricing .charts_wrapp .plan .price {
    font-size: 17px;
    color: #1189D9;
    margin-top: 16px; }
#in_pricing .charts_wrapp .plan .price span.dollar {
    font-size: 32px;
    position: relative;
    top: -6px;
    margin-right: 3px; }
#in_pricing .charts_wrapp .plan .price span.qty {
    font-size: 38px;
    margin-right: 4px;
    position: relative;
    top: 2px; }
#in_pricing .charts_wrapp .plan .price span.month {
    font-style: italic;
    font-weight: 300;
    font-size: 15px; }
#in_pricing .charts_wrapp .plan .features {
    margin-top: 30px; }

#in_pricing .charts_wrapp .plan .features strong{
    font-weight: 600;
}
#in_pricing .charts_wrapp .plan .features p {
    color: #838385;
    margin-bottom: 5px;
    font-size: 14px; 
    font-weight: 300;
}
#in_pricing .plan a.order {
    background-color: #2190DB;
    text-align: center;
    margin: 25px auto 0;
    width: 48%;
    display: block;
    padding: 3px 0;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear; }
#in_pricing .plan a.order:hover {
    background: #252528; }
#in_pricing .pro .plan {
    width: 100%;
    top: -20px;
    box-shadow: 0 0 7px 0 #d6d6d6;
    border: 1px solid #d9d9d9; }
#in_pricing .pro .plan .wrapper {
    padding: 36px 30px 35px 30px; }
#in_pricing .pro .plan img.ribbon {
    position: absolute;
    top: 0;
    right: 0; }
#in_pricing .pro .plan a.order {
    margin-top: 35px; }
#in_pricing .standar .plan {
    float: right; }
#in_pricing .start {
    width: 100%;
    text-align: center; }
#in_pricing .start p {
    font-size: 24px;
    display: inline-block;
    color: #5B5B5D;
    font-style: italic;
    line-height: 26px;
    margin: 0 18px 0 0; }
#in_pricing .start a {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    padding: 7px 17px;
    font-size: 17px;
    background: #252528;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear; }
#in_pricing .start a:hover {
    background: #2190DB; }

/*Frequent Questions*/
#faq {
    margin-bottom: 50px; }
#faq .block .box {
    margin-bottom: 50px; }
#faq .block .box p.title {
    font-size: 20px;
    margin-bottom: 10px;
    font-style: italic; }
#faq .block .box p.answ {
    font-size: 14px;
    line-height: 22px; }
#faq .right {
    float: right; }

/* Pricing Option 2 */
#in_pricing2 {
    margin-bottom: 40px; }
#in_pricing2 .section_header h3 span {
    font-size: 18px;
    line-height: 20px; }
#in_pricing2 .charts_wrapp {
    margin-bottom: 40px; }
#in_pricing2 .charts_wrapp .plan {
    border-radius: 6px;
    box-shadow: 0 1px 3px 1px #d6d6d6;
    background-color: #fff;
    width: 100%;
    position: relative; }
#in_pricing2 .charts_wrapp .plan .wrapper {
    padding: 33px 30px 26px 30px; }
#in_pricing2 .charts_wrapp .plan .price {
    font-size: 17px;
    color: #1189D9;
    margin-top: 16px; }
#in_pricing2 .charts_wrapp .plan .price span.dollar {
    font-size: 32px;
    position: relative;
    top: -6px;
    margin-right: 3px; }
#in_pricing2 .charts_wrapp .plan .price span.qty {
    font-size: 47px;
    margin-right: 4px;
    position: relative;
    top: 2px; }
#in_pricing2 .charts_wrapp .plan .features {
    margin-top: 30px; }
#in_pricing2 .charts_wrapp .plan .features p {
    color: #838385;
    margin-bottom: 5px;
    font-size: 14px; }
#in_pricing2 .charts_wrapp .plan h3 {
    color: #535353;
    font-weight: normal;
    font-style: italic;
    font-size: 28px;
    margin: 0 0 5px 0;
    line-height: 25px; }
#in_pricing2 .charts_wrapp .plan a.order {
    width: 80%; }
#in_pricing2 .plan .price span.month {
    font-weight: bold;
    font-size: 17px; }
#in_pricing2 .plan a.order {
    background-color: #2190DB;
    text-align: center;
    margin: 25px auto 0;
    width: 48%;
    display: block;
    padding: 3px 0;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear; }
#in_pricing2 .plan a.order:hover {
    background: #252528; }
#in_pricing2 .ultra .plan {
    top: -13px;
    box-shadow: 0px 0px 7px 0 #d6d6d6;
    border: 1px solid #d9d9d9; }
#in_pricing2 .ultra .plan .wrapper img.ribbon {
    position: absolute;
    right: 0;
    top: 0; }
#in_pricing2 .black .plan {
    background: #252528;
    box-shadow: none; }
#in_pricing2 .black .plan .wrapper {
    padding: 35px 25px 30px 25px; }
#in_pricing2 .black .plan h3 {
    color: #fff; }
#in_pricing2 .black .plan h6 {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    font-style: italic; }
#in_pricing2 .black .plan p {
    font-size: 16px;
    color: #adadad;
    margin: 20px 0 38px;
    line-height: 23px; }
#in_pricing2 .black a.order {
    background: #535356;
    color: #fff;
    width: 87%;
    padding: 6px 0; }
#in_pricing2 .black a.order:hover {
    background: #2190DB; }

/* Responsive
-------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
    #in_pricing .plan a.order {
        width: 64%; }

    #in_pricing2 .plan a.order {
        width: 64%; } }
@media (max-width: 767px) {
    #in_pricing .charts_wrapp .plan {
        margin: 0 auto 30px;
        width: 95%; }
    #in_pricing .plan .wrapper {
        margin: 0 auto;
        text-align: center; }
    #in_pricing .pro .plan {
        top: 0;
        width: 95%; }
    #in_pricing .standar .plan {
        float: none; }
    #in_pricing .start p {
        margin-bottom: 20px; }
    #in_pricing .start a {
        display: block;
        width: 50%;
        margin: 0 auto; }

    #in_pricing2 .charts_wrapp .plan {
        margin: 0 auto 30px;
        width: 95%; }
    #in_pricing2 .plan .wrapper {
        margin: 0 auto;
        text-align: center; }
    #in_pricing2 .ultra .plan {
        top: 0; } }


#faq {
    margin-bottom: 50px;
    padding: 2%;
}
#faq .block .box {
    margin-bottom: 50px; }
#faq .block .box p.title {
    font-size: 20px;
    margin-bottom: 10px;
    font-style: italic; }
#faq .block .box p.answ {
    font-size: 14px;
    line-height: 22px; }
#faq .right {
    float: right; }

.section_header {
    width: 100%;
    margin-bottom: 60px; }
.section_header h3 {
    color: #646464;
    font-weight: 300;
    font-style: italic;
    font-size: 27px;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 10px;
    display: inline-block;
    margin: 0; }


/*  Payment section */

.payment-section{
    min-height: 200px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 20px;
}

.payment-section .hor-sep {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    border-bottom: 1px solid #E2E2E2;
}

.payment-section .vertical-sep{
    border-left: 1px solid #E2E2E2;
    height: 260px;
    float: left;
}

.payment-section .block{
    float: left;
    width: 48%;
}

.payment-section .block .header{
    margin-bottom: 20px;
}

.payment-section .block .header h3{
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}

.payment-section .form-block{
    width: 100%;
}

.payment-section .form-block .form-row{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.payment-section .form-block .form-row .cc_number{
    width: 80%;
}

.payment-section .form-block .form-row .sep{
    float: left;
    display: block;
    font-size: 34px;
    margin-top: 8px;
    font-weight: 300;
    color: #B3B3B3;
}

.payment-section .form-block .form-row .c_month{
    float: left;
    width: 20%;
}

.payment-section .form-block .form-row .c_year{
    float: left;
    width: 25%;
}

.payment-section .form-block .form-row .security_code{
    float: left;
    width: 20%;
}

.payment-section .form-block .form-row .address{
    width: 92%;
}

.payment-section .form-block .form-row .select-country{
    width: 95%;
    border: 1px solid #cccccc;
    height: 37px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.payment-section .form-block .form-row .a_city, .payment-section .form-block .form-row .a_state, .payment-section .form-block .form-row .a_postcode{
    width: 27%;
    margin-right: 2%;
    float: left
}

.payment-section .form-block .form-row .coupon_code{
    width: 60%;
    margin-right: 15px;
    float: left;
}

.payment-section .form-block .form-row .btn-apply{
    float: left;
    line-height: 23px;
    width: 50px;
    font-weight: 500;
    background: #5E5E63;
    color: #fff;
}

.amount-section{
    width: 100%
}

.amount-section .amount-details{
    /*    text-align: center;
        background: #D1ECF8;
        line-height: 75px;
        border-radius: 6px;
        color: #2972A5;
        font-size: 14px;
        width: 100%;
        margin: auto;*/
    padding: 6px;
}

.amount-section .amount-details span{
    /*    display: block;
        width: 40%;
        float: left;*/
}

.amount-section .amount-details .amount{
    font-size: 30px;
    font-weight: 600;
    text-align: right
}

.amount-section .amount-details .sub-text{
    text-align: left;
    padding-left: 10px;
}

.amount-section .amount-details .extra-condition{
    display: none;
    width: 100%;
    min-height: 20px;
    line-height: 20px;
}


.amount-details .label-row{
    float: left;
    font-size: 16px;
    width: 80%;
    margin-right: 5px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.amount-details .label-row.total-label{
    font-weight: 600;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.amount-details .label-amount{
    float: left;
    font-size: 18px;
    width: 16%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 8px;
    padding-left: 5px;
}

.amount-details .label-amount.total-amount{
    font-weight: 600;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.amount-details .hor-sep{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 94%;
    margin: auto;
    border-bottom: 1px solid #6FA2C5;
}

.bottom-section{
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.bottom-section .btn{
    float: right;
    font-size: 12px;
}

.bottom-section .btn-pay-now{
    /*    background: #8AC007;
        color: #fff;*/
    width: 100px;
}

.bottom-section .btn-pay-now.inactive{
    opacity: 0.4;
}

.bottom-section .btn-back{
    margin-right: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .payment-section .block {
        width: 48%;
    }

    .payment-section .vertical-sep{
        border-left: 1px solid #E2E2E2;
        height: 260px;
        float: left;
    }
}

@media (max-width: 767px) {
    .payment-section .block {
        width: 100%;
    }

    .payment-section .vertical-sep{
        border-left: 0px solid #E2E2E2;
    }   
}
/*  Payment section */


/* Payment History Section */

.payment-history-container{
    /*      max-width: 1024px;*/
}

.payment-history-container .alert-message{
    margin: 20px;
}

.header-label{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.payment-history-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.payment-history-list .payment-history-row .text-label{
    color: #8D8D8D;
    margin-right: 5px;
}

.payment-history-list .payment-history-row{
    min-height: 90px;
    border: 2px solid #ccc;
    margin: 20px;
    border-radius: 5px;
}

.payment-history-list .payment-history-row .icon{
    float: left;
    width: 4%;
    font-size: 25px;
    color: #B8A750;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.payment-history-list .payment-history-row .title{
    float: left;
    padding: 9px 10px 10px 5px;
    font-size: 16px;
    font-weight: 400;
    width: 50%;
    line-height: 25px;
}

.payment-history-list .payment-history-row .coupon{
    float: left;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    margin-top: 2px;
    font-weight: 400;
    width: 18%;
    text-align: center;
}

.payment-history-list .payment-history-row .total-amount{
    /*float: left;*/
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    margin-top: 2px;
    font-weight: 400;
    /*width: 18%;*/
    text-align: right;
}

.payment-history-list .payment-history-row .date-time{
    float: left;
    font-size: 14px;
    margin-left: 65px;
    font-weight: 400;
    width: 40%;
}

.payment-history-list .payment-history-row .btn-invoice{
    padding: 4px 12px 4px 12px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    font-weight: 500;
    border-radius: 3px;
    background: #42A8F1;
    color: white;
    margin-bottom: 10px;
}

#cc_type_img{
    width: 50px;
    margin-left: 10px;
    margin-top: -10px;
    display: none;
}

#myModal_payment, #invoice_modal{
    /*position: fixed;*/
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

#invoice_modal{
    width:600px
}

@media (max-width: 480px) {
    .payment-history-list .payment-history-row .icon {
        float:none;
    }
    .payment-history-list .payment-history-row .title {
        width: 100%;
    }
}


#select_package{
    background-color: #2190DB;
    text-align: center;
    width: 48%;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-transition: all .2s linear;
    margin: 0px;
    display: inline;
    padding: 5px;
}

/* Payment History Section */