/* 
    Document   : public_job
    Created on : 24 Dec, 2014, 7:22:48 PM
    Author     : mobi38
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background: none;
}

root { 
    display: block;
}

.public-job-container .brand-logo{
    width: 30%;
    text-align: center;
    margin: 0px auto;
}

.public-job-container .brand-logo .brand{
    float: none;
}

.public-job-container .brand-logo .brand .logo-main {
    max-width: 40%;
}

.job-container{
    width: 60%;
    background: #fff;
    margin: 100px auto;
    box-shadow: 0px 0px 5px #9E9E9E;
    border-radius: 3px;
}

.job-container .job-content{
    padding: 40px;
    min-height: 15px;
}

.job-container .job-content .left-col{
    float: left;
    width: 23%;
}

.job-container .job-content .left-col .company-logo{
    width: 100%;
}

.job-container .job-content .right-col{
    float: left;
    width: 72%;
    margin-left: 4%;
    min-height: 10px;
    color: #526273;
}

.job-container .job-content .right-col .text-row{
    width: 100%;    
}

.job-container .job-content .right-col .company_name{
/*    color: #32A0EE;*/
    color: #2488D4;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 14px;
}

.job-container .job-content .right-col .job_title{
    font-weight: 500;
    font-style: italic;
    margin-bottom: 10px;
    font-size: 16px;
    color: #3D464E;
    margin-bottom: 10px;
}

.job-container .job-content .right-col .location{
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 20px;
}

.job-container .job-content .right-col .description{
    font-size: 12px;
    margin-bottom: 30px;
}

.job-container .job-content .right-col .data{
    margin-bottom: 30px;
}

.job-container .job-content .right-col .data .data-field-1{
    float: left;
    width: 30%;
}

.job-container .job-content .right-col .data .data-field-2{
    width: 50%;
    text-align: center;
    float: left;
}

.job-container .job-content .right-col .data .data-field-3{
    width: 20%;
    text-align: center;
    float: left;
}

.job-container .job-content .right-col .skills .skill{
    font-weight: 600;
    margin-right: 5px;
}

.job-container .job-footer{
    background: #F3F3F3;
    padding: 30px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-radius: 0px 0px 2px 2px;
}

.job-container .job-footer .apply-btn{
    background: #32A0EE;
    font-size: 13px;
    font-weight: 400;
}
