/* 
    Document   : register
    Created on : 27 Nov, 2014, 5:22:42 PM
    Author     : mobi38
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

    
.select2-container{
    width: 100%;
    text-align: left;
}

.company_locations{
    border: 1px solid #b2bfc7;
    margin-bottom: 25px;
    color: #98a4b0;
    text-align: left;
    font-size: 14px;
    display: none;
    background: #fff;
}

.company_locations .location_row{
    min-height: 25px;
    padding: 7px;
    border-top: 1px solid #E7E7E7;
    cursor: pointer;
}

.company_locations .location_row:first-child{
    border: none;
}


.company_locations .location_row .icon{
    float: left;
    width: 5%;
    margin-right: 5px;
    min-height: 30px;
    color : #ccc;
}

.company_locations .location_row .location_name{
    float: left;
    width: 83%;
    min-height: 30px;
}

.company_locations .location_row .location_name.green{
    color: #76B876;
}

.company_locations .location_row .select_box{
    float: left;
    width: 10%;
    min-height: 30px;
}


.ui-menu .ui-menu-item a.ui-corner-all:hover, .ui-menu .ui-menu-item a.ui-corner-all:focus, .ui-menu .ui-menu-item a.ui-corner-all:active {
    background:#3b9ff3!important;
    color:#fff;
    border-radius:0;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #3b9ff3;
    border: none;
    color:#fff;
    border-radius:0;
    font-weight: normal;
}

.company-box .company-name-disabled{
    font-size: 15px;
    height: 32px;
    margin-bottom: 18px;
    padding-left: 12px;
    border-radius: 0;
    font-weight: 500;
    font-style: italic;
    color: #B5B7B9;
    text-align: left;
    background: #fff;
    border: 1px solid #b2bfc7;
    padding-top: 10px;
}

.company-box .company-name-disabled .fa-check-circle{
    float: right;
    margin-right: 5%;
    font-size: 22px;
    color: #78C1FD;;
}

.user-email-disabled{
    font-size: 15px;
    height: 32px;
    margin-bottom: 18px;
    padding-left: 12px;
    border-radius: 0;
    font-weight: 500;
    font-style: italic;
    color: #B5B7B9;
    text-align: left;
    background: #fff;
    border: 1px solid #b2bfc7;
    padding-top: 10px;
}

.user-email-disabled .fa-check-circle{
    float: right;
    margin-right: 5%;
    font-size: 22px;
    color: #78C1FD;;
}

/*.ui-state-focus
{
    color:White;
    background:#3b9ff3;
    outline:none;
}

.ui-menu .ui-menu-item a:hover{
    background: #3b9ff3;
    color:white;
}*/

.tearms_box{
    margin-bottom: 30px;text-align: left;width: 160px;
}

.tearms_box a{
    text-decoration: underline;
}
