@media only screen and (min-width:245px) and (max-width:479px){

    #main-stats .stat .data {padding-right: 0px; text-align: center; margin-bottom: 5px; }
    #main-stats .stat .data .number{margin-right:0; width: 100%; margin-bottom: 15px; clear:both; display: table;}
    #main-stats .stat .date{position: static; text-align: center; display: table; width: 100%;}
    .stream-view{display: table; float:none; margin:0 auto;}
    .activity-last{margin-right: 0 !important;}
    .activity-keyword{margin-right: 0 !important;}
    .activity-search{margin: 0 !important;}
    .padding-left-126{padding-left: 0 !important;}
    .form-wrapper label{width: 100% !important; text-align: center !important;}
    .round-input-group input.span6 {width: 100%;}

    .round-input-group input[type="text"]:first-child {border-bottom-right-radius: 4px;border-top-right-radius: 4px;}
    .round-input-group input[type="text"]:last-child {border-bottom-left-radius: 4px;border-top-left-radius: 4px;border-left:1px solid #DEE3EA;}
    .btn-input-group .btninput-group-addon{padding: 4px;}
    .btn-input-group .btninput-group-rest{width: 60%;}
    .separator{margin-top: 20px;}
    .new_user_form{margin-top: 10px;}
    .social-acnt img {margin: 16px auto ; display: table;}
    .social-acnt-link input{margin: 15px auto 5px auto; display: table;}
    .sidebar{border-left:0; box-shadow: none;}
    .header-adjusted{margin-top: 25px !important; margin-left: auto !important; margin-right: auto !important;}
    .linked-accounts-list li .slider-frame{display: table; margin: 20px auto !important;}
    .openings-container .btn-flat.success{float:none; width: auto;}
    .disabled-opening a {display: table;float: none;margin: 20px auto;width: auto;}
    .margin-left22{margin-left: 0 !important;}
    .leaving-message{width: 95%; height: 150px;}

}


@media only screen and (min-width:480px) and (max-width:767px){

    /*#main-stats .stat .data {padding-right: 0px; text-align: center; margin-bottom: 5px; }
    #main-stats .stat .data .number{margin-right:0; width: 100%; margin-bottom: 15px; clear:both; display: table;}
    #main-stats .stat .date{position: static; text-align: center; display: table; width: 100%;}*/
    .dashboard-head-adjust{margin-left: 0 !important;}
    .round-chart-top{display: table; width: 400px; margin: 0 auto; float:none !important;}
    .ctrls input{width: 93% !important;}
    .find { margin: 0 11px 20px;}
    .span2.social-acnt {float: left;width: 20% !important;}
    .span8.social-acnt-title {float: left;width: 80%;}
    .span2.social-acnt-link {float: left;width: 100%; margin-bottom: 15px; margin-top:10px; }
    .stream-view{display: table; float:none; margin:0 auto;}
    .activity-last{margin-right: 0 !important;}
    .activity-keyword{margin-right: 0 !important;}
    .activity-search{margin: 0 !important;}
    .padding-left-126{padding-left: 0 !important;}
    .form-wrapper label{width: 100% !important; text-align: center !important;}
    .round-input-group input.span6 {width: 100%;}

    .round-input-group input[type="text"]:first-child {border-bottom-right-radius: 4px;border-top-right-radius: 4px;}
    .round-input-group input[type="text"]:last-child {border-bottom-left-radius: 4px;border-top-left-radius: 4px;border-left:1px solid #DEE3EA;}
    .btn-input-group .btninput-group-addon{padding: 4px;}
    .btn-input-group .btninput-group-rest{width: 60%;}
    .separator{margin-top: 20px;}
    .new_user_form{margin-top: 10px;}
    .social-acnt img {margin: 16px auto ; display: table;}
    .social-acnt-link input{margin: 0 ; display: table; float: right;}
    .sidebar{border-left:0; box-shadow: none;}
    .header-adjusted{margin-top: 25px !important; margin-left: auto !important; margin-right: auto !important;}
    .linked-accounts-list li .slider-frame{display: table; margin: 20px auto !important;}
    .openings-container .btn-flat.success{float:none; width: auto;}
    .disabled-opening a {display: table;float: none;margin: 20px auto;width: auto;}
    .margin-left22{margin-left: 0 !important;}
    .leaving-message{width: 95%; height: 100px;}

}


@media only screen and (min-width:768px) and (max-width:1004px){
/*.content{margin-left: -1px; margin-bottom: 0;}
.visible-phone {display: block !important;}
.display{background: #fff; box-shadow: 2px 3px 3px 1px #818183;border-left: 1px solid #DAE3E9; z-index: 99999;}
#menu-toggler{display: none;}
    #dashboard-menu li a span { visibility: visible;}*/
    .stream-view{display: table; float:none; margin:0 auto;}
    .activity-last{margin-right: 0 !important; width: 100% !important; margin-bottom: 10px !important;}
    .activity-keyword{margin-right: 0 !important; width: 100% !important;margin-bottom: 10px !important;}
    .activity-search{margin: 0 !important; width: 100% !important;margin-bottom: 10px !important;}
    .ctrls input{width: 93% !important;margin-left: 5px !important;}
    .tab-graph{width: 80% !important; margin: 30px 0 !important;}
    .tab-graph .knob-wrapper{margin: 0 auto !important; display: table; float: none !important;}
    .padding-left-126{padding-left: 10px !important;}
    .dashboard-activity-adjust{clear:both; margin-bottom: 30px !important; float:none !important;}
    .dashboard-btngroup{width: 38% !important;}
    .new_user_form.acnt-dtl [class*="span"]{width: 100% !important;}

    .form-wrapper label{width: 97% !important; text-align: left !important;padding-left:3% !important;}

    .round-input-group input[type="text"]:first-child {border-bottom-right-radius: 4px;border-top-right-radius: 4px;}
    .round-input-group input[type="text"]:last-child {border-bottom-left-radius: 4px;border-top-left-radius: 4px;border-left:1px solid #DEE3EA;}
    .btn-input-group .btninput-group-addon{padding: 4px;}
    .btn-input-group .btninput-group-rest{width: 60%;}
    .inline-input input[type="text"]:focus,
    .inline-input input[type="password"]:focus,
    input[type="text"].inline-input:focus,
    input[type="password"].inline-input:focus {
        box-shadow: none;
        border-color: #5d6a80;
    }
    .inline-input input[type="text"]:hover,
    .inline-input input[type="password"]:hover,
    input[type="text"].inline-input:hover,
    input[type="password"].inline-input:hover {
        border-color: #959fb0;
    }

    .new_user_form.acnt-dtl [class*="span"].btninput-group-rest{width: 72% !important;}

    .new_user_form{margin: 0 !important;}
    .container-fluid.padding-adjusted .default-header{width: 70% !important;}
}