/* 
    Document   : user_dashboard
    Created on : 7 Jan, 2015, 3:41:14 PM
    Author     : mobi38
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.user-dashboard-chart-container{
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    margin-top: 50px
}

.tyroe-profile-score-box{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tyroe-profile-score-box .knob-wrapper{
    float: right;
/*    width: 150px;*/
}

.tyroe-profile-score-box .score-badge-content .score-badge-logo{
    width: 150px;
}

.tyroe-profile-score-box .score-badge-content .badge-title{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 17px;
}

.tyroe-profile-score-box .score-badge-content .badge-text{
    font-size: 16px;
    font-weight: 300;
}

.tyroe-profile-score-box .knob-wrapper .base-label{
    margin-top: 10px;
}

.tyroe-profile-score-box .knob-wrapper .base-label .base-label-color{
    background-color: #30a1ec;
    display: inline-block;
    height: 5px;
    width: 25px;
}

.tyroe-profile-score-box .knob-wrapper .base-label .base-label-text{
    font-size: 14px;
    font-weight: 400;
    color: #8A8A8A;
}

.tyroe-profile-score-box .knob-wrapper .score-chart-input-field{
    margin-top: 52px !important;
}
