/*
Enter Here your Custom CSS Style!!
*/

.icons-example{
    float:left;
}

/*
SHOT BREAKDOWN ACCORDIAN
*/
.accordion-heading .accordion-toggle {
    /*background: black;*/
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.accordion-heading .accordion-toggle i{ line-height:30px;}

#contact h3, #services-box h3 {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 40px;
    text-transform: uppercase;
    text-align: center;
}

#single-team .row{
    margin-top:150px;
    margin-bottom:50px;
}

#single-team .team-img{
    margin: 10px 0 0;
    width: 85%;
}

.cell{
    margin-bottom: 20px;
}

#contact-form textarea {
    width: 100%;
    max-height: 120px;
    resize: vertical;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
RESUME
*/

#latest-work h4{
    text-align:right;
}

#latest-work h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 2px 0px 0px;
    text-transform: uppercase;
}

#latest-work .progress{
    background-color:white;
}


#contact-form textarea {
    width: 100%;
    max-height: 200px;
    resize: vertical;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#tags li {
    list-style: none;
    float:left;
    margin: 0 10px 10px 0;
}

/*
RESPONSIVE CSS
*/


@media (max-width: 767px) and (min-width: 481px)
{
    #single-team .team-img {
        margin: 0px auto 20px;
        max-width: 220px;
    }

    #single-team .row {
        text-align:center;
        margin: 50px;
    }

    #single-team .team-img img {
        width: 100%;
        text-align:center;
    }
}


@media (max-width: 979px) and (min-width: 768px){

    #single-team .row {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .icons-example ul li a span {
        font-size: 24px;
        line-height: 40px;
    }


    .icons-example ul li a {
        width: 60px;
        height: 60px;
    }
}


@media (max-width: 767px) {
    #single-team .team-img {
        margin: 0px auto 20px;
        max-width: 220px;
    }

    #single-team .row {
        margin: 50px 5px;
        text-align: center;
    }

    #single-team .team-img {
        margin: 0px auto 20px;
        max-width: 150px;
    }

    #single-team .team-description {
        font-size: 14px;
    }

    #latest-work .row .span4{
        text-align:left;
        margin-bottom:10px;
    }

    #latest-work h4 {
        font-size: 14px;
        font-weight: 600;
        margin: 2px 0px 0px;
        text-transform: uppercase;
    }

    .button-main.button-large {
        padding: 10px 15px;
        font-size: 16px;
    }

    /*
    NAVBAR ICONS
    */
    .icons-example ul li a span {
        font-size: 18px;
        line-height: 40px;
    }


    .icons-example ul li a {
        width: 22px;
        height: 22px;
    }


}


/*header styles for wire frames to match anubis styles*/

.notification-box { background-color: #EDF2F7; box-shadow: 3px 3px 3px #B3B3B3; display: none; height: 12%; position: fixed; top: 0;width: 100%; z-index: 9999;}
.notification-box-message { color: #005580; font-size: 14px; font-weight: bold; margin: 15px 0 0; text-align: center; text-transform: uppercase;}
.navbar-inverse { margin-bottom: 0;}

@media (max-width: 767px) and (min-width: 320px)  {
    .navbar-inverse { margin-right:-20px; margin-left:-20px;}
}

/*nav bar backround and apperance styling to match the concept art and to override the core bootstrap styles*/

.navbar-inverse .navbar-inner {
    background: linear-gradient(to bottom, #2C3742 0%, #28303A 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border-bottom: 1px solid #191E23; border-radius: 0;}

.navbar-inverse .btn-navbar {float: left; margin-top: 10px;}


@media (max-width: 979px) and (min-width: 768px)
{
    .navbar.navbar-inverse .navbar-inner .btn-navbar{display:block !important;}
}

/*logo brand styles*/

.navbar-inverse .brand {color: #FFFFFF; font-weight: lighter; padding: 2px 20px 0; text-transform: uppercase;}

.logo-main { max-width: 60%;}

/*logo brand styles*/


.navbar-inverse .nav > li > a { border-left: 1px solid #101417; color: #D6D6D6; height: 28px; outline: 0 none; padding: 13px 15px 8px;  transition: background 0.1s linear 0s;
                                font-size: 12px; text-transform: none; font-weight: lighter;}

.navbar-inverse .nav > li > a:hover i { color: #FFFFFF;}
.navbar-inverse .nav > li > a:hover { background: none repeat scroll 0 0 rgba(25, 31, 36, 0.6);}

.navbar .nav.pull-right li{line-height: 20px;}/* to follow up the anubis styles overriding the line height. lineheight is being set to 20px according to the wireframe */

.navbar-inverse .settings i { color: #9BA3AD; font-size: 21px;} /*icon stylings*/

.dropdown-menu > li > a {font-size: 12px; } /*for adjusting font look*/

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background: none repeat scroll 0 0 #3C5B79 !important;
}

/*header styles for wire frames to match anubis styles*/

/*sidebar styles starts here*/


#sidebar-nav {float: left; margin: 0; padding-top: 5.8em; position: absolute;width: 180px; background-color: #F7F7F7;
              border-right: 1px solid #CCCCCC;
              transition: left 0.25s ease 0s; }

/*
@media (max-width: 767px) and (min-width: 320px)
{
    #sidebar-nav{left: -180px;}
    #sidebar-nav.display{left: 0; height: 100%;z-index: 9999;}
    #menu-toggler{display: none;}
}
*/



#sidebar-nav .btn-navbar {
    margin: 0 0 0 30px;
}

#sidebar-nav .btn-navbar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
}

#sidebar-nav .btn-navbar .icon-bar {
    background-color: #F5F5F5;
    border-radius: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
}

#dashboard-menu {
    list-style: none outside none;
    margin-bottom: 0;
    margin-left: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#dashboard-menu > li {line-height: 20px; position: relative;}

#dashboard-menu > li > a {
    border-bottom: 1px solid #DAE1E8;
    box-shadow: 0 2px 1px -1px #FFFFFF;
    color: #6E829B;
    display: block;
    margin-bottom: 5px;
    margin-left: -15px;
    margin-right: -15px;
    outline: 0 none;
    padding: 19px 14px 15px;
    width: 88%;
    font-size: 12px;
}
#dashboard-menu > li {
    position: relative;
}
#dashboard-menu > li .icon-group {
    font-size: 22px;
}
#dashboard-menu > li i {
    font-size: 23px;
    top: 17px;
}
#dashboard-menu .pointer {
    position: absolute;
    right: 8px;
    top: 20px;
    z-index: 9;
}
#dashboard-menu .pointer .arrow, #dashboard-menu .pointer .arrow_border {
    border-color: rgba(0, 0, 0, 0) #FFFFFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 11px;
    font-size: 0;
    left: 0;
    line-height: 0;
    margin: 0 auto 0 45%;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1002;
}
#dashboard-menu .pointer .arrow_border {
    border-color: rgba(0, 0, 0, 0) #C0D2DD rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 11px;
    margin-left: -1px;
    top: 0;
    z-index: 1001;
}
#dashboard-menu a span {
    font-weight: lighter;
    margin-left: 35px;
    transition: color 0.1s linear 0s;
}
#dashboard-menu a.ui-elements span {
    margin-left: 25px;
}
#dashboard-menu a i {
    height: 24px;
    left: 0;
    opacity: 0.7;
    position: absolute;
    transition: opacity 0.1s ease 0s;
    width: 24px;
}
#dashboard-menu a i.icon-chevron-down {
    color: #686868;
    float: right;
    font-size: 11px;
    height: initial;
    position: relative;
    top: 5px;
    width: initial;
}
#dashboard-menu > li:hover i {
    opacity: 1;
}
#dashboard-menu > li.active > a, #dashboard-menu > li > a:hover {
    color: #33455A;
    text-decoration: none;
}
#dashboard-menu > li.active a {
    font-weight: 600;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#dashboard-menu > li.active i {
    opacity: 1;
}
#dashboard-menu > li.active .dropdown-toggle {
    border-bottom: 0 none;
    box-shadow: none;
}
#dashboard-menu ul.submenu {
    border-bottom: 1px solid #DAE1E8;
    box-shadow: 0 2px 1px -1px #FFFFFF;
    display: none;
    list-style-type: none;
    margin: 7px 5px 15px -15px;
    padding-bottom: 10px;
    padding-left: 15px;
}
#dashboard-menu ul.submenu.active {
    display: block;
}
#dashboard-menu ul.submenu a {
    color: #4C535A;
    display: block;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 7px;
    text-decoration: none;
}
#dashboard-menu ul.submenu a:hover {
    text-decoration: underline;
}
#dashboard-menu ul.submenu a.active {
    font-weight: bold;
    text-shadow: none;
}

/*sidebar styles ends here*/

.loader-save-holder {
    background: url("../../img/transp.png") repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}


.loader-save {
    background: url("../../img/ajax-loader.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}


/*content styling starts here*/


.content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #DAE3E9;
    border-radius: 0 0 0 5px;
    box-shadow: -3px 3px 3px -2px #F1F1F3;
    margin-left: 177px;
    min-height: 620px;
    min-width: 400px;
    /*overflow: hidden;*/ /*disabled hidden because the top popovers were getting cutted off */
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}

@media (max-width: 479px) and (min-width: 320px)
{
    .content{min-width: inherit; margin-left:0; border-left:0; box-shadow: none;}
}


/*sticky navbar*/

.navbar {
    transition: all 0.3s ease-in-out 0s;
}

.nav-fixed-top {
    padding-bottom: 2px;
    padding-top: 2px;
}

.layer1 {
    position: relative !important;
    margin-right: 10px;
}

.navbar-inverse .pop-dialog {
    left: -55px;
    position: absolute;
    top: 64px;
}

.new-nav-btn1-color {
    background: none repeat scroll 0 0 #96C134 !important;
}

/*sticky navbar ends*/

#single-team .row {
    margin-top: 100px;
}

#single-team .team-img {
    position: relative;
}

.profile-main-img-editor {
    background: url("../../img/profile-trans.png") repeat scroll left top rgba(0, 0, 0, 0);
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    border-radius: 500px;
}

.pro-ops-holder {
    height: 100%;
}
.user-port-dp-ops {
    display: table;
    float: none;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
}
.user-port-dp-ops li {
    display: table-cell;
    margin: 0;
    padding: 0 12px;
    vertical-align: middle;
}
.user-port-dp-ops li a {
    background: none repeat scroll 0 0 #F97E76;
    border-radius: 4px;
    color: #FFFFFF;
    float: left;
    font-size: 22px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    transition: all 0.35s ease-in-out 0s;
    width: 70px;
}

.user-port-dp-ops li a i{font-size: 16px;}
.team-img > .profile-main-img-editor {
    opacity: 0;
    transition: opacity 0.25s ease-in-out 0s;
}
.team-img:hover > .profile-main-img-editor {
    opacity: 1;
}
#intro-box img {
    width: 100%;
}

#intro-box-dropdownft img {
    width: 100%;
}

#single-team .span9 {
    color: #323A45;
}
#single-team .team-description {
    margin-top: 20px;
}

/*responsive layout for the upload elements to match the concept*/
@media (max-width: 979px) and (min-width: 320px)
{

    .profile-main-img-editor{height:93%;}
    .user-port-dp-ops li a{width:40px; height:40px; line-height: 40px; font-size: 14px;}/*avatar upload buttons to match the size on smartphones*/

}

/*responsive layout for the upload elements to match the concept*/

#social-connected-profile ul.public-social-list {
    text-align: center;
}

#social-connected-profile ul.public-social-list li {
    cursor: pointer;
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 10px 20px 0 0;
    position: relative;
    width: auto;
}

#social-connected-profile ul.public-social-list li a {
    background-color: rgba(0, 0, 0, 0);
    display: block;
    transition: background 0.35s ease-in-out 0s;
}

#social-connected-profile ul.public-social-list li:hover span {
    display: block;
}

#social-connected-profile ul.public-social-list li span {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

#social-connected-profile ul.public-social-list li a i {
    color: #D0DBE2;
    display: inline-block;
    font-size: 32px;
    margin: 0;
    transition: color 0.15s ease-in-out 0s;
}

#social-connected-profile ul.public-social-list li:hover a {
}
#social-connected-profile ul.public-social-list li a:hover i {
    color: #F97E76;
}

.network-url-container {
    margin-bottom: 40px;
    margin-top: 40px;
}

.btn-ani {
    background: none repeat scroll 0 0 #F97E76;
    border: 0 none;
    border-radius: 2px;
    padding: 9px 12px;
}
.btn-ani i {
    color: #FFFFFF;
    font-size: 28px;
}
.btn-ani:hover, .btn-ani:active, .btn-ani:focus {
    background: none repeat scroll 0 0 #F97E76;
}
.btn-ani-embed {
    background: none repeat scroll 0 0 #E8EFF5;
    border: 0 none;
    border-radius: 2px;
    padding: 9px 12px;
}
.btn-ani-embed i {
    color: #323A45;
    font-size: 28px;
}
.btn-anbs {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E9F0F4;
    border-radius: 2px;
    padding: 13.7px 20px;
}
.btn-anbs:hover, .btn-anbs:active, .btn-anbs:focus {
    background: none repeat scroll 0 0 #FFFFFF;
}
.btn-anbs i.caret {
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-top: 6px solid #D0DBE2;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
}

.profile-url-tab {
    position: relative;
}
.default-margin-left {
    margin-left: 0 !important;
}

.btn-theme-anb {
    background: none repeat scroll 0 0 #3B8ACD;
}
.btn-connect {
    position: absolute;
    right: -20px;
    top: 0;
}

#social_url{height: 50px;}
@media (max-width: 479px) and (min-width: 320px)
{
    #social_url{height: 50px;}
}

.chk-av-current {
    margin-bottom: 35px;
    margin-top: 35px;
}

.green-badge {
    background: none repeat scroll 0 0 #59B958;
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 500;
    margin: 0;
    padding: 12px 24px;
    text-transform: uppercase;
}


.availability-options {
    margin-top: 45px;
}

.availability-ops {
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 45px;
    padding-bottom: 35px;
}

.edit-avl-chk {
    margin: 17px 0 0;
}


.avail-soon {
    margin-left: 71px;
}

.grey-badge {
    background: none repeat scroll 0 0 #323A45;
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 500;
    margin: 0;
    padding: 12px 24px;
    text-transform: uppercase;
}

/*embed video section*/

.area-darker {background: none repeat scroll 0 0 #2B333E; color: #FFFFFF; text-align: center;} /*darker background to match the concept art*/
.area-darker p {font-size: 16px; margin-top: 20px;}
.embed-video-ico-support i{color: #fff; font-size: 120px; margin-bottom: 10px;}/*for the video icon size*/
.profile-url-tab input[type="text"]{height:50px;}
.dont-own-note {color: #323A45; float: left; font-weight: lighter; margin: 30px 0 15px; padding: 0; text-align: center; text-decoration: underline; width: 100%; font-size: 16px;} /*dont own video*/
.dont-own-note:hover, .dont-own-note:active, .dont-own-note:focus{color: #fff;}
#intro-box i.ico-done{position: absolute; right: 0; top: 0; font-size: 40px; color: #dee5eb; right: 60px;top: 25px;}
#intro-box-dropdownft i.ico-done{position: absolute; right: 0; top: 0; font-size: 40px; color: #dee5eb; right: 60px;top: 25px;}
/*embed video section ends*/

/*full width image section*/

#full-width-box {background: none repeat scroll 0 0 #2B333E;padding: 0 0 80px;position: relative; color: #fff;}
#full-width-box i.complete-mark { color: #96BF48;font-size: 40px; position: absolute; right: 60px; top: 60px;}
#full-width-box h3 {font-weight: 600; margin-bottom: 20px ; margin-top: 200px; color: #fff;}
#full-width-box p { color: #FFFFFF; font-size: 22px; font-weight: 500; line-height: 1.7; margin-bottom: 60px;  padding: 0; text-align: center;}
.btn-drag {display: block;margin: 0px auto 5px;}
#full-width-box a { color: #F97E76; display: block; font-size: 22px; font-weight: 500; line-height: 1.7; margin: 64px auto 30px; padding: 0; text-align: center; text-decoration: underline;}

/*image edit trigger styles*/

.skins-nav {font-size: 13px;opacity: 1; position: fixed;right: -48px; top: 135px; transition: right 0.3s ease 0s; z-index: 9999;}
.content .skins-nav:hover {
    right: 0;
}
.skins-nav a { border-radius: 4px 0 0 4px; color: #FFFFFF; display: block; height: 37px; margin-bottom: 3px; padding-left: 10px;text-decoration: none;transition: all 0.5s ease 0s;}
.skins-nav a.first_nav {background: none repeat scroll 0 0 rgba(95, 175, 228, 0.8);}
.skins-nav a.first_nav:hover { background: none repeat scroll 0 0 #5FAFE4;}
.skins-nav a .text {color: #FFFFFF;display: block;font-family: 'Open Sans',sans-serif; font-size: 20px;font-weight: 300; padding-left: 30px; position: relative; top: -35px;
                    transition: width 0.2s ease 0s; white-space: nowrap;width: 50px;}
.skins-nav a span.icon-edit{font-size: 24px;line-height: 39px;}

.view-vid-img .skins-nav{display: none;}

.view-vid-img:hover .skins-nav{display: block;}

/*image edit trigger styles ends*/

/*full width image section ends*/

.latest-work-holder { float: none; margin: 0 auto; position: relative; z-index: 9;}
.latest-work-holder > .latest-work-disp { opacity: 0; transition: opacity 0.25s ease-in-out 0s;}
.latest-work-disp { background:rgba(255, 255, 255, 0.5); cursor: pointer; float: left; height: 100%; margin: 0; overflow-y: auto;
                    position: absolute; top: 0; width: 100%; z-index: 99;}

.latest-work-disp h4 {
    margin: 10% 0 10px;
}
.latest-work-disp .ltwrk-disp {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 10px;
}
.latest-work-disp .ltwrk-tools {
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
    margin: 20px 0 0;
}
.latest-work-holder > .latest-work-disp {
    opacity: 0;
    transition: opacity 0.25s ease-in-out 0s;
}
.latest-work-holder:hover > .latest-work-disp {
    opacity: 1;
    z-index: 1;
}
.latest-work-holder:hover > img {
    transition: all 0.2s ease-in-out 0s !important;
    z-index: 1;
}
.user-port-work-ops {
    display: table;
    float: none;
    margin: 34% 0 0 30.5%;
    padding: 0;
}
.user-port-work-ops li {
    display: inline;
    float: left;
    /*    margin: 0 10px 0 26px;*/
    padding: 0;
}
.user-port-work-ops li a {
    background: none repeat scroll 0 0 #F97E76;
    border-radius: 4px;
    color: #FFFFFF;
    float: left;
    font-size: 22px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    transition: all 0.35s ease-in-out 0s;
    width: 70px;
}

.user-port-work-ops li a i{font-size: 24px;}

.done-completed {
    margin: 12px 0 0;
}
.ico-adjust-right {
    margin-right: 10px;
    margin-top: 8px;
}

.key-skills li a i {
    color: #FFFFFF;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}

.key-skills li a {
    position: relative;
    z-index: 9;
}

.key-skills li a:hover i {
    display: block;
}

.profile-url-tab {
    position: relative;
}

.btn-add-skills {
    position: absolute;
    right: 0;
    width: 200px;
    top: 0;
}

.network-url-container {
    margin-bottom: 40px;
    margin-top: 40px;
}

.btn-recommend-request {
    position: absolute;
    right: 0;
    width: 200px;
    top: 0;
}

#latest-work h1 i, #latest-work h2 i, #latest-work h3 i, #latest-work h4 i, #latest-work h5 i, #latest-work h6 i{font-size: 40px;}

/*to adjust the fixed nav item*/

.nav-fixed-top button span[class^="icon-"]{font-size: 16px;}

.navbar-inverse .pop-dialog .body {
    box-shadow: 0 1px 9px 1px #C2C2C2;
}

.navbar-inverse .pop-dialog .close-icon {
    color: #333333;
    float: right;
    font-size: 14px;
    margin: 0 5px 0 0;
    position: relative;
    text-decoration: none;
    z-index: 9999;
}

.navbar-inverse .pop-dialog .notifications {
    margin: 10px 0 0;
}

.navbar-inverse .pop-dialog .notifications h3 {
    color: #404951;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 5px;
    padding-left: 20px;
}


.navbar-inverse .pop-dialog .notifications .item {
    border-top: 1px solid #E7E8EA;
    color: #363636;
    display: block;
    font-size: 13px;
    font-weight: 300;
    padding: 10px 0 8px 44px;
    position: relative;
    text-decoration: none;
}

.chart-top-holder {
    margin: 0;
    padding: 0;
}

.round-chart-top {
    height: 250px;
    overflow: hidden;
    width: 329px;
}

.navbar-inverse .pop-dialog .footer {
    background-color: #EFF4F7;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #E6E8E9;
    margin: 15px 0 -10px;
    padding: 12px 20px;
    text-align: center;
}
.navbar-inverse .pop-dialog .footer a:first-child{margin-right: 10px;}
.navbar-inverse .pop-dialog .footer p{margin-bottom: 0;}

.navbar-inverse .pop-dialog .notifications .item > i {
    color: #FC827B;
    font-size: 18px;
    left: 19px;
    position: absolute;
    top: 13px;
}
.ico-adjust-right {
    margin-right: 10px;
    margin-top: 14px;
}

.ico-adjust-right i.caret{border-top:4px solid #9ba2ac;}

.schemaholder {
    display: none;
    overflow-x: hidden;
    padding: 5px 2%;
    width: 96%;
}


.color-swatch {
    border-radius: 2px;
    box-shadow: 0 0 5px #999999;
    display: block;
    float: left;
    height: 50px;
    margin: 0 32px 30px 0;
    padding: 2px;
    position: relative;
    width: 50px;
    z-index: 9;
}

.color-swatch p{
    bottom: -22px;
    float: left;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #9BA2AC;
}

.color-swatch p.doubled{bottom: -32px;}

.swatch-caret {
    border-radius: 0;
    bottom: 2px;
    height: 19px;
    padding: 0 4px;
    position: absolute;
    right: 2px;
    width: 16px;
    z-index: 99;
}

.padding-default-left {
    padding: 0 !important;
}


.image-disp-container{margin: 20% 0 0 -7%;}

.field-box{margin-bottom:24px;}

.dont-own-note a{text-decoration: underline; font-weight: 300;}
.dont-own-note a:hover{color: #323A45;}
.note-own-dont{text-align: center;}

#edit_prof .field-box input[type="text"] {width: 52.5%; display: table; margin: 0 auto;background-clip: padding-box;
                                          background-color: #FFFFFF;
                                          border: 1px solid #D4D4D4;
                                          border-radius: 4px;
                                          color: #99989D;font-size: 14px;
                                          font-weight: 500;
                                          height: 40px;
                                          line-height: 40px;
                                          overflow: hidden;
                                          padding: 0 0 0 20px;
                                          position: relative;
                                          text-decoration: none;
                                          white-space: nowrap; font-style: italic;}

.video-plugin-location {position: relative;}

.drag-img-container{margin: 0; padding: 0; width: 100%; float: left; position: absolute; bottom: 97px; text-align: center; display: none;}
.drag-img-h{border-radius: 2px; -webkit-border-radius: 2px; font-weight: 600; text-transform: uppercase;}
.emb-vid-ins{border-radius: 2px; -webkit-border-radius:2px; font-weight: 600; text-transform: uppercase; color: #fff; background:#303749; font-size: 14px; padding: 2px 10px; }
.drg-img{margin-bottom: 37px;}
/*#intro-box:focus .drag-img-container{display: block;}
.view-vid-img:focus .drag-img-container{display: block;}*/
/*#full-width-box:focus .file-dropper-parent{display:block;} *//*Commented by shafqat */
/*.dz-drag-hover .file-dropper-parent{display:block;}*/
/*.dz-drag-hover .file-dropper-parent{display: block;}*/
/*.dz-drag-hover .file-dropper-parent{display: block;}*/
/*.single-showcase .file-dropper-parent{display: block;} */

.file-dropper-parent{position: absolute; top: 0; left: 0; bottom:0; right: 0; background: rgba(255,255,255,0.9); width: 100%; height: 100%; z-index: 99; /*padding: 25px 30px;*/ padding: 0px; cursor: pointer; display: none; transition:all ease-in-out 0.3s;}
.file-dropper-child{margin-bottom: 0; padding: 0; width:99%; height: 100%; border: 4px dashed #b6c2ce; border-radius: 4px; display: table; vertical-align: middle; position: relative; cursor: pointer;}
.dropbox{/*display: table-cell; width: auto; text-align: center; vertical-align: middle;*/ cursor: pointer; width:100%; height:100%; float:left; top:0; left:0; right:0; bottom:0;
    position:absolute;z-index: 999; background: url("../../img/drop_file.png") center center no-repeat rgba(0,0,0,0);}
.dropbox img{margin-bottom: 20px; visibility: hidden;}
.dropbox h5{color: #bdc3d3; visibility: hidden;}
.default_padd{padding: 0 !important;}
/*content styling ends here*/

/*menu toggler*/
.change .content{margin-left: 65px;}
.change #dashboard-menu{margin-left: 0px;}
.change #dashboard-menu li a span {visibility: hidden;}
.change #sidebar-nav .btn-navbar{margin-left:12px;}
.change #dashboard-menu .pointer .arrow, .change #dashboard-menu .pointer .arrow_border{left:-112px;}

/*menu toggler*/

/*dropdown menu*/

.dropdown-menu li{display: block !important;}

/*dropdown menu*/

/*color swatch*/

.color-swatch .inner {margin: 0; padding: 0; width: 50px; height: 50px; display:block; float:left;}

/*color swatch*/

/*Add Exp buttons styles to match concept art*/

.work-exp-container .accordion-heading .accordion-toggle, .edu-container .accordion-heading .accordion-toggle, .awards-container .accordion-heading .accordion-toggle{border-radius: 4px;}
.work-exp-container .accordion-heading .accordion-toggle span, .edu-container .accordion-heading .accordion-toggle span, .awards-container .accordion-heading .accordion-toggle span{margin-top: 6px;}
/*.work-exp-container .work-experience-data, .edu-container .education-detail-data, .awards-container .award-detail-data {margin-bottom: 30px;}*/
/*.work-experience-delete-btn{position: absolute; margin-top:-30px;}*/
/*Add Exp buttons styles to match concept art*/


/*side nav arrow on devices*/

/*side nav arrow on devices*/

/*CSS NEW LOADER FOR DIV(FAISAL-RAMEEZ) START*/
.div_loader{
    width: 100%;
    height: 120px;
    background: url("../../img/loader.gif") center center no-repeat rgba(230, 230, 230, 0.29);
    position: relative;
    top: 0px;
    left: 0px;
}
#latestwork_dropdown_notearea.active .latestwork_dropdown_notearea_file_dropper {
    /*display:block; */
}
.intro-box_featured_bg.active .container-fluid{
    display:none;
}

.intro-box_featured_bg.active .file_drop_intro_box_featured_bg, #full-width-box.active .file_drop_full_width_box_featured_bg, #latestwork_dropdown_notearea.active .latestwork_dropdown_notearea_file_dropper {
    display:block;
    pointer-events:none;
}
#latestwork_dropdown_notearea{
    position:relative;
}

/*CSS NEW LOADER FOR DIV(FAISAL-RAMEEZ) END */

/*Profile edit modal to match concept art*/

#myModal{width: 860px; left:40%;}
@media (max-width: 479px) and (min-width: 320px)
{
    #myModal{width: inherit; left:3%;}
}
#myModal .modal-content .modal-header .modal-title{margin:0;}
.modal-body .field-box:last-child{margin-bottom:0;}

/*profile edit modal ends here*/

/*Warm Welcome container edit by aariz*/
.warm-welcome-container{margin: 0; padding: 0; width: 100%; height: 100%; position: fixed; z-index: 9999; top: 100px; left:0;}
.welcome-overlay{margin: 0; padding: 0; width: 100%; height: 100%; position: fixed; z-index: 9; top: 0; background: #000; opacity: 0.9; display: block;}
.welcome-wrapper{max-width: 624px; display: block; margin: 0 auto; position: relative; z-index: 99;}
.welcome-wrapper h4{margin: 0; padding: 0; width: 100%; float: left; text-align: center; color: #fff; font-size: 24px;}
.welcome-wrapper h1{margin: 35px 0; padding: 0; width: 100%; float: left; text-align: center; color: #fff; font-size: 40px; font-weight:bold;}
.welcome-wrapper p{margin: 20px 0; padding: 0; width: 100%; float: left; text-align: center; color: #fff; font-size: 14px; line-height: 33px;}
.welcome-buttons-container{text-align:center;}
.warm-welcome-container .welcome-buttons-container a.dt-show-text{display: table;font-size: 13px;margin: 20px auto 0 auto;text-decoration: underline;}

.welcome-wrapper a.next{/*margin: 40px 20px 0 136px; padding: 0; width: 167px; height: 48px; line-height: 48px;*/ text-transform: uppercase; /*float: left;*/ text-align: center; color: #fff; font-size: 14px; background: #323a45; border-radius:4px; margin-right:15px;}
.welcome-wrapper a.demo{/*margin: 40px 0; padding: 0;width: 167px; height: 48px; line-height: 48px;*/ text-transform: uppercase; /*float: left;*/ text-align: center; color: #fff; font-size: 14px; background: #fd7f73; border-radius:4px;}


/*Warm Welcome container edit by aariz end*/

.no-backgound{
    background: none !important;
}

.resend-reminder-remove-btn, .recommendation_pending_approval_remove_btn {color: #CFCFCF;cursor: pointer;  margin: -15px 20px 30px 0 !important}
.send-reminder, .pending-approval {color: #CFCFCF;cursor: pointer;  margin: 15px 20px 30px 0 !important}
.uploader-overlay{margin:0; padding:0; width: 100%;height: 100%; top:0; left:0; right:0; bottom:0; position:absolute; background: rgba(255,255,255,0.76);}
.progress-holder{width:100%; height:60px; position: absolute; bottom:0; display:block; background: #e8f0f3;}
.progress-main{margin:0; padding:0; width: 50%; float:left; height: 60px; background: #F97E76;}
.progress-main p{line-height: 60px; color:#fff; padding-left: 25px; float:left;}
.contact-top-ico{padding: 4px 12px 7px; border-radius: 4px; margin:0; display: none;margin: 9px 0 0 30px; transition:all 0.1s linear 0s;}
.contact-top-ico i{color:#fff;margin: 0; padding: 0;}
.contact-top-ico:hover{background: #F97E76;}
.warm-video{display: block; position: relative;  z-index: 99; margin-top:-70px;}
.warm-menu{display: block; position: relative;  z-index: 99;}
.warm-video iframe{width: 100%; min-height: 460px !important;}
.ready-con{text-align: center; padding-top: 30px;}
.warm-menu-holder{text-align: center; /*margin-top:-100px;*/}
.warm-menu-holder h4{font-weight: bold; font-size: 45px; color: #fff; text-transform: capitalize; margin-bottom:55px;}
.warm-menu-holder img{max-width: 100%; margin-bottom: 25px;}
/*By shafqat */
#portfolio-image-column1 .placeholder,#portfolio-image-column2 .placeholder{
    background: #f2f2f2;
    border: 2px dashed #b6c2ce;
    margin-bottom: 20px;

}

.public-sticky{visibility: hidden;display: none;}
.team-first{margin-top:40px;}
.btn-disabled
{
    background: #4d6239 !important; cursor: not-allowed; color: #6e777c !important;
}

#latest-on-images-dropbox{position:relative;}
#latest-on-images-dropbox .portfolio-cloud-dropper{display:none;position:absolute; top:0; left:0; right:0; bottom:0; border:4px dashed #b9c3cf; boredr-radius:8px; background:url("../../img/cloud-dropper.png") center 120px no-repeat rgba(255,255,255,0.9); z-index: 999; pointer-events:none;}
#latest-on-images-dropbox.active .portfolio-cloud-dropper{display:block;}

#intro-box-dropdownft {
    position: relative;
}

/*#latest-on-images-dropbox.latestwork_parent.active *{pointer-events:none; } */


.sortable-image-title-text{width: 93%;}
.image-disp-container .select2-choices {margin: 0 !important;}
.image-disp-container .select2-container {width:100.3%;}
.select2-drop.select2-drop-multi.select2-drop-active.select2-drop-above {display: none !important; visibility: hidden;}
.select2-drop.select2-drop-multi.select2-drop-active{display: none !important; visibility: hidden;}
.select2-container-multi .select2-choices{padding: 10px !important; border-radius: 2px !important;}
.latest-work-disp .image-disp-container .select2-container-multi .select2-choices .select2-search-field input { font-size: 14px; color: #555555;}
.latest-work-disp .image-disp-container .select2-container.select2-container-multi.select_media_img_tags.sortable-image-tag-text.media-img-tags {margin-bottom:10px !important;}

/*preview image tags*/
.latest-work-holder .latest-work-disp .media_tag.media-img-tag{margin: 0; padding: 0; width: 93%; float:left; list-style-type: none;}
.latest-work-holder .latest-work-disp .media_tag.media-img-tag li{margin: 0 10px 10px 0; padding: 0; float:left; display: inline;}
.latest-work-holder .latest-work-disp .media_tag.media-img-tag li a{background-color: #323A45; border: medium none; border-radius: 2px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 14px;
                                                                    font-weight: 500; line-height: 1em; margin-bottom: 0; padding: 12px 24px; text-align: center; text-transform: uppercase; transition: all 0.1s linear 0s;
                                                                    vertical-align: middle;}
.latest-work-holder .latest-work-disp .media_tag.media-img-tag li a:hover{background-color: #F97E76;color: #FFFFFF;}
/*preview image tags*/

/*adjusting the width of list item in social dropdown*/

.network-url-container .user-pro-url-adjust .btn-group ul.dropdown-menu li {margin:0 !important;}
.network-url-container .user-pro-url-adjust .btn-group ul.dropdown-menu li:last-child a {border-radius:0 0 3px 3px;}

.profile-url-tab #skill, .profile-url-tab .select2-container{
    width:73% !important;
}

.profile-url-tab .select2-container a.select2-choice , .profile-url-tab .select2-container a.select2-choice span{
    height: 49px;
}

.profile-url-tab .select2-container a.select2-choice span{
    padding-top: 5px;
}

.profile-url-tab .select2-container a.select2-choice div{
    display: none;
}

@media only screen and (max-width: 767px) and (min-width: 150px){
    .profile-url-tab #skill{
        width:80% !important;
    }
    
    .profile-url-tab .select2-container{
        width:100% !important;
    }
    
    .profile-url-tab .select2-container a.select2-choice , .profile-url-tab .select2-container a.select2-choice span{
        height: 34px;
    }

    .profile-url-tab .select2-container a.select2-choice span{
        padding-top: 0px;
    }
}