/*@media (max-width: 460px) and (min-width: 320px)
{
    .content .navbar-inner.nav-fixed-top{padding-left: 5px; padding-right: 5px;}
}*/

/*@media (max-width: 979px) and (min-width: 320px)
{
    .contact-top-ico{display: block;}
}*/

@media (max-width: 372px) and (min-width: 150px)
{
    .navbar-inner.nav-fixed-top{padding-left:8px; padding-right:8px;padding-top: 7px;}
    .navbar-inner.nav-fixed-top .button-main.button-large{padding: 9px 11px}
}

@media (max-width: 979px) and (min-width: 150px)
{
    #sidebar-nav{left:-180px;padding-top: 2.8em;}
    .content{margin-left:0; border-left:0; box-shadow:none;}
    #sidebar-nav.display { height: 100%;left: 0; z-index: 9999; }
    #sidebar-nav #menu-toggler {display: none;}
    .contact-top-ico{display: block;}
    .change .content{margin-left:0;}
    .change #dashboard-menu li a span{visibility: visible;}
}
@media only screen and (min-width:150px) and (max-width:767px)
{

    #single-team .team-name h2, #single-team .team-name h3, #single-team .team-name p {float: none; text-align: center;}
    #single-team .team-description {text-align: center;}
    #latest-work h4 {text-align: left;}
    .network-url-container .user-pro-url-adjust .btn-group{display: table; margin: 0 auto;}
    .green-badge, .grey-badge{display:table; margin: 0 auto;}
    .team-name .btn-dis {position:absolute; right:10px;}
    .profile-url-tab{margin-top: 10px;}/*managing gap between the social dropdown and the lower link field*/
    .profile-url-tab #social_url, .profile-url-tab #skills, .profile-url-tab #recommendation_email, .profile-url-tab .video-embed-url-field {height:36px !important; padding: 0 15px;}/*managing the field size to match up with the linked btn*/
    .btn-connect{right:0;}/*to stick with the field's edge*/
    .edit-avl-chk{float:none; display: table; margin: 7px auto;}/*centering the checkbox*/
    .green-badge, .grey-badge{margin: 0 auto !important; padding:12px 15px;}/*centering the badges*/
    /*.gallery-best-container{min-height:445px}*//*to adjust the content visiblity*/
    .latest-work-disp{padding: 0; width: 100%;}

/*    .user-port-work-ops li{margin:0 10px 0 26px;}*/
    .user-port-work-ops li a{width: 50px; height: 50px; line-height: 50px;}
    .user-port-work-ops li a i{font-size: 18px;}

    #latest-work h1, #latest-work h2, #latest-work h3, #latest-work h4, #latest-work h5, #latest-work h6{word-break: break-all;}
    #latest-work h1 i, #latest-work h2 i, #latest-work h3 i, #latest-work h4 i, #latest-work h5 i, #latest-work h6 i {font-size: 22px;}
    .btn-add-skills{width: 120px;}
    .btn-recommend-request{width: 145px;}
    #single-team .team-social ul li{display: inline-block;}
    .sticky{margin-right:0;}
    .embed-video-sec{height: 470px; padding-bottom: 0;}
    .video-container{padding-bottom:0; height:375px;}
    #full-width-box .video-container h3{margin-top:0;}
    #full-width-box i.complete-mark{position:absolute; right:5px; top:5px; font-size:24px;}
    #full-width-box a{margin:24px auto 30px}
    .video-profile-res{padding-bottom: 56.25%; padding-top: 30px; height:0;}
    .drag-img-container{bottom:7px;opacity: 0.26; transition:opacity 0.25s ease-in-out 0s;}
    .video-plugin-location:hover .drag-img-container{opacity:1;}
    #intro-box i.ico-done{right: 28px;top: 75px;}
    #intro-box-dropdownft i.ico-done{right: 28px;top: 75px;}
    .pop-dialog .body{ min-width: 305px !important;}
    .color-swatch{margin-right:28px;}
    .pull-left.span3.request-right-area {margin: 20px 0 50px;}
    .pending-left-area p{margin: 0;}
    #latest-work .row-fluid .span4 {margin-bottom: 10px;text-align: left;}

    .latest-work-holder img{height: auto !important;}

    /*warm welcome stylings*/

    .warm-welcome-container{top:10px;}
    .welcome-wrapper h1{margin: 25px 0;font-size: 27px;}
    .welcome-wrapper p{margin: 0;font-size: 14px;line-height: 28px; margin-bottom:20px;}
    .welcome-buttons-container{text-align:center;}
    .warm-two{margin-top:90px;}
    .warm-video iframe{min-height: 300px !important;}
    .warm-video{margin-top: 30px;}

    /*warm welcome stylings*/

    /*expanding section backgrounds to fill the entire spaces*/

    /*body{padding-left: 0; padding-right: 0;}*/

    #single-team-section, #single-team, #intro-box-dropdownft, #full-width-box, #intro-box, #latestwork_dropdown_notearea, #services-box
    {
        margin-right: -20px; margin-left: -20px; padding-right:20px ; padding-left: 20px;
    }


}

@media only screen and (min-width:480px) and (max-width:767px)
{
/*    .user-port-work-ops li{margin:0 10px 0 26px;}*/
    .user-port-work-ops li a{width: 70px; height: 70px; line-height: 70px;}
    .user-port-work-ops li a i{font-size: 24px;}
}

@media only screen and (min-width:768px) and (max-width:979px)
{
    .profile-url-tab #social_url{width: 90% !important; float:right;}
/*    .user-port-work-ops li{margin:0 10px 0 26px;}*/
    .user-port-work-ops li a{width: 50px; height: 50px; line-height: 50px;}
    .user-port-work-ops li a i{font-size: 18px;}
    .grey-badge, .green-badge{padding:12px 24px; font-size: 14px;}
    .profile-url-tab .video-embed-url-field{width: 72%;}
    .video-container{padding-bottom: 75.25%;}
}
@media only screen and (min-width:980px) and (max-width:1199px)
{
    .video-container{padding-bottom: 59.25%;}
}




