/* PAGINATION */

.pagination {
    margin: 8px 0;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span,
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span{
    font-size: 23px;
    color: #bcc6d3;
    padding: 1px 9px 3px 9px;
}
.pagination ul > li:last-child > a:hover,
.pagination ul > li:last-child > span:hover,
.pagination ul > li:first-child > a:hover,
.pagination ul > li:first-child > span:hover{
    color: #4f4f4f;
}
.pagination ul > li > a, .pagination ul > li > span{
    border-color: #d0dde9;
    color: #4f4f4f;
    font-weight: 600;
    padding: 2px 12px;
    box-shadow: 0px 1px 0px 0px #efefef;
    transition: background-color .1s linear;
    -moz-transition: background-color .1s linear; /* Firefox 4 */
    -webkit-transition: background-color .1s linear; /* Safari and Chrome */
    -o-transition: background-color .1s linear;  /* Opera */
}
.pagination ul > li > a.active{
    color: #3b9ff3;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    background-color: #f5f5f5;
}

/* pagination inverse */

.pagination.inverse ul > li:last-child > a,
.pagination.inverse ul > li:last-child > span,
.pagination.inverse ul > li:first-child > a,
.pagination.inverse ul > li:first-child > span{
    font-size: 23px;
    color: #fff;
    padding: 1px 9px 3px 9px;
}
.pagination.inverse ul > li:last-child > a:hover,
.pagination.inverse ul > li:last-child > span:hover,
.pagination.inverse ul > li:first-child > a:hover,
.pagination.inverse ul > li:first-child > span:hover{
    color: #fff;
}
.pagination.inverse ul > li > a, .pagination.inverse ul > li > span{
    border-top-color: #333e4a;
    border-bottom-color: #333e4a;
    border-right-color: #566676;
    border-left: 0px;
    color: rgb(241, 241, 241);
    font-weight: 600;
    padding: 2px 12px;
    background: #333e4a;
    transition: background-color .1s linear;
    -moz-transition: background-color .1s linear; /* Firefox 4 */
    -webkit-transition: background-color .1s linear; /* Safari and Chrome */
    -o-transition: background-color .1s linear;  /* Opera */
}
.pagination.inverse ul > li > a.active{
    color: #3b9ff3;
    background-color: #212b36;
    border-right-color: #212b36;
    margin-left: -1px;
}
.pagination.inverse ul > li > a:hover,
.pagination.inverse ul > li > a:focus,
.pagination.inverse ul > .active > a,
.pagination.inverse ul > .active > span {
    background-color: #212b36;
}